.action-card--positionable {
  padding-bottom: 80px !important;

  .action-card__position-bottom {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
  }
}

.action-card {
  &.is-error {
    border-top: 3px solid $error;
  }
}
