@mixin maas-tables {
  %ellipse-text {
    @media (min-width: $breakpoint-small) {
      text-overflow: ellipsis;
      overflow-x: hidden;
      overflow-y: visible;
      white-space: nowrap;
    }
  }

  table {
    overflow-x: visible;
    input[type="radio"],
    input[type="checkbox"] {
      float: none;
    }

    form {
      input[type="radio"],
      input[type="checkbox"] {
        float: left;
      }
    }

    thead {
      th {
        @extend %smallest-text;
        margin-bottom: 0;
        padding-bottom: map-get($line-heights, default-text) -
          $line-height--smallest - $nudge--smallest;
        padding-top: map-get($nudges, nudge--smallest);
        text-transform: uppercase;
      }
    }

    th,
    td {
      @extend %ellipse-text;
      display: table-cell !important;
      flex-basis: auto !important;
      flex-grow: 0;
      vertical-align: top;
      padding-bottom: 0.05rem;

      &:first-of-type {
        padding-left: $sph-intra--condensed;
      }

      &:not(:last-child) {
        padding-right: $sph-intra--condensed;
      }
    }

    p {
      @extend %ellipse-text;
    }
  }

  tr {
    &.is-active {
      background-color: $color-x-light;
    }

    &.is-suppressed {
      > td:nth-child(2),
      > td:nth-child(3),
      > td:nth-child(4),
      > td:nth-child(5),
      > td:nth-child(6) {
        opacity: 0.5;
      }
    }

    thead & {
      border-bottom-color: $color-mid-light;
    }

    tbody & {
      &:not(:first-child) {
        border-top-color: $color-light-new;
      }
    }
  }

  tr.ng-hide + tr {
    border: 0;
  }

  .p-table--action-cell {
    overflow: visible;
  }
}
