@mixin maas {
  .u-baseline-grid {
    $baseline-color: #f00 !default;
    $baseline-offset: 0 !default;
    $baseline-size: $sp-unit !default;

    position: relative;

    &::after {
      background: linear-gradient(
        to top,
        transparentize($baseline-color, 0.7),
        transparentize($baseline-color, 0.7) 1px,
        transparent 1px,
        transparent
      );
      background-size: 100% $baseline-size;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: $baseline-offset;
      z-index: 100;
    }

    &__toggle {
      bottom: $spv-inter--scaleable;
      position: fixed;
      right: $sph-inter--expanded;
      z-index: 101;
    }
  }

  // XXX Footer link fix
  // Issue: https://github.com/vanilla-framework/vanilla-framework/issues/1500
  .p-footer__link {
    color: $color-link;

    &::after {
      color: $color-dark;
    }
  }

  body {
    background-color: $color-light;
  }

  maas-obj-field,
  maas-obj-errors,
  maas-obj-form,
  maas-machines-table,
  storage-disks-partitions,
  storage-filesystems {
    display: block;
    position: relative;
  }

  maas-obj-field[type="text"],
  maas-obj-field[type="password"] {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  textarea {
    min-height: 175px;
  }

  .field-description textarea {
    min-height: initial;
  }

  .p-table--mobile-card {
    td[aria-label] {
      min-height: 2rem;
    }

    td,
    tr {
      @media (max-width: $breakpoint-medium) {
        overflow-x: visible;
      }
    }
  }

  .u-float-none {
    float: none !important;
  }

  p:empty,
  ul:empty,
  label:empty {
    margin: 0;
    padding: 0;
  }

  .tags .input {
    width: 100% !important;
  }

  dl dt:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  .p-navigation--sidebar {
    background: $color-x-light;

    .sidebar__content {
      top: 0;
      padding: 1rem;
    }
  }

  .sidebar__content .sidebar__second-level .is-active {
    background-position-y: 0.9rem;
  }

  .u-float--none {
    float: none !important;
  }

  .u-remove-max-width {
    max-width: none;
  }

  .p-navigation--sidebar {
    &::after {
      background: transparent;
    }
    margin-bottom: $spv-inter--scaleable;
  }

  .p-form__control {
    margin-top: 0;
    white-space: normal;
  }

  .p-form-help-text {
    display: inline-block;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 2.3rem;
  }

  maas-obj-field[type="password"] {
    background: transparent;
    border: 0;
  }

  .p-list-tree .p-list-tree::after {
    display: none !important;
  }

  .editable {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;

    &:hover,
    &.editmode {
      border: 1px solid $color-mid-light;
    }
  }

  .page-header__title-domain {
    display: inline-block;
    width: auto;
    @include vf-heading-4;
  }

  .col-12 {
    width: 100%;
  }

  // Can be removed when the settings section is updated
  .errorlist {
    list-style: none;
    display: inline-block;
    margin-left: 0;
  }

  // Sidebar selected state
  .sidebar__second-level .is-active {
    background: transparent url("../assets/images/89c10794-remove.svg") top
      $sp-small right $sp-large no-repeat;
    background-size: 12px;
  }

  // Checkbox height is not needed
  .p-form__control [type="checkbox"] {
    height: auto;
    min-height: auto;
  }

  // Bespoke styling for script reveal functionality
  .p-script-expander {
    border-color: $color-mid-light;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    &__content {
      overflow: hidden;
      width: 100%;
      margin-top: 0;
    }

    &__controls {
      vertical-align: top;
    }
  }

  // The contextual menu action dropdown list should not be smaller than the
  // button
  .p-contextual-menu__dropdown {
    display: block;
    min-width: 13rem; // Enough to fit "Override faild texting without truncation. AMend if there's a longer one."
    width: 100%;
  }

  .p-tooltip__message {
    margin: 0;
    z-index: 100;
  }

  .u-upper-case--first {
    text-transform: capitalize;
  }

  .u-no-wrap {
    white-space: nowrap;
  }

  .u-wrap {
    white-space: normal;
  }

  .p-form__group {
    .col-1:first-child,
    .col-2:first-child,
    .col-3:first-child,
    .col-4:first-child,
    .col-5:first-child,
    .col-6:first-child,
    .col-7:first-child,
    .col-8:first-child,
    .col-9:first-child,
    .col-10:first-child,
    .col-11:first-child,
    .col-12:first-child {
      margin-left: 0;
    }
  }

  .flex-row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }

  .flex-item {
    flex: 1;
  }
}

// XXX Prevent "create new tag" showing on certain autocomplete modules
// Issue: https://bugs.launchpad.net/maas/+bug/1823014
.hide-create-tag-label .create-tag-label {
  display: none;
}

// Flip chevron in hardware tests table
.p-table--controllers-commissioning .is-active .p-icon--chevron {
  transform: rotate(180deg);
}
