@mixin maas-pages {
  table thead {
    @media screen and (min-width: $breakpoint-medium + 1) {
      display: table-header-group !important;
    }
  }

  table thead,
  .table .table__head {
    width: auto !important;

    &.table__head--sticky {
      background: #fff;
      padding: 0;
      width: 100vw !important;
      left: 0 !important;
      right: 0 !important;
      border-top: 1px dotted #d2d2d2;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      height: auto !important;

      tr th {
        float: none;
      }
    }
  }

  .u-upper-case {
    &--first {
      text-transform: capitalize;
    }
  }

  .icon.icon--power-error {
    background-image: url(../assets/images/d730daea-error.svg);
  }

  .icon.icon--add-pod {
    background-image: url(../assets/images/add-pod.svg);
  }

  .wrapper {
    min-height: initial;
    height: initial !important;

    &--sticky {
      display: block !important;
      overflow: visible;
      float: left;
      width: 100% !important;
    }
  }

  .nav {
    @media only screen and (max-width: 768px) {
      .nav-toggle {
        background-color: $transparent;
      }

      &.active ul {
        display: initial;
      }

      &.no-ng {
        &:hover {
          ul {
            display: block;
          }
        }
      }
    }

    &__name {
      color: $white;
      display: inline-block;
      line-height: 48px;
      float: right;
      margin: 0 54px;

      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        display: none;
      }

      @media only screen and (min-width: 1025px) {
        margin: 0 20px 0 0;
      }
    }
  }

  .banner {
    .nav-primary {
      overflow: visible;

      .logo {
        overflow: visible;

        a {
          @include focus($offset: 2px);
        }
      }
    }
  }

  .page-header .page-header__status .page-header__status-check {
    display: inline-block;
    width: initial;
    background-color: transparent;
  }

  .page-header .page-header__dropdown {
    display: none;
  }

  .page-header .page-header__dropdown.is-open {
    display: block;
  }

  .page-navigation__link {
    background-color: transparent;
    height: initial;
    border-radius: 0;

    &:hover {
      background-color: $transparent;

      &:focus,
      &:active {
        outline: none;
        box-shadow: inset 0 -3px #d2d2d2, 0px 0px 0px 1px $color-focus;
      }
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0px 0px 0px 1px $color-focus;
    }

    &.is-active {
      &:focus,
      &:active {
        outline: none;
        box-shadow: inset 0 -3px #e95420, 0px 0px 0px 1px $color-focus;
      }
    }
  }

  .page-navigation {
    margin: 0;
    z-index: 1 !important;
  }

  .tabs .tabs__tab .tabs__tab-link {
    display: inline-block;
    width: initial;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 0;
    border-bottom: 3px solid transparent;
  }

  .tabs .is-active .tabs__tab-link,
  .tabs .is-active:hover .tabs__tab-link {
    border-bottom: 3px solid #e95420;
  }

  .table {
    .table__row {
      &:hover {
        background-color: $transparent;
      }

      &.is-active {
        &:hover {
          background-color: $white;
        }
      }

      .table__controls {
        display: inline-block;
        opacity: 1;
        z-index: 0;

        @media screen and (max-width: $breakpoint-medium) {
          width: 100%;
        }

        &-toggle {
          display: inline-block;
          padding: 0;
          background-color: $transparent;
          background-image: url("#{$asset-path}images/b0b97dfc-contextual-menu.svg");
          background-position: center;
          background-repeat: no-repeat;
          text-indent: -9999px;
          width: 30px;
          height: 21px;
          border-radius: 2px;
          overflow: hidden;

          @media screen and (max-width: $breakpoint-medium) {
            display: none;
          }
        }

        &-menu {
          border-radius: 3px;
          margin: 0;
          list-style: none;
          background: #fff;
          border: 1px solid #d2d2d2;
          z-index: 20;
          max-height: 1000px;
          transition: max-height 0.3s ease-in;
          position: absolute;
          right: 0;
          top: 33px;
          clear: both;
          min-width: 160px;

          @media screen and (max-width: $breakpoint-medium) {
            display: block !important;
            position: relative;
            z-index: 0;
            max-height: initial;
            top: initial;
            min-width: 100%;
            border: 0;
          }
        }

        &-action {
          background: $transparent;
          color: $text-color;
          border-radius: 0;
          text-align: left;

          &:hover {
            color: $link-hover;
          }

          @media screen and (min-width: $breakpoint-medium + 1) {
            &.u-text--error {
              border-top: 1px dotted #cdcdcd;
              margin-top: 5px;
            }
          }

          @media screen and (max-width: $breakpoint-medium) {
            border: 1px solid #cdcdcd;
            width: 100%;
            text-align: center;

            + * {
              margin-top: 10px;
            }

            &:hover {
              background-color: #efefef;
              color: $text-color;
            }
          }
        }
      }
    }
  }

  .accordion {
    .accordion__tab {
      .accordion__tab-title {
        padding: 14px 20px;

        &.is-active {
          + .accordion__tab-content {
            display: block;
          }
        }
      }

      .accordion__tab-content {
        display: none;

        .accordion__tab-list {
          .accordion__tab-item {
            .accordion__tab-link {
              height: initial;
            }
          }
        }
      }
    }
  }

  .u-text--truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .u-width--two-thirds {
    box-sizing: border-box;
    float: left;
    width: 66.66666% !important;
  }

  .hidden {
    display: none;
  }

  .small-icon {
    width: 12px;
  }

  .images-info {
    text-align: center;
    padding: 10px;
  }

  .images-warning {
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    padding: 15px 20px 15px 45px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: $white url("#{$asset-path}images/d730daea-error.svg") no-repeat;
    background-size: 16px 16px;
    background-position: 15px center;
    margin-bottom: 20px;
  }

  .p-notification__response {
    background-color: $transparent;
    color: $text-color;
    padding: 0;
    height: initial;
    background-position: left center;

    &:hover {
      background-color: $transparent;
    }

    &:focus {
      outline: 1px solid $color-focus;
      outline-offset: 2px;
    }

    .button--inline {
      vertical-align: initial;
    }
  }

  .p-notification--group {
    .p-notification__status:before {
      line-height: 24px;
    }

    .p-notification__item {
      .p-notification__msg {
        .button--inline {
          vertical-align: initial;
        }
      }
    }
  }

  #loader {
    width: 10px;
    margin: 16px auto 0 auto;
  }

  #importing {
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    padding: 15px;
    font-size: 16px;
    margin: 0 0 20px;
    background: $white;
    background-position: top 50% left 15px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    .spinner {
      margin-top: -3px;
    }
  }

  .spinner {
    @include icon-size(16px);
    padding: 0;
    border-bottom: 0 !important;
    display: inline-block;
    vertical-align: middle;
    text-indent: 999em;
    background: url("#{$asset-path}images/8b7b3046-loading.png") no-repeat;
    background-size: 100% 100%;
  }

  .spin {
    animation: spin 1s infinite linear !important;
  }

  .importing-dot {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
  }

  @charset 'UTF-8';

  /**
 * MAAS account styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

  .accounts {
    .logout {
      .divide {
        padding: 0 20px 0 30px;
        display: inline-block;
      }
    }

    .api {
      li {
        position: relative;

        input[type="text"] {
          line-height: 30px;
          padding-right: 30px;
          width: 100%;

          &::-webkit-input-placeholder {
            color: #333;
          }

          &:-moz-placeholder {
            /* Firefox 18- */
            color: #333;
          }

          &::-moz-placeholder {
            /* Firefox 19+ */
            color: #333;
          }

          &:-ms-input-placeholder {
            color: #333;
          }
        }

        .delete-link {
          position: absolute;
          top: 13px;
          right: 15px;
        }
      }
    }
  }

  .script-content {
    width: 100%;
    overflow: hidden;

    .content {
      margin: 20px 0 0;
    }
  }

  .u-align--flex {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: block;
    }

    .u-align--top {
      align-self: flex-start;
    }

    .u-align--bottom {
      align-self: flex-end;
    }
  }

  tags-input {
    display: block;

    .autocomplete {
      margin-top: -1px;
      position: absolute;
      padding: 5px 0;
      z-index: 999;
      width: 100%;
      background-color: #fff;
      border-radius: 0 0 3px 3px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      max-height: 300px;
      transition: max-height 0.3s ease-in;
      overflow: scroll;

      .suggestion-list {
        margin: 0;
        clear: both;
        min-width: 160px;
        width: 100%;
        overflow-y: scroll;
        box-sizing: border-box;

        .suggestion-item {
          float: left;
          margin: 0;
          padding: 5px 10px;
          border-top: 1px solid #d2d2d2;
          width: 100%;

          &:first-child {
            border-top: 0;
          }

          &:hover {
            background-color: #f7f7f7;
          }
        }
      }
    }
  }

  #tags {
    display: block;
  }

  .tags--inline {
    .host {
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 100%;
    }

    .tags {
      border: 1px solid $outline;
      border-radius: 2px;

      -moz-appearance: textfield;
      -webkit-appearance: textfield;
      padding: 1px;
      overflow: hidden;
      word-wrap: break-word;
      cursor: text;
      background-color: #fff;
      height: 100%;

      &:focus,
      &.focused {
        border-color: #888;
        outline: none;
      }

      .tag-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .tag-item {
          background-color: #f7f7f7;
          line-height: 24px;
          margin: 4px;
          padding: 0 5px;
        }
      }

      .input {
        border: 0;
        outline: 0;
        margin: 2px;
        padding: 0 0 0 5px;
        float: left;
        height: 26px;
        width: auto !important;

        &:placeholder {
          color: transparent;
        }
      }
    }
  }

  .page-header .page-header__dropdown.is-open {
    overflow: visible;
  }

  .u-visibility--hidden {
    visibility: hidden !important;
  }

  /*
   * Writespace pre-wrapping for terminal output. This is important in order
   * to preserve the original indentation when viewing commissioning script
   * or testing results.
   */
  .u-whitespace--prewrap {
    white-space: pre-wrap !important;
  }
}

button.button--inline,
.button--inline.button--base {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
