@mixin maas-icon-edit($color) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eedit%3c/title%3e%3cg fill='"+encodecolor(
      $color
    )+"' fill-rule='evenodd'%3e%3cpath d='M17 15h5v1h-5zm-3 3h8v1h-8zm-3 3h11v1H11zm5.75-21L3.47 13.517S.956 17.465 0 21.987v.004l.002.004V22c4.532-.955 8.48-3.472 8.48-3.472L22 5.25 16.75 0zM4.51 14.555L7.454 17.5c-.2.114-2.99 2.064-5.544 2.602V20.093l-.002-.003c.537-2.546 2.485-5.334 2.602-5.537v.002z'/%3e%3cpath d='M2.234 18l1.85 1.85L1 21'/%3e%3c/g%3e%3c/svg%3e");
}

@mixin maas-icon-power-on($color) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2214%22%3E%3Cpath%20d%3D%22M11.04%202.323l-.324%202.268a5.017%205.017%200%200%201%201.352%203.426c0%202.787-2.274%205.056-5.068%205.056s-5.067-2.269-5.067-5.056a5.02%205.02%200%200%201%201.351-3.426L2.96%202.323A6.935%206.935%200%200%200%200%208.017C0%2011.868%203.14%2015%207%2015s7-3.132%207-6.983a6.933%206.933%200%200%200-2.96-5.694zM6%200h2v7H6V0z%22%20fill%3D%22"+encodecolor(
      $color
    )+"%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}

// Identical to Vanilla success icon, but possible to alter tick color
@mixin maas-icon-success($bg-color, $tick-color: $color-x-light) {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate%281 1%29' fill='none' fill-rule='evenodd'%3E%3Ccircle stroke='#{vf-url-friendly-color($bg-color)}' stroke-width='1.5' fill='#{vf-url-friendly-color($bg-color)}' cx='7.25' cy='7.25' r='7.25'/%3E%3Cpath fill='#{vf-url-friendly-color($tick-color)}' d='M11.05 4.173l-.066.058L6.25 8.378l-2.776-2.38-.839.948L6.25 10.75l5.5-5.787-.7-.79z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin maas-icons {
  .p-icon {
    padding-right: $sp-small;

    &--edit {
      @extend %icon;
      @include maas-icon-edit(rgba($color-mid-dark, 0.999999));

      [class$="--dark"] & {
        @include maas-icon-edit(rgba($color-mid-light, 0.999999));
      }
    }

    &--status-failed {
      @extend %icon;
      background: url('data:image/svg+xml;utf8,%3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-negative
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-negative
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-in-progress {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-information
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-information
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-queued {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-mid-dark
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-mid-dark
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-succeeded {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-positive
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-positive
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-waiting {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-caution
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-caution
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--timed-out {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='16px' width='16px' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3E%3Ctitle%3Etimed out%3C/title%3E%3Cg id='Page-1' fill-rule='evenodd' fill='none'%3E%3Cg id='smoke-testing-status' transform='translate%28-62 -206%29'%3E%3Cg id='timed-out' transform='translate%2850 191%29'%3E%3Cg transform='translate%2812 15%29'%3E%3Crect id='rect4970' y='0.00002' x='0' height='16' width='16'/%3E%3Ccircle id='circle4972' stroke-width='1.5' cy='8' stroke='%23E95420' cx='8' r='7.25'/%3E%3Cpolyline id='path839' stroke='%23E95420' stroke-width='2' points='11.8 11.8 7.9999 8 7.9999 3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--success-muted {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17'%3E%3Cg transform='translate(1 1)' fill='none' fill-rule='evenodd'%3E%3Ccircle stroke='"+encodecolor(
          $color-mid-light
        )+"' stroke-width='1.5' fill='"+encodecolor($color-mid-light)+"' cx='7.25001' cy='7.25001' r='7.25001'/%3E%3Cpath fill='%23fff' d='M11.0503 4.17345l-.0659.0577-4.73475 4.14722-2.77557-2.38094-.83906.94888 3.61532 3.80373L11.75 4.96278l-.6997-.7893'/%3E%3C/g%3E%3C/svg%3E");
    }

    &--locked {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M8,3e-05 C5.7926,3e-05 4,1.79263 4,4.00003 L4,7.00003 L2,7.00003 L2,15.99953 L14,15.99953 L14,7.00003 L12,7.00003 L12,4.00003 C12,1.79263 10.207,3e-05 8,3e-05 L8,0 L8,3e-05 Z M8,1.00003 C9.6706,1.00003 11,2.32933 11,4.00003 L11,7.00003 L5,7.00003 L5,4.00003 C5,2.32933 6.3293,1.00003 8,1.00003 Z M9,9.50003 L9,13.99953 L7,13.99953 L7,9.99953 L9,9.50003 L9,9.50003 Z' id='padlock-icon'%3E%3C/path%3E%3C/defs%3E%3Cg id='padlock-16'%3E%3Cuse id='lock-icon' fill='"+encodecolor(
          $color-mid-dark
        )+"' fill-rule='nonzero' xlink:href='%23padlock-icon'%3E%3C/use%3E%3C/g%3E%3C/svg%3E%0A");
    }

    &--status-waiting {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-mid-dark
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-mid-dark
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-succeeded {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-positive
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-positive
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-queued {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-mid-light
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-mid-light
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-in-progress {
      @extend %icon;
      background: url('data:image/svg+xml;utf8, %3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-information
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-information
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--status-failed {
      @extend %icon;
      background: url('data:image/svg+xml;utf8,%3Csvg width="16px" height="16px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cg id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3E%3Cg id="status-queued" transform="translate(1, 1)"%3E%3Cg id="Page-1"%3E%3Cg id="status-queued"%3E%3Cg id="Group"%3E%3Ccircle id="Oval" stroke="'+encodecolor(
          $color-negative
        )+'" stroke-width="2" cx="6" cy="6" r="6"%3E%3C/circle%3E%3Ccircle id="Oval-Copy" class="status-circle" fill="'+encodecolor(
          $color-negative
        )+'" cx="6" cy="6" r="4"%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }

    &--compose-machine {
      @extend %icon;
      background: url('data:image/svg+xml;utf8,%3Csvg width="149" height="105" viewBox="0 0 149 105" xmlns="http://www.w3.org/2000/svg"%3E%3Ctitle%3Ecompose-machine%3C/title%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath d="M9.746 1.845H37.3c5.98 0 7.723 1.735 7.723 7.68v85.64c0 5.946-1.744 7.68-7.723 7.68H9.746c-5.98 0-7.723-1.734-7.723-7.68V9.525c0-5.945 1.744-7.68 7.723-7.68z" stroke="'+encodecolor(
          $color-mid-light
        )+'" stroke-width="3"/%3E%3Cpath d="M13.49 86.845c-2.48 0-4.502 2.018-4.502 4.5 0 2.48 2.02 4.5 4.502 4.5 2.48 0 4.498-2.02 4.498-4.5 0-2.482-2.017-4.5-4.498-4.5z" stroke="'+encodecolor(
          $color-mid-light
        )+'" stroke-width="2"/%3E%3Cpath fill="'+encodecolor($color-mid-light)+'" d="M8.476 8.346v1H38.54v-1M8.436 13.372v1H38.5v-1M8.476 18.346v1H38.54v-1M8.436 23.372v1H38.5v-1"/%3E%3Cg%3E%3Cpath d="M111.746 1.845H139.3c5.98 0 7.723 1.735 7.723 7.68v85.64c0 5.946-1.744 7.68-7.723 7.68h-27.554c-5.98 0-7.723-1.734-7.723-7.68V9.525c0-5.945 1.744-7.68 7.723-7.68z" stroke="'+encodecolor(
          $color-mid-light
        )+'" stroke-width="3"/%3E%3Cpath d="M115.49 86.845c-2.48 0-4.502 2.018-4.502 4.5 0 2.48 2.02 4.5 4.502 4.5 2.48 0 4.498-2.02 4.498-4.5 0-2.482-2.017-4.5-4.498-4.5z" stroke="'+encodecolor(
          $color-mid-light
        )+'" stroke-width="2"/%3E%3Cpath fill="'+encodecolor($color-mid-light)+'" d="M110.476 8.346v1h30.065v-1M110.436 13.372v1H140.5v-1M110.476 18.346v1h30.065v-1M110.436 23.372v1H140.5v-1"/%3E%3C/g%3E%3Cg%3E%3Cpath d="M60.746 1.845H88.3c5.98 0 7.723 1.735 7.723 7.68v85.64c0 5.946-1.744 7.68-7.723 7.68H60.746c-5.98 0-7.723-1.734-7.723-7.68V9.525c0-5.945 1.744-7.68 7.723-7.68z" stroke="'+encodecolor(
          $color-mid-light
        )+'" stroke-width="3"/%3E%3Cpath d="M64.49 86.845c-2.48 0-4.502 2.018-4.502 4.5 0 2.48 2.02 4.5 4.502 4.5 2.48 0 4.498-2.02 4.498-4.5 0-2.482-2.017-4.5-4.498-4.5z" stroke="'+encodecolor(
          $color-mid-light
        )+'" stroke-width="2"/%3E%3Cpath fill="'+encodecolor($color-mid-light)+'" d="M59.476 8.346v1H89.54v-1M59.436 13.372v1H89.5v-1M59.476 18.346v1H89.54v-1M59.436 23.372v1H89.5v-1"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
      background-size: 100% 100%;
    }

    &--account {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96.000001'%3E%3Cg color='%23000'%3E%3Cpath overflow='visible' fill='none' d='M96 0v96H0V0z'/%3E%3Cpath style='line-height:normal;font-variant-ligatures:none;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;block-progression:tb;shape-padding:0;isolation:auto;mix-blend-mode:normal' d='M48 6C24.828 6 6 24.83 6 48s18.828 41.998 42 41.998S90 71.17 90 48C90 24.83 71.172 6 48 6zm0 4c21.01 0 37.998 16.99 37.998 38 0 9.324-3.35 17.852-8.908 24.46a25.598 25.598 0 0 0-4.94-7.495c-1.955-2.062-4.308-3.79-7.017-5.192a24.975 24.975 0 0 1-3.697 2.682c3.188 1.365 5.775 3.117 7.81 5.264h.002c2.162 2.274 3.75 4.902 4.81 7.94C67.26 82.07 58.1 86 48 86c-10.135 0-19.325-3.96-26.133-10.412 1.123-3.013 2.706-5.623 4.78-7.875 2.208-2.328 5.055-4.2 8.626-5.606 3.507-1.38 7.732-2.106 12.696-2.11L48 60c2.886 0 5.613-.508 8.12-1.54l.017-.01.017-.01c2.49-1.078 4.66-2.615 6.45-4.575 1.84-1.96 3.258-4.302 4.242-6.967.994-2.693 1.476-5.672 1.476-8.898v-.002c0-3.18-.484-6.132-1.476-8.822-.98-2.706-2.397-5.073-4.24-7.037-1.79-1.966-3.973-3.483-6.47-4.515C53.623 16.54 50.89 16 48 16c-2.892 0-5.624.54-8.135 1.625a18.703 18.703 0 0 0-6.54 4.5l-.01.012-.01.01c-1.792 1.968-3.176 4.333-4.155 7.037l-.002.004c-.99 2.686-1.47 5.634-1.47 8.81 0 3.226.48 6.207 1.474 8.9.98 2.657 2.366 4.993 4.153 6.954l.01.01.01.01a19.447 19.447 0 0 0 4.152 3.345c-1.274.325-2.5.71-3.668 1.17-4.03 1.587-7.416 3.776-10.074 6.58l-.01.012-.01.01c-2.007 2.177-3.62 4.66-4.855 7.41a37.86 37.86 0 0 1-8.858-24.4c0-21.01 16.99-38 37.998-38zm0 9.998c2.408 0 4.573.438 6.562 1.3l.018.01.016.006c1.995.823 3.66 1.983 5.066 3.526l.01.012.01.01c1.453 1.548 2.587 3.42 3.406 5.685l.002.008.004.006c.81 2.195 1.226 4.662 1.226 7.44 0 2.83-.418 5.323-1.226 7.514-.818 2.216-1.953 4.07-3.412 5.623l-.01.01-.01.013c-1.408 1.546-3.083 2.735-5.086 3.606C52.584 55.583 50.412 56 48 56c-2.413 0-4.586-.416-6.578-1.234a15.41 15.41 0 0 1-5.168-3.62c-1.412-1.553-2.528-3.41-3.348-5.632-.808-2.19-1.226-4.684-1.226-7.514 0-2.778.417-5.245 1.226-7.44l.002-.005.004-.008c.82-2.27 1.936-4.147 3.342-5.693a14.599 14.599 0 0 1 5.15-3.54l.016-.007.017-.008c1.99-.864 4.156-1.302 6.563-1.302z' font-family='sans-serif' white-space='normal' overflow='visible' solid-color='"+encodecolor(
          $color-x-light
        )+"' fill='"+encodecolor($color-mid-dark)+"'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--mount {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4.2333493 4.2333317'%3E%3Cpath style='marker:none' color='%23000' overflow='visible' opacity='.12' fill='none' d='M4.233 4.233V0H0v4.233z'/%3E%3Cpath d='M0 .265v.793h4.233V.265zm3.44.264h.529v.265h-.53zM3.175 2.117v.793h-.794v.265h.794v.794h.265v-.794h.793V2.91H3.44v-.793z' style='marker:none' color='%23000' overflow='visible' fill='gray'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--unmount {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4.2333493 4.2333317'%3E%3Cpath style='marker:none' color='%23000' overflow='visible' opacity='.12' fill='none' d='M4.233 4.233V0H0v4.233z'/%3E%3Cpath d='M0 .265v.793h4.233V.265zm3.44.264h.529v.265h-.53zM2.381 2.91v.265h1.852V2.91z' style='marker:none' color='%23000' overflow='visible' fill='gray'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--partition {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4.2333398 4.2333315'%3E%3Cpath style='marker:none' color='%23000' overflow='visible' opacity='.12' fill='none' d='M4.233 4.233V0H0v4.233z'/%3E%3Cpath d='M0 .794V3.44h1.852v-.265H.265V1.058h1.587V.794zM3.175 1.323v.794h-.794v.264h.794v.794h.265v-.794h.793v-.264H3.44v-.794zM1.852.264h.265v.53h-.265z' style='marker:none' color='%23000' overflow='visible' fill='gray'/%3E%3Cpath style='marker:none' color='%23000' overflow='visible' fill='gray' d='M1.852 1.058h.265v.53h-.265zM1.852 1.852h.265v.53h-.265zM1.852 2.645h.265v.53h-.265zM1.852 3.44h.265v.528h-.265z'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--debug {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Edebug icon 8@2x%3C/title%3E%3Cpath d='M11.673 12.994L14.68 16l1.313-1.316-3.004-3.005A5.501 5.501 0 0 0 8.5 3C5.46 3 3 5.463 3 8.5 3 11.54 5.46 14 8.5 14c1.18 0 2.276-.37 3.173-1.006zM4.25 8.5a4.25 4.25 0 1 1 8.5 0 4.25 4.25 0 0 1-8.5 0zM6 9h5v1H6V9zm0-2h5v1H6V7zM4.71 0C2.845 0 1.646.095.87.87.093 1.648 0 2.847 0 4.716v4.568c0 1.87.094 3.068.87 3.844.667.668 1.68.824 3.13.857v-1.002c-1.327-.044-2.075-.21-2.424-.56-.41-.41-.576-1.318-.576-3.14V4.716c0-1.82.167-2.727.576-3.137C1.986 1.168 2.892 1 4.71 1h4.577c1.82 0 2.726.17 3.135.578.348.35.514 1.097.558 2.422h1.006c-.033-1.45-.19-2.46-.857-3.13C12.352.096 11.153 0 9.286 0H4.71z' fill='gray' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--remove {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Eremove%3C/title%3E%3Cg fill='gray' fill-rule='evenodd'%3E%3Cpath d='M16.36 0L18 1.64 1.64 18 0 16.36z'/%3E%3Cpath d='M18 16.36L16.36 18 0 1.64 1.64 0z'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--settings {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96.000001'%3E%3Cg color='%23000'%3E%3Cpath style='marker:none' overflow='visible' fill='none' d='M96 0v96H0V0z'/%3E%3Cpath style='line-height:normal;font-variant-ligatures:none;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;block-progression:tb;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' d='M79.197 66.033c9.916-17.191 3.984-39.246-13.223-49.19-17.207-9.944-39.253-4.057-49.17 13.134C6.89 47.168 12.82 69.222 30.027 79.166c17.207 9.944 39.255 4.058 49.17-13.133zm-3.465-2.002c-8.834 15.316-28.37 20.535-43.708 11.67-15.338-8.863-20.59-28.407-11.756-43.723 8.834-15.316 28.37-20.535 43.708-11.671 15.338 8.864 20.59 28.408 11.756 43.724z' font-weight='400' font-family='sans-serif' white-space='normal' overflow='visible' fill='gray'/%3E%3Cpath style='marker:none' d='M54.902 5.582L41.098 7.645v7.097a34.033 33.971 43.146 0 1 13.804.028V5.582zm-28.246 6.244L16.14 20.768l5.181 6.175a34.033 33.971 43.146 0 1 10.58-8.867l-5.244-6.25zm42.631.067L64.08 18.1a34.033 33.971 43.146 0 1 .895.474 34.033 33.971 43.146 0 1 9.673 8.406l5.272-6.28-10.633-8.807zM8.398 34.008l-2.31 13.611 7.947 1.402a34.033 33.971 43.146 0 1 2.387-13.597l-8.024-1.416zm79.118.015l-7.987 1.409a34.033 33.971 43.146 0 1 2.432 13.588L90 47.604l-2.484-13.58zM15.758 58.645L8.67 62.738h-.002l6.98 11.91 7.018-4.05a34.033 33.971 43.146 0 1-6.908-11.953zm64.512.015a34.033 33.971 43.146 0 1-2.805 6.371 34.033 33.971 43.146 0 1-4.059 5.608l7.022 4.054 6.826-12-6.984-4.033zM30.148 76.867l-2.804 7.703 13.004 4.639 2.757-7.58a34.033 33.971 43.146 0 1-12.08-4.195 34.033 33.971 43.146 0 1-.877-.567zm35.733.08a34.033 33.971 43.146 0 1-12.979 4.707l2.782 7.639 12.941-4.807-2.744-7.539z' overflow='visible' fill='gray'/%3E%3Cpath style='line-height:normal;font-variant-ligatures:none;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;block-progression:tb;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' d='M68.805 60.027c6.61-11.46 2.652-26.178-8.816-32.806-11.47-6.628-26.185-2.7-32.795 8.76-6.61 11.459-2.651 26.18 8.817 32.808 11.47 6.628 26.184 2.697 32.794-8.762zm-3.463-2.001C59.814 67.61 47.61 70.87 38.01 65.324c-9.6-5.548-12.88-17.757-7.351-27.341 5.528-9.585 17.732-12.846 27.332-7.298 9.6 5.547 12.88 17.757 7.351 27.34z' font-weight='400' font-family='sans-serif' white-space='normal' overflow='visible' fill='gray'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--sync {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96.000001'%3E%3Cg color='%23000'%3E%3Cpath style='marker:none' overflow='visible' fill='none' d='M96 0v96H0V0z'/%3E%3Cpath d='M84.93 14.958L67.965 31.934a177.473 177.473 0 0 0 11.842 3.925A211.649 211.649 0 0 0 92 39c-.936-3.985-1.999-8.035-3.187-12.147a206.82 206.82 0 0 0-3.882-11.894zM11.035 81L28 64.024A177.472 177.472 0 0 0 16.158 60.1a211.647 211.647 0 0 0-12.193-3.141c.936 3.985 1.999 8.035 3.187 12.147 1.217 4.136 2.511 8.1 3.882 11.894z' style='marker:none' overflow='visible' fill='gray'/%3E%3Cpath style='line-height:normal;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;text-orientation:mixed;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' d='M48 8C25.932 8 8 25.932 8 48c0 .652.02 1.3.05 1.945 1.356.336 2.717.686 4.083 1.053A36.54 36.54 0 0 1 12 48c0-19.906 16.094-36 36-36 13.005 0 24.38 6.872 30.705 17.186l2.86-2.862C74.444 15.31 62.076 8 48 8zm35.863 36.969c.084 1 .137 2.009.137 3.031 0 19.906-16.094 36-36 36-13.025 0-24.416-6.892-30.736-17.232l-2.88 2.88C21.512 80.682 33.908 88 48 88c22.068 0 40-17.932 40-40a2 2 0 0 0-.041-.406 40.381 40.381 0 0 0-.057-1.584 211.753 211.753 0 0 1-4.039-1.041z' font-weight='400' font-family='sans-serif' white-space='normal' overflow='visible' fill='gray'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--system-shutdown {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='96' viewBox='0 0 96 96.000001'%3E%3Cg color='%23000'%3E%3Cpath style='marker:none' overflow='visible' fill='none' d='M96 0v96H0V0z'/%3E%3Cpath d='M46 6l4-1v35h-4z' style='marker:none' overflow='visible' fill='gray'/%3E%3Cpath style='line-height:normal;font-variant-ligatures:none;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:%23000;text-transform:none;block-progression:tb;shape-padding:0;isolation:auto;mix-blend-mode:normal;marker:none' d='M30.006 16.798c-14.099 8.144-20.983 24.771-16.77 40.504C17.45 73.034 31.72 83.989 48 83.989s30.55-10.955 34.763-26.687c4.214-15.733-2.669-32.36-16.767-40.504l-2.002 3.463C76.54 27.509 82.65 42.263 78.9 56.266 75.15 70.27 62.488 79.99 48 79.99S20.85 70.27 17.1 56.266c-3.75-14.003 2.357-28.757 14.905-36.005l-2-3.463z' font-weight='400' font-family='sans-serif' white-space='normal' overflow='visible' fill='gray'/%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--tags {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 15.999999'%3E%3Cpath opacity='.212' fill='none' d='M0 0h16v16H0z'/%3E%3Cpath style='marker:none' d='M8.691 0L.775 7.918c-1.218 1.218-.913 1.522.305 2.74l2.13 2.131 2.132 2.13c1.218 1.219 1.522 1.524 2.74.306L16 7.309V.914c0-.304-.076-.533-.228-.686C15.619.076 15.39 0 15.086 0zm.418 1.008h5.883V6.89l-7.525 7.523c-.795.839-1.472-.388-2.074-.87a46.125 46.125 0 0 0-1.47-1.468 45.917 45.917 0 0 0-1.468-1.469c-.481-.602-1.708-1.28-.87-2.074L9.11 1.008z' color='%23000' overflow='visible' fill='gray'/%3E%3Cpath style='marker:none' d='M12.518 2.25a1.25 1.25 0 0 1 .867.365 1.25 1.25 0 0 1 0 1.77 1.25 1.25 0 0 1-1.77 0 1.25 1.25 0 0 1 0-1.77 1.25 1.25 0 0 1 .903-.365z' color='%23000' overflow='visible' fill='gray'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--logical-volume {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4.2333398 4.2333403'%3E%3Cpath style='marker:none' color='%23000' overflow='visible' opacity='.12' fill='none' d='M4.233 4.233V0H0v4.233z'/%3E%3Cpath style='marker:none' d='M3.175 2.381v.794h-.794v.265h.794v.793h.265V3.44h.793v-.265H3.44v-.794zM2.381 0v1.852h1.852V0zm.265.265h1.323v1.323H2.646zM0 0v1.852h1.852V0zm.265.265h1.323v1.323H.264zM0 2.381v1.852h1.852V2.381zm.265.265h1.323v1.323H.264z' color='%23000' overflow='visible' fill='gray'/%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--pending {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Epending%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='smoke-testing-status' transform='translate%28-62.000000, -112.000000%29'%3E%3Cg id='pending' transform='translate%2850.000000, 97.000000%29'%3E%3Cg transform='translate%2812.000000, 15.000000%29'%3E%3Crect id='rect4970' x='0' y='1.99999999e-05' width='16' height='16'%3E%3C/rect%3E%3Ccircle id='circle4972' stroke='%23F99B11' stroke-width='1.5' cx='8' cy='8.00002' r='7.2500086'%3E%3C/circle%3E%3Crect id='rect4980' fill='%23F99B11' fill-rule='nonzero' x='7' y='7.00002' width='2' height='2'%3E%3C/rect%3E%3Crect id='rect4982' fill='%23F99B11' fill-rule='nonzero' x='10' y='7.00002' width='2' height='2'%3E%3C/rect%3E%3Crect id='rect4984' fill='%23F99B11' fill-rule='nonzero' x='4' y='7.00002' width='2' height='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--running {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Erunning%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='smoke-testing-status' transform='translate%28-62.000000, -159.000000%29'%3E%3Cg id='running' transform='translate%2850.000000, 144.000000%29'%3E%3Cg transform='translate%2812.000000, 15.000000%29'%3E%3Crect id='rect6425' x='9.99999997e-06' y='9.99999989e-06' width='16' height='16'%3E%3C/rect%3E%3Ccircle id='circle6427' stroke='%230E8420' stroke-width='1.5' fill='%230E8420' fill-rule='nonzero' cx='8.00001' cy='8.00001' r='7.2500086'%3E%3C/circle%3E%3Cpolygon id='path6429' fill='%23FFFFFF' fill-rule='nonzero' points='6.00002 12.00001 6.00002 4.00001 12.00002 8.00001'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-size: 100% 100%;
    }

    &--timed-out {
      @extend %icon;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='16px' width='16px' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Etimed out%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' fill-rule='evenodd' fill='none'%3E%3Cg id='smoke-testing-status' transform='translate%28-62 -206%29'%3E%3Cg id='timed-out' transform='translate%2850 191%29'%3E%3Cg transform='translate%2812 15%29'%3E%3Crect id='rect4970' y='0.00002' x='0' height='16' width='16'/%3E%3Ccircle id='circle4972' stroke-width='1.5' cy='8' stroke='%23E95420' cx='8' r='7.25'/%3E%3Cpolyline id='path839' stroke='%23E95420' stroke-width='2' points='11.8 11.8 7.9999 8 7.9999 3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 100% 100%;
    }
  }

  .p-icon--power-error {
    @extend %icon;
    @include maas-icon-power-on(rgba($color-negative, 0.999999));
  }

  .p-icon--power-on {
    @extend %icon;
    @include maas-icon-power-on(rgba($color-positive, 0.999999));
  }

  .p-icon--power-off {
    @extend %icon;
    @include maas-icon-power-on(rgba($color-mid-light, 0.999999));
  }

  .p-icon--power-unknown {
    @extend %icon;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 %2855047%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='prototype--tables' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='207-group-selection' transform='translate%28-333.000000, -143.000000%29'%3E%3Cg id='Group' transform='translate%28333.000000, 141.000000%29'%3E%3Crect id='Rectangle' x='0' y='0' width='16' height='16'%3E%3C/rect%3E%3Cpath d='M2.79224377,3.71191136 C2.40443019,3.71191136 2.03324277,3.7590023 1.67867036,3.8531856 C1.32409795,3.94736889 0.952910526,4.09972194 0.565096953,4.31024931 L0,2.76454294 C0.409974349,2.53185479 0.878113712,2.34626108 1.40443213,2.20775623 C1.93075055,2.06925139 2.47091136,2 3.02493075,2 C3.68975402,2 4.23822499,2.09141183 4.67036011,2.27423823 C5.10249524,2.45706463 5.44598211,2.68697922 5.70083102,2.96398892 C5.95567994,3.24099861 6.13296349,3.54570471 6.23268698,3.87811634 C6.33241047,4.21052798 6.38227147,4.5318544 6.38227147,4.84210526 C6.38227147,5.21883845 6.31302008,5.55678521 6.17451524,5.85595568 C6.03601039,6.15512615 5.8614969,6.43213169 5.65096953,6.68698061 C5.44044216,6.94182953 5.21329762,7.18282435 4.96952909,7.4099723 C4.72576055,7.63712025 4.49861601,7.8698049 4.28808864,8.10803324 C4.07756127,8.34626158 3.90304778,8.59833662 3.76454294,8.86426593 C3.62603809,9.13019524 3.5567867,9.42936122 3.5567867,9.76177285 L3.5567867,9.95290859 C3.5567867,10.0249311 3.56232681,10.0941825 3.5734072,10.1606648 L1.84487535,10.1606648 C1.82271457,10.0498609 1.80609424,9.93074856 1.79501385,9.8033241 C1.78393346,9.67589964 1.77839335,9.55678726 1.77839335,9.44598338 C1.77839335,9.08033058 1.83933457,8.75346404 1.96121884,8.46537396 C2.0831031,8.17728388 2.2382262,7.91135856 2.4265928,7.66759003 C2.61495939,7.4238215 2.81717343,7.19667695 3.033241,6.98614958 C3.24930856,6.77562222 3.4515226,6.56509801 3.6398892,6.35457064 C3.82825579,6.14404327 3.98337889,5.92797895 4.10526316,5.70637119 C4.22714742,5.48476343 4.28808864,5.24099856 4.28808864,4.97506925 C4.28808864,4.60941645 4.16343615,4.30748042 3.91412742,4.06925208 C3.6648187,3.83102374 3.29086122,3.71191136 2.79224377,3.71191136 Z M4.08864266,12.6869806 C4.08864266,13.0747942 3.96122011,13.3905805 3.70637119,13.634349 C3.45152227,13.8781176 3.13573596,14 2.75900277,14 C2.39334997,14 2.08033371,13.8781176 1.8199446,13.634349 C1.55955548,13.3905805 1.42936288,13.0747942 1.42936288,12.6869806 C1.42936288,12.299167 1.55955548,11.9806107 1.8199446,11.7313019 C2.08033371,11.4819932 2.39334997,11.3573407 2.75900277,11.3573407 C3.13573596,11.3573407 3.45152227,11.4819932 3.70637119,11.7313019 C3.96122011,11.9806107 4.08864266,12.299167 4.08864266,12.6869806 Z' id='%3F' fill='%23CDCDCD'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .p-icon--pass {
    @extend .p-icon--success;
  }

  .p-icon--info {
    @extend .p-icon--information;
  }

  [class^="p-icon"] {
    margin-right: 0.25em;

    &.on-right {
      margin-left: 0.25em;
      margin-right: 0;
    }
  }

  .p-icon--lock {
    @extend %icon;
    background-image: url("https://assets.ubuntu.com/v1/5d2e0e21-padlock.svg");
    background-size: 1rem 1rem;
    display: block;
    position: relative;
    margin-right: $sph-intra;
    top: 0 !important;

    &.is-open {
      background-image: url("https://assets.ubuntu.com/v1/a6c61cd6-padlock_open.svg");
    }
  }

  .p-icon--x {
    @extend %icon;
    background-size: 1rem 1rem;
    display: block;
    position: relative;
  }

  .p-icon--tick {
    @extend %icon;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='16px' viewBox='0 0 22 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='confirm-tick' transform='translate(-1.000000, -1.000000)'%3E%3Cpolygon id='Shape' points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E%3Cpolygon id='Shape' fill-opacity='0.999998987' fill='%23666666' fill-rule='nonzero' points='3.872 6.93333333 1.6 9.20533333 9.33333333 16.9386667 22.4 3.872 20.128 1.6 9.33333333 12.3973333'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 1rem 1rem;

    display: block;
    position: relative;
  }

  // XXX Use ems rather than rems for icon sizing
  // Issue: https://github.com/vanilla-framework/vanilla-framework/issues/1599
  [class^="p-icon"] {
    height: 1em;
    width: 1em;
  }
}
