$vanilla-2-icon-button-side-padding: $sph-intra--condensed * 1.5;
@mixin maas-p-buttons {
  // disable override in vanilla that make buttons vertically less padded; this causes issues with alignment with other elements
  table button,
  table [class^="p-button"] {
    padding-bottom: $spv-nudge - $px;
    padding-top: $spv-nudge - $px;
  }

  .p-button--narrow {
    padding-left: $vanilla-2-icon-button-side-padding;
    padding-right: $vanilla-2-icon-button-side-padding;
  }

  %p-button--min-margin-bottom {
    margin-bottom: $spv-nudge-compensation;
  }

  .p-button--min-margin-bottom {
    @extend %p-button--min-margin-bottom;
  }

  .p-button--base.is-small {
    padding: $sp-unit;
    margin: 0;
  }

  %icon-button-padding {
    padding: $spv-nudge - $px $sph-intra--condensed;
  }

  .p-button--lock {
    margin-left: -0.5rem;
  }

  .p-button--icon {
    input + & {
      margin-left: $sph-inter;
    }

    @extend %p-button--min-margin-bottom;
    padding: $spv-intra $sph-intra--condensed;
  }

  .p-button--close {
    align-self: flex-start; // stay vertically at top
    border: 0;
    float: right; // in case it is not in a flex container, align it to the right
    margin: 0 0 auto auto;
    width: auto;

    @extend %icon-button-padding;

    [class^="p-icon"] {
      margin-right: 0;
    }
  }

  [class*="p-button"] [class^="p-icon"],
  button [class^="p-icon"] {
    margin-right: 0;
  }

  *[class*="p-button"] {
    .p-table-expanding__panel & {
      margin-bottom: 2 * $spv-nudge-compensation;
      &:not(.p-button--close) {
        padding: $spv-nudge - $px $sph-intra;
      }
    }
    &.is-small {
      padding: $spv-nudge - $px $sph-intra;
    }
  }
}

@media only screen and (max-width: 460px) {
  //XXX width: 100% is breaking many things, for example the check power button in the header causes horizontal scroll. Removing pending further discussion.
  button,
  [type="submit"],
  .p-button,
  .p-button--neutral,
  .p-button--brand,
  .p-button--positive,
  .p-button--negative,
  .p-button--base {
    width: auto;
  }
}
