@mixin patterns_charts {
  .p-chart {
    background-color: $color--free;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1rem;
    border-radius: 1rem;
    background-color: transparentize($color-link, 0.8);

    &__container {
      $nudge-value: map-get($nudges, nudge--p) * 1.5;
      padding-top: $nudge-value;
      margin-bottom: $sp-unit - $nudge-value;
    }
  }

  .p-chart__bar {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
  }

  .p-chart__bar--used {
    @extend .p-chart__bar;
    background-color: $color--used;
    border-right: 1px solid $color-x-light;
  }

  .p-chart__bar--other {
    @extend .p-chart__bar;
    background-color: #1baf66;
    border-right: 1px solid $color-x-light;
  }

  .p-chart__bar--requests {
    @extend .p-chart__bar;
    background-color: $color--request;
    opacity: 0.15;

    &.is-selected {
      opacity: 1;
    }

    &.is-over {
      background-color: $color-warning;
    }

    .is-over & {
      background-color: $color--request-warning;
    }
  }

  .p-key-list {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    position: relative;
  }

  // Key inside option selector
  %p-key-list-item--common-properties {
    display: flex;
    flex: 1;
    padding-right: $sph-intra;

    &::before {
      content: "•";
      float: left;
      font-size: 2rem;
      line-height: map-get($line-heights, default-text);
      margin-right: $sph-intra--condensed;
      padding-top: map-get($nudges, nudge--p);
      width: $sp-unit;
    }

    &:last-of-type {
      text-align: right;
      justify-content: flex-end;
    }
  }

  .p-key-list__item--requests {
    @extend %p-key-list-item--common-properties;
    &::before {
      color: $color--request;
    }
  }

  .p-key-list__item--other-requests {
    @extend %p-key-list-item--common-properties;
    padding-right: 0.25rem;
    &::before {
      color: #1aaf65;
    }
  }

  .p-key-list__item--used {
    @extend %p-key-list-item--common-properties;
    &::before {
      color: $color--used;
    }
  }

  .p-key-list__item--free {
    @extend %p-key-list-item--common-properties;
    &::before {
      color: $color--free;
    }
  }
}
