$grid-max-width: 1440 / 16 * 1rem; // express in rems for easier calculations

// enable nested push pull suffix and prefix
$shelves-nested-prefixes: true !default;
$shelves-nested-suffixes: true !default;
$shelves-nested-pushes: true !default;
$shelves-nested-pulls: true !default;
$shelves-tablet-prefixes: true !default;
$shelves-tablet-suffixes: true !default;
$shelves-tablet-pushes: true !default;
$shelves-tablet-pulls: true !default;
$shelves-mobile-prefixes: true !default;
$shelves-mobile-suffixes: true !default;
$shelves-mobile-pushes: true !default;
$shelves-mobile-pulls: true !default;

$color-navigation-background: #000;

$color-brand: #e95420;
$color-light-new: #e5e5e5;
$color-navigation-active-bar: $color-brand;

$breakpoint-navigation-threshold: 870px;

$assets-path: "/MAAS/static/assets/fonts/";

$multi: 1;
