<header
  id="navigation"
  class="p-navigation"
  data-dropdown-toggle="mobile-nav-toggle"
  data-dropdown-menu="mobile-nav-menu"
>
  <div class="p-navigation__banner">
    <div class="p-navigation__logo">
      <a href="{% url 'index' %}#/dashboard" class="p-navigation__link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="25.2"
          viewBox="545.3 412.6 100 25.2"
          alt=""
          class="p-navigation__image"
        >
          <title>MAAS logo</title>
          <path
            fill="#E95420"
            d="M557.9 412.6c-7 0-12.6 5.7-12.6 12.6 0 7 5.7 12.6 12.6 12.6 7 0 12.6-5.7 12.6-12.6 0-7-5.6-12.6-12.6-12.6z"
          />
          <g fill="#FFF">
            <path
              d="M563.8 419.2h-11.9c-.3 0-.5.2-.5.5v.7c0 .3.2.5.5.5h11.9c.3 0 .5-.2.5-.5v-.7c.1-.3-.2-.5-.5-.5zM563.8 422.6h-11.9c-.3 0-.5.2-.5.5v.7c0 .3.2.5.5.5h11.9c.3 0 .5-.2.5-.5v-.7c.1-.3-.2-.5-.5-.5zM563.8 426h-11.9c-.3 0-.5.2-.5.5v.7c0 .3.2.5.5.5h11.9c.3 0 .5-.2.5-.5v-.7c.1-.2-.2-.5-.5-.5zM563.8 429.4h-11.9c-.3 0-.5.2-.5.5v.7c0 .3.2.5.5.5h11.9c.3 0 .5-.2.5-.5v-.6c.1-.3-.2-.6-.5-.6z"
            />
          </g>
          <g fill="#FFF">
            <path
              d="M587.1 431.3c-.2-.4-.4-1-.7-1.7-.3-.7-.7-1.5-1.1-2.3-.4-.8-.8-1.7-1.2-2.5-.4-.9-.8-1.7-1.2-2.5l-1-2-.6-1.2c-.2 2.1-.4 4.4-.5 6.9-.1 2.5-.2 5.1-.3 7.8h-1.7c.2-3.2.3-6.3.5-9.2s.4-5.8.7-8.4h1.5c.5.9 1.1 1.8 1.6 2.9.6 1.1 1.2 2.3 1.7 3.5.6 1.2 1.1 2.4 1.7 3.5s1 2.2 1.4 3.1c.4-.9.9-2 1.4-3.1.5-1.2 1.1-2.3 1.7-3.5.6-1.2 1.1-2.4 1.7-3.5.6-1.1 1.1-2.1 1.6-2.9h1.5c.3 2.7.5 5.5.7 8.4s.4 6 .5 9.2h-1.8c-.1-2.7-.2-5.3-.3-7.8-.1-2.5-.3-4.8-.5-6.9l-.6 1.2-1 2c-.4.8-.8 1.6-1.2 2.5-.4.9-.8 1.7-1.2 2.5-.4.8-.7 1.6-1.1 2.3-.3.7-.6 1.3-.7 1.7h-1.5zM613.1 433.9c-.3-.9-.6-1.7-.9-2.5-.3-.8-.6-1.6-.8-2.3h-8.6c-.3.8-.6 1.5-.9 2.3-.3.8-.6 1.6-.9 2.5h-1.8c.7-1.8 1.3-3.6 1.9-5.1.6-1.6 1.2-3.1 1.8-4.5.6-1.4 1.1-2.8 1.7-4.1l1.8-3.9h1.5l1.8 3.9c.6 1.3 1.1 2.7 1.7 4.1.6 1.4 1.2 2.9 1.7 4.5.6 1.6 1.2 3.3 1.9 5.1h-1.9zm-6-15.7c-.6 1.5-1.3 3-1.9 4.5-.6 1.5-1.2 3.1-1.9 4.9h7.5c-.7-1.8-1.3-3.4-1.9-4.9-.6-1.6-1.2-3.1-1.8-4.5zM630.4 433.9c-.3-.9-.6-1.7-.9-2.5-.3-.8-.6-1.6-.8-2.3H620c-.3.8-.6 1.5-.9 2.3-.3.8-.6 1.6-.9 2.5h-1.8c.7-1.8 1.3-3.6 1.9-5.1.6-1.6 1.2-3.1 1.8-4.5.6-1.4 1.1-2.8 1.7-4.1l1.8-3.9h1.5l1.8 3.9c.6 1.3 1.1 2.7 1.7 4.1s1.2 2.9 1.7 4.5c.6 1.6 1.2 3.3 1.9 5.1h-1.8zm-6.1-15.7c-.6 1.5-1.3 3-1.9 4.5-.6 1.5-1.2 3.1-1.9 4.9h7.5c-.7-1.8-1.3-3.4-1.9-4.9-.5-1.6-1.1-3.1-1.8-4.5zM639.1 432.7c1.4 0 2.4-.3 3.2-.8.8-.5 1.1-1.3 1.1-2.4 0-.6-.1-1.2-.4-1.6-.2-.4-.6-.8-1-1.1s-.9-.6-1.4-.8c-.5-.2-1.1-.4-1.7-.7-.7-.3-1.4-.6-2-.9-.6-.3-1.1-.6-1.5-1-.4-.4-.7-.8-.9-1.3-.2-.5-.3-1.1-.3-1.7 0-1.5.5-2.7 1.5-3.4s2.4-1.2 4.2-1.2c.5 0 .9 0 1.4.1s.9.2 1.3.3c.4.1.8.2 1.1.4.3.1.6.3.8.4l-.6 1.5c-.5-.3-1.1-.6-1.8-.8s-1.5-.3-2.3-.3c-.6 0-1.1.1-1.5.2-.5.1-.9.3-1.2.5s-.6.6-.8.9c-.2.4-.3.8-.3 1.4 0 .5.1 1 .3 1.4.2.4.5.7.9 1 .4.3.8.5 1.3.7.5.2 1 .5 1.6.7.7.3 1.4.6 2 .9.6.3 1.2.6 1.6 1 .5.4.8.9 1.1 1.4.3.6.4 1.2.4 2.1 0 1.6-.6 2.8-1.7 3.6s-2.6 1.2-4.5 1.2c-.7 0-1.3 0-1.9-.1s-1.1-.2-1.5-.3c-.4-.1-.8-.3-1.1-.4-.3-.1-.5-.3-.7-.4l.6-1.5c.2.1.4.2.7.4.3.1.6.3 1 .4.4.1.8.2 1.3.3.6-.1 1.1-.1 1.7-.1z"
            />
          </g>
        </svg>
      </a>
    </div>
    {% if user.is_authenticated and user_completed_intro %}
    <a
      data-maas-navigation-mobile
      class="p-navigation__toggle--open"
      title="toggle menu"
      id="mobile-nav-toggle"
      >Menu</a
    >
    {% endif %}
  </div>
  <nav
    class="p-navigation__nav p-dropdown__menu"
    role="menubar"
    id="mobile-nav-menu"
  >
    <span class="u-off-screen">
      <a href="#main-content">Jump to main content</a>
    </span>
    <ul class="p-navigation__links" role="menu" data-ng-if="page !== 'intro'">
      {% if user.is_authenticated and user_completed_intro %}
      <li
        role="menuitem"
        class="p-navigation__link p-dropdown u-hide-nav-viewport--large u-hide-nav-viewport--small p-dropdown__toggle"
        data-dropdown-toggle="hardware-toggle"
        data-dropdown-menu="hardware-menu"
        data-dropdown-close-on-blur="true"
      >
        <a data-maas-navigation-dropdown id="hardware-toggle">
            Hardware <i class="p-icon--chevron"></i>
        </a>
        <ul class="p-dropdown__menu u-hide" id="hardware-menu">
          <li class="p-navigation__link" role="menuitem">
            <a href="{% url 'index' %}#/machines">Machines</a>
          </li>
          <li class="p-navigation__link" role="menuitem">
            <a href="{% url 'index' %}#/devices">Devices</a>
          </li>
          {% if user.is_superuser %}
          <li class="p-navigation__link" role="menuitem">
            <a href="{% url 'index' %}#/controllers">Controllers</a>
          </li>
          {% endif %}
          <li class="p-navigation__link" role="menuitem">
            <a href="{% url 'index' %}#/pods">Pods</a>
          </li>
        </ul>
      </li>
      <li
        class="p-navigation__link u-hide-nav-viewport--medium"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'machines' || page === 'pools' }"
      >
        <a
          class="{% block nav-active-machine-list %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/machines"
          >Machines</a
        >
      </li>
      <li
        class="p-navigation__link u-hide-nav-viewport--medium"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'devices' }"
      >
        <a
          class="{% block nav-active-device-list %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/devices"
          >Devices</a
        >
      </li>
      {% if user.is_superuser %}
      <li
        class="p-navigation__link u-hide-nav-viewport--medium"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'controllers' }"
      >
        <a
          class="{% block nav-active-controller-list %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/controllers"
          >Controllers</a
        >
      </li>
      {% endif %}
      <li
        class="p-navigation__link u-hide-nav-viewport--medium"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'pods' }"
      >
        <a
          class="{% block nav-active-pod-list %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/pods"
          >Pods</a
        >
      </li>
      <li
        class="p-navigation__link"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'images' }"
      >
        <a
          class="{% block nav-active-images %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/images"
          >Images</a
        >
      </li>
      <li
        class="p-navigation__link"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'domains' }"
      >
        <a
          class="{% block nav-active-domains-list %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/domains"
          >DNS</a
        >
      </li>
      <li
        class="p-navigation__link"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'zones' }"
      >
        <a
          class="{% block nav-active-zone-list %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/zones"
          >AZs</a
        >
      </li>
      <li
        class="p-navigation__link"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'networks' }"
      >
        <a
          class="{% block nav-active-network-list %}{% endblock %} p-dropdown__item"
          href="{% url 'index' %}#/networks?by=fabric"
          >Subnets</a
        >
      </li>
      {% if user.is_superuser %}
      <li
        class="p-navigation__link {% if page_name == 'settings' %}is-selected{% endif %}"
        role="menuitem"
        data-ng-class="{ 'is-selected': page === 'settings' }"
      >
        <a
          class="{% block nav-active-settings %}{% endblock %} p-dropdown__item"
          href="{% url 'settings' %}"
          >Settings</a
        >
      </li>
      {% endif %} {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <ul class="p-navigation__links--right" role="menu" id="user-options">
      <li data-ng-if="page === 'intro'" class="p-navigation__link">
        <a href data-ng-click="skip()">Skip</a>
      </li>
      <li class="p-navigation__link" role="menuitem">
        <a
          class="{% block nav-active-prefs %}{% endblock %} p-dropdown__item"
          role="menuitem"
          href="{% url 'prefs' %}"
          >{{ user.username }}</a
        >
      </li>
      <li class="p-navigation__link" role="menuitem">
        <a
          class="{% block nav-active-logout %}{% endblock %} p-dropdown__item"
          href="{% url 'logout' %}"
          >Logout</a
        >
      </li>
    </ul>
    {% endif %}
  </nav>
</header>
