{% extends "maasserver/base.html" %}

{% block nav-active-prefs %}active{% endblock %}
{% block title %}User preferences for {{ user.username }}{% endblock %}
{% block page-title %}User preferences for {{ user.username }}{% endblock %}

{% block ng-app %}data-ng-app="MAAS"{% endblock %}

{% block content %}
<div id="prefs" class="accounts">
    <section id="keys">
        <div class="p-strip is-bordered">
            <div class="row">
                <div class="col-8" id="api-keys" data-maas-pref-keys>
                    <h3 class="p-heading--four">MAAS keys</h3>
                    <p>You'll need a separate API key for each Juju environment.</p>
                    <ul class="p-list" data-maas-pref-keys-inject="key_li">
                        {% for token in user.userprofile.get_authorisation_tokens %}
                        <li class="u-equal-height js-bundle" data-maas-pref-key="{{ token.key }}">
                            <div class="col-8 p-code-snippet">
                                <input type="text" value="{{ token.consumer.key }}:{{ token.key }}:{{ token.secret }}" class="p-code-snippet__input" readonly />
                            </div>
                            <div class="col-1 u-vertically-center">
                                <a class="p-tooltip p-tooltip--top-center" data-maas-pref-key-delete><i class="p-icon--delete"></i><span class="p-tooltip__message" role="tooltip">Delete API key</span></a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div>
                        <a class="p-button--neutral u-float--right" data-maas-pref-keys-add>Generate MAAS key</a>
                    </div>
                    <script type="text/ng-template" id="key_li">
                        <li class="u-equal-height js-bundle" data-maas-pref-key="{$ token.key $}">
                            <div class="col-8 p-code-snippet">
                                <input type="text" value="{$ token.consumer.key $}:{$ token.key $}:{$ token.secret $}" class="p-code-snippet__input" readonly />
                            </div>
                            <div class="col-1 u-vertically-center">
                                <a class="p-tooltip p-tooltip--top-center" data-maas-pref-key-delete><i class="p-icon--delete"></i><span class="p-tooltip__message" role="tooltip">Delete API key</span></a>
                            </div>
                        </li>
                    </script>
                </div>
            </div>
        </div>
        <div class="p-strip is-bordered">
            <div class="row">
                <div id="ssh-keys" class="col-8" data-ng-controller="PreferencesController">
                    <h3 class="p-heading--four">SSH keys</h3>
                    <span class="u-text--loading" data-ng-if="loading"><i class="p-icon--spinner p-icon--spinner"></i> Loading...</span>
                </div>
            </div>
            <maas-ssh-keys data-ng-if="!loading"></maas-ssh-keys>
        </div>
        <div class="p-strip is-bordered">
            <div class="row">
                <div class="col-8" id="ssl-keys">
                    <h3 class="p-heading--four">SSL keys</h3>
                    <ul class="p-list">
                        {% for key in user.sslkey_set.all %}
                        <li class="u-equal-height js-bundle row">
                            <div class="col-8 p-code-snippet">
                                <input type="text" value="{{ key.display_html }}" class="p-code-snippet__input" />
                            </div>
                            <div class="col-1 u-vertically-center">
                                <a class="p-tooltip p-tooltip--top-center js-delete-link" href="{% url 'prefs-delete-sslkey' key.id %}"><i class="p-icon--delete"></i><span class="p-tooltip__message" role="tooltip">Delete SSL key</span></a>
                            </div>
                        </li>
                        {% empty %} No SSL key configured. {% endfor %}
                    </ul>
                    <div>
                        <a href="{% url 'prefs-add-sslkey' %}" id="add_ssl_key" class="p-button--neutral u-float--right">Add SSL key</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="profile" class="p-strip is-bordered">
        <div class="row">
            <div class="col-8">
                <h2 class="p-heading--four">User details</h2>
                <form method="post" action="{% url 'prefs' %}">{% csrf_token %}
                    <ul class="p-list">
                        {% for field in profile_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    {% if not request.external_auth_info %}
                    <input type="hidden" name="profile_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save details</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>

    {% if not request.external_auth_info %}
    <section id="password" class="p-strip">
        <div class="row">
            <div class="col-8">
                <h2 class="p-heading--four">Password</h2>
                <form method="post" action="{% url 'prefs' %}">{% csrf_token %}
                    <ul class="p-list">
                        {% for field in password_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    <input type="hidden" name="password_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save password</button>
                </form>
            </div>
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}
