<header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px" window-width>
    <div class="row">
        <div class="tablet-col-3 col-6">
            <h1 class="page-header__title">Network discovery</h1>
            <ul class="p-inline-list page-header__status">
                <li class="p-inline-list__item">{$ discoveredDevices.length $} items discovered</li>
                <li class="p-inline-list__item" data-ng-if="!loaded"><i class="p-icon--spinner u-animation--spin"></i> Loading...</li>
            </ul>
        </div>
        <div class="tablet-col-3 col-6">
            <div class="page-header__controls page-header__controls--discoveries p-form--inline u-align--right">
                <maas-obj-form obj="networkDiscovery" manager="configManager" inline="true">
                    <maas-obj-field type="onoffswitch" key="value" label="Discovery enabled" on-value="enabled" off-value="disabled" subtle="true" label-info="When enabled, MAAS will use passive techniques, such as listening to&#xa; ARP requests and DNS advertisements, to observe networks attached&#xa; to rack controllers. Active subnet mapping can also be enabled in the&#xa; Network Discovery section of the Settings page."></maas-obj-field>
                </maas-obj-form>
                <button class="p-button--neutral" data-ng-click="openClearDiscoveriesPanel()" data-ng-if="discoveredDevices.length">
                    Clear all discoveries
                </button>
                <button class="p-button--neutral p-tooltip p-tooltip--btm-right" aria-describedby="clear-discoveries" disabled data-ng-if="!discoveredDevices.length">
                    Clear all discoveries
                    <span class="p-tooltip__message" role="tooltip" id="clear-discoveries">No items discovered</span>
                </button>
            </div>
        </div>
    </div>

    <div data-ng-if="showClearDiscoveriesPanel">
        <hr>
        <div class="p-strip is-shallow is-bordered">
            <div class="row">
                <div class="col-10">
                    <div class="p-media-object">
                        <div class="p-media-object__image">
                            <i class="p-icon p-icon--warning"></i>
                        </div>
                        <div class="p-media-object__details">
                            <div data-ng-if="networkDiscovery.value === 'enabled'">
                                <p class="u-remove-max-width u-no-padding--top">Clearing all discoveries will remove all items from the list below.</p>
                                <p class="u-remove-max-width">
                                    MAAS will use passive techniques (such as listening to ARP requests and mDNS advertisements) to observe networks attached to rack controllers.
                                    <br>
                                    If active subnet mapping is enabled on the configured subnets, MAAS will actively scan them and ensure discovery information is accurate and complete.
                                </p>
                                <p class="u-remove-max-width u-no-margin--bottom">Learn more about <a class="p-link--external" href="https://docs.maas.io/{$ MAAS_VERSION_NUMBER $}/en/installconfig-networking">active mapping</a>.</p>
                            </div>
                            <div data-ng-if="networkDiscovery.value === 'disabled'">
                                <p class="u-remove-max-width u-no-padding--top">Clearing all discoveries will remove all items from the list.</p>
                                <p class="u-remove-max-width u-no-margin--bottom">Network discovery is disabled. The list of discovered items will not be repopulated.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-strip is-shallow">
            <div class="row">
                <div class="u-align--right">
                    <button class="p-button--base u-no-margin--bottom" data-ng-click="closeClearDiscoveriesPanel()">
                        Cancel
                    </button>
                    <button class="p-button--negative u-no-margin--bottom" data-ng-click="removeAllDevices()" data-ng-if="!removingDevices">
                        Clear all discoveries
                    </button>
                    <button class="p-button--negative u-no-margin--bottom" data-ng-if="removingDevices">
                        <i class="p-icon--spinner is-light u-animation--spin"></i>
                        &nbsp;
                        Deleting all network discoveries
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="p-strip">
    <div class="row">
        <div class="col-12">
            <maas-notifications></maas-notifications>
            <div class="p-notification--caution" data-ng-if="networkDiscovery.value === 'disabled'">
                <p class="p-notification__response">
                <span class="p-notification__status">Warning:</span> List of devices will not update as discovery is turned off
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <aside class="p-filter">
            <div class="maas-accordion p-filter__dropdown col-3 mobile-col-2">
                <button class="p-filter__dropdown-button maas-accordion-tab">Filters</button>
                <div class="p-accordion">
                    <ul class="p-accordion__list">
                        <li class="p-accordion__group ng-hide" data-ng-show="metadata.fabric.length">
                            <button class="maas-accordion-tab p-accordion__tab">Fabric</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item" data-ng-repeat="fabric in metadata.fabric track by fabric.name">
                                        <button class="p-button--base" data-ng-click="toggleFilter('fabric_name', fabric.name)" data-ng-class="{'is-active': isFilterActive('fabric_name', fabric.name)}">
                                            {$ fabric.name $} ({$ fabric.count $})
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="metadata.vlan.length">
                            <button class="maas-accordion-tab p-accordion__tab">VLAN</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item" data-ng-repeat="vlan in metadata.vlan track by vlan.name">
                                        <button class="p-button--base" data-ng-click="toggleFilter('vlan', vlan.name)" data-ng-class="{'is-active': isFilterActive('vlan', vlan.name)}">
                                            {$ vlan.name $} ({$ vlan.count $})
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="metadata.rack.length">
                            <button class="maas-accordion-tab p-accordion__tab">Rack</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item" data-ng-repeat="rack in metadata.rack track by rack.name">
                                        <button class="p-button--base" data-ng-click="toggleFilter('observer_hostname', rack.name)" data-ng-class="{'is-active': isFilterActive('observer_hostname', rack.name)}">
                                            {$ rack.name $} ({$ rack.count $})
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="metadata.subnet.length">
                            <button class="maas-accordion-tab p-accordion__tab">Subnet</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item" data-ng-repeat="subnet in metadata.subnet track by subnet.name">
                                        <button class="p-button--base" data-ng-click="toggleFilter('subnet_cidr', subnet.name)" data-ng-class="{'is-active': isFilterActive('subnet_cidr', subnet.name)}">
                                            {$ subnet.name $} ({$ subnet.count $})
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
    <div class="row">
        <div id="search-bar" class="p-search-box prefix-3 mobile-prefix-2">
            <input type="search" placeholder="Search" class="p-search-box__input" data-ng-model="search"
                data-ng-change="updateFilters()" data-ng-class="{ error: !searchValid }"
                data-ng-disabled="actionOption" />
            <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"
                data-ng-click="clearSearch()" data-ng-show="search.length > 0"><i
                    class="p-icon--close"></i></button>
            <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="p-table--network-discovery p-table-expanding p-table--sortable" style="overflow: visible;">
                <thead data-ng-if="windowWidth >= 768" offset="88" media-query="min-width: 768px">
                    <tr>
                        <th class="p-table--network-discovery__name" role="columnheader" data-ng-click="sortTable('hostname')" data-ng-class="{'is-sorted': predicate === 'hostname', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Name</th>
                        <th class="p-table--network-discovery__mac" role="columnheader" data-ng-click="sortTable('mac_address')" data-ng-class="{'is-sorted': predicate === 'mac_address', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">MAC address</th>
                        <th class="p-table--network-discovery__ip" role="columnheader" data-ng-click="sortTable('ip')" data-ng-class="{'is-sorted': predicate === 'ip', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">IP</thdiv>
                        <th class="p-table--network-discovery__rack" role="columnheader" data-ng-click="sortTable('observer_hostname')" data-ng-class="{'is-sorted': predicate === 'observer_hostname', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Rack</th>
                        <th class="p-table--network-discovery__last-seen" role="columnheader" data-ng-click="sortTable('last_seen_timestamp')" data-ng-class="{'is-sorted': predicate === 'last_seen_timestamp', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Last seen</th>
                        <th class="p-table--network-discovery__chevron"><div class="u-align--right">Actions</div></th>
                    </tr>
                </thead>
                <tbody data-ng-if="convertTo.saved || !discoveredDevices.length">
                    <tr data-ng-if="convertTo.saved">
                        <td class="col-11">
                            <i class="p-icon--success">Success:</i> {$ convertTo.hostname $} has been added.
                            <a href="#/machine/{$ convertTo.parent $}" data-ng-if="convertTo.parent">Go to the machine devices page.</a>
                            <a href="#/devices" data-ng-if="!convertTo.parent">Go to the device listing.</a>
                        </div>
                        <td class="col-1">
                            <button class="p-button--neutral" data-ng-click="convertTo.saved = false">Clear</button>
                        </td>
                    </tr>
                    <tr data-ng-if="!discoveredDevices.length">
                        <td class="col-12">
                            No new discoveries
                        </td>
                    </tr>
                </tbody>
                <tbody vs-repeat vs-scroll-parent="window">
                    <tr data-ng-repeat="discovery in filteredDevices = (discoveredDevices | nodesFilter:search | orderBy:predicate:reverse) track by discovery.first_seen"
                        data-ng-class="{'is-active' : discovery.first_seen === selectedDevice}">
                        <td class="p-table--network-discovery__name" aria-label="Name" data-ng-if="discovery.first_seen !== selectedDevice">
                            {$ getDiscoveryName(discovery) $}
                            <div class="p-tooltip p-tooltip--top-center" aria-describedby="tp-hdcp">
                                <i data-ng-show="discovery.is_external_dhcp === true" class="p-icon--information ng-hide"></i>
                                <span class="p-tooltip__message" role="tooltip" id="tp-hdcp">This device is providing DHCP</span>
                            </div>
                        </td>
                        <td class="p-table--network-discovery__mac" aria-label="MAC" data-ng-if="discovery.first_seen !== selectedDevice">
                            {$ discovery.mac_address $}<br/>
                            <small data-ng-if="windowWidth >= 768">{$ discovery.mac_organization || 'Unknown' $}</small>
                        </td>
                        <td class="p-table--network-discovery__ip" aria-label="IP Address" data-ng-if="discovery.first_seen !== selectedDevice">
                            {$ discovery.ip $}
                        </td>
                        <td class="p-table--network-discovery__rack" aria-label="Rack" data-ng-if="discovery.first_seen !== selectedDevice">
                            {$ discovery.observer_hostname $}
                        </td>
                        <td class="p-table--network-discovery__last-seen" aria-label="Last seen" data-ng-if="discovery.first_seen !== selectedDevice">
                            {$ discovery.last_seen $}
                        </td>
                        <td class="p-table--network-discovery__chevron" data-ng-if="discovery.first_seen !== selectedDevice">
                            <div class="u-align--right">
                                <button class="p-button--base u-width--auto" data-ng-click="toggleSelected(discovery.first_seen)">
                                    <i class="p-icon--chevron u-no-margin--right">Open</i>
                                </button>
                            </div>
                        </td>
                        <td class="p-table-expanding__panel" data-ng-if="discovery.first_seen === selectedDevice">
                            <maas-obj-form data-ng-if="discovery.first_seen === selectedDevice"
                                obj="convertTo" manager="proxyManager" pre-process="preProcess"
                                after-save="afterSave" table-form="true" save-on-blur="false">
                                <div class="row">
                                    <div class="u-float--left" data-ng-if="windowWidth >= 768">
                                        <maas-obj-field class="u-full-width-input" type="text" key="hostname"
                                            disable-label="true" placeholder="Hostname (optional)" data-ng-disabled="discovery.isBeingRemoved"></maas-obj-field>
                                    </div>
                                    <div class="u-float--right">
                                        <span class="p-button--base" data-ng-if="discovery.isBeingRemoved">
                                            <i class="p-icon--spinner u-animation--spin"></i>
                                            Deleting discovery&hellip;
                                        </span>
                                        <button class="p-button--base p-tooltip p-tooltip--btm-right" aria-describedby="remove-{$ discovery.id $}-message" data-ng-click="removeDevice(discovery)" data-ng-if="!discovery.isBeingRemoved">
                                            <i class="p-icon--delete">Delete network discovery</i>
                                            <span class="p-tooltip__message" role="tooltip" id="remove-{$ discovery.id $}-message">Delete network discovery</span>
                                        </button>
                                        <button class="p-button--close" data-ng-if="windowWidth >= 768"
                                            data-ng-click="toggleSelected(discovery.first_seen)">
                                            <i class="p-icon--close">Close panel</i></button>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div data-ng-if="windowWidth < 768" class="u-flex u-clearfix">
                                        <h2 data-ng-click="toggleSelected(selectedDevice)" class="p-heading--four u-float--left">Adding {$ getDiscoveryName(discovery) $}</h2>
                                        <button aria-label="Close editing device" class="p-button--close u-float--right"
                                            data-ng-click="toggleSelected(selectedDevice)">
                                            <i class="p-icon--close"></i></button>
                                    </div>
                                    <div class="row"><hr></div>
                                    <div class="p-strip is-shallow u-no-padding--top" data-ng-class="{ 'u-disable' : discovery.isBeingRemoved }">
                                        <div class="row is-active">
                                            <div class="col-6">
                                                <div class="p-form__group u-clearfix">
                                                    <label class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">Mac</label>
                                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                                        <span class="p-control-text">
                                                            {$ discovery.mac_address $}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="p-form__group u-clearfix">
                                                    <label class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">IP</label>
                                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                                        <span class="p-control-text">
                                                            {$ discovery.ip $}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="p-form__group u-clearfix">
                                                    <label class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">Rack</label>
                                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                                        <span class="p-control-text">
                                                            {$ discovery.observer_hostname $}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="p-form__group u-clearfix">
                                                    <label class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">Last seen</label>
                                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                                        <span class="p-control-text">
                                                            {$ discovery.last_seen $}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="p-form__group u-clearfix">
                                                    <label class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">Fabric</label>
                                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                                        <span class="p-control-text">
                                                            <a href="#/fabric/{$ discovery.fabric $}">
                                                                {$ discovery.fabric_name $}
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="p-form__group u-clearfix">
                                                    <label class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">VLAN</label>
                                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                                        <span class="p-control-text">
                                                            <a href="#/vlan/{$ discovery.vlan $}">
                                                                {$ getVLANName(discovery.vlan) $}
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="p-form__group u-clearfix">
                                                    <label class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">Subnet</label>
                                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                                        <a href="#/subnet/{$ discovery.subnet $}" class="p-control-text">{$ getSubnetName(discovery.subnet) $}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row is-active" data-ng-class="{ 'u-disable' : discovery.isBeingRemoved }">
                                        <div class="col-6">
                                            <div data-ng-if="windowWidth < 768" class="u-clearfix">
                                                <label for="Name" class="p-form__label col-2 tablet-col-2">Name</label>
                                                <div class="col-3 tablet-col-4">
                                                    <maas-obj-field type="text" key="hostname"
                                                        disable-label="true" placeholder="Hostname (optional)"></maas-obj-field>
                                                </div>
                                            </div>
                                            <div class="p-form__group u-clearfix">
                                                <label class="p-form__label col-2 tablet-col-2">Type</label>
                                                <div class="p-form__control col-3 tablet-col-4">
                                                    <select name="type" data-ng-model="convertTo.type">
                                                        <option value="" disabled>Choose type</option>
                                                        <option value="device">Device</option>
                                                        <option value="interface">Interface</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <maas-obj-field type="options" key="domain" label="Domain" placeholder="Choose domain"
                                                label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4" subtle="false"
                                                options="domain as domain.name for domain in domains"
                                                data-ng-if="convertTo.type === 'device'"></maas-obj-field>
                                            <maas-obj-field type="options" subtle="false" key="system_id" label="Device name" placeholder="Select device name"
                                                options="device.system_id as device.fqdn for device in devices | orderBy:'fqdn'"
                                                label-width="2" label-width-tablet="2" label-info="Create as an interface on the selected device." input-width="3" input-width-tablet="4"
                                                data-ng-if="convertTo.type === 'interface'"></maas-obj-field>
                                        </div>
                                        <div class="col-6">
                                            <maas-obj-field type="options" subtle="false" key="ip_assignment" label="IP assignment" placeholder="Select IP assignment"
                                                options="option[0] as option[1] for option in convertTo.deviceIPOptions" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                                            <maas-obj-field type="options" subtle="false" key="parent" label="Parent" placeholder="Select parent (optional)" placeholder-enabled="true"
                                                options="machine.system_id as machine.fqdn for machine in machines | filter:{status_code: 6} | orderBy:'fqdn'"
                                                label-width="2" label-width-tablet="2" label-info="Assign this device as a child of the parent machine." input-width="3" input-width-tablet="4"
                                                data-ng-if="convertTo.type === 'device'"></maas-obj-field>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="p-space-between is-active" data-ng-class="{ 'u-disable' : discovery.isBeingRemoved }">
                                        <maas-obj-errors></maas-obj-errors>
                                        <div class="p-space-between__align-right">
                                            <button class="p-button--base" type="button" data-ng-click="toggleSelected(selectedDevice)">Cancel</button>
                                            <button class="p-button--neutral"
                                                data-ng-click="convertTo.goTo = true"
                                                data-ng-if="!convertTo.$maasForm.getValue('parent')"
                                                maas-obj-save>Save and go to device listing</button>
                                            <button class="p-button--neutral"
                                                data-ng-click="convertTo.goTo = true"
                                                data-ng-if="convertTo.$maasForm.getValue('parent')"
                                                maas-obj-save>Save and go to machine details</button>
                                            <button class="p-button--positive" maas-obj-save>Save</button>
                                        </div>
                                    </div>
                            </maas-obj-form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
