<header class="p-strip--light is-shallow u-no-padding--bottom page-header">
    <div class="row">
        <div class="tablet-col-4 col-8">
            <h1 class="page-header__title">Images</h1>
            <p class="page-header__status" data-ng-show="loading">
                <span class="u-text--loading">
                    <i class="p-icon--spinner u-animation--spin"></i>
                    Loading...
                </span>
            </p>
            <maas-boot-images-status></maas-boot-images-status>
        </div>
        <div class="tablet-col-2 col-4">
            <div class="page-header__controls p-form--inline u-align--right" data-ng-if="!loading && isSuperUser() && autoImport">
                <maas-obj-form obj="autoImport" manager="configManager" inline="true">
                    <maas-obj-field type="onoffswitch" key="value" label="Automatically sync images" label-info="Enables automatic image updates (sync). The region controller
will check for new images every hour and automatically sync
them, if available, from the stream configured below.
Syncing at the rack controller level occurs every 5 minutes and
cannot be disabled." label-info-icon="help"></maas-obj-field>
                </maas-obj-form>
            </div>
        </div>
    </div>
</header>
<section class="p-strip">
    <div class="row" data-ng-if="autoImport && !autoImport.value">
        <div class="col-12">
            <div class="p-notification--caution">
                <p class="p-notification__response">Automatic image updates are disabled. This may mean that images won't be automatically updated and receive the latest package versions and security fixes.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <maas-notifications></maas-notifications>
    </div>
    <maas-boot-images></maas-boot-images>
</section>
