<div class="row">
    <div class="col-6">
        <h2 class="p-heading--four">Reserved ranges</h2>
    </div>
    <div class="col-6 u-align--right">
        <div data-maas-cta="actionOptions" data-default-title="Reserve range" data-ng-model="actionOption"
            data-ng-change="actionChanged()"></div>
    </div>
</div>

<div class="row">
    <table class="p-table-expanding">
        <thead>
            <tr>
                <th class="col-2">Start IP Address</th>
                <th class="col-2">End IP Address</th>
                <th class="col-1">Owner</th>
                <th class="col-1">Type</th>
                <th class="col-3">Comment</th>
                <th class="col-3">
                    <span class="u-float--right">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="iprange in (subnetIPRanges = ipranges | filterBySubnetOrVlan:subnet:vlan) | orderBy:ipRangeSort"
                data-ng-class="{ 'is-active': isIPRangeInEditMode(iprange) || isIPRangeInDeleteMode(iprange)}">
                <td class="col-2" aria-label="Start IP Address">{$ iprange.start_ip $}</td>
                <td class="col-2" aria-label="End IP Address">{$ iprange.end_ip $}</td>
                <td class="col-1" aria-label="Owner">{$ iprange.type == "dynamic" ? "MAAS" : iprange.user $}</td>
                <td class="col-1" aria-label="Type">{$ iprange.type == "dynamic" ? "Dynamic" : "Reserved" $}</td>
                <td class="col-3" aria-label="Comment">{$ iprange.type == "dynamic" ? "Dynamic" : iprange.comment $}</td>
                <td class="col-3">
                    <div class="u-align--right" data-ng-if="!isIPRangeInDeleteMode(iprange) && !isIPRangeInEditMode(iprange)">
                        <button class="p-button--base is-small u-no-padding--top u-no-padding--bottom" aria-label="Edit reserved range"
                            data-ng-click="toggleMenu(); ipRangeToggleEditMode(iprange)">
                            <i class="p-icon--edit">Edit</i>
                        </button>
                        <button class="p-button--base is-small u-no-padding--top u-no-padding--bottom" aria-label="Remove range"
                            data-ng-click="toggleMenu(); ipRangeEnterDeleteMode(iprange)">
                            <i class="p-icon--delete">Remove</i>
                        </button>
                    </div>
                </td>
                <td class="is-active p-table-expanding__panel col-12 p-table--action-cell" col-span="6" data-ng-if="isIPRangeInDeleteMode(iprange)">
                    <hr />
                    <div class="row u-no-margin--top">
                        <div class="col-9 u-wrap">
                            <span class="p-icon--warning">Warning:</span> Ensure all in-use IP addresses are registered in MAAS before releasing this range to avoid potential collisions. Are you sure you want to remove this IP range?
                        </div>
                        <div class="col-3">
                            <span class="u-float--right">
                                <button class="p-button--base" type="button" data-ng-click="ipRangeCancelDelete()">Cancel</button>
                                <button class="p-button--negative" data-ng-click="ipRangeConfirmDelete()">Remove</button>
                            </span>
                        </div>
                    </div>
                </td>
                <td class="is-active p-table-expanding__panel col-12" col-span="6" data-ng-if="isIPRangeInEditMode(iprange)">
                    <hr />
                    <maas-obj-form obj="iprange" manager="iprangeManager" table-form="true"
                    save-on-blur="false" after-save="ipRangeClearEditMode">
                        <div class="row">
                            <div class="col-6">
                                <maas-obj-field type="text" key="start_ip" label="Start IP address"
                                label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                            </div>
                            <div class="col-6">
                                <maas-obj-field type="text" key="end_ip" label="End IP address"
                                label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                            </div>
                        </div>
                        <div class="row" data-ng-if="iprange.type !== 'dynamic'">
                            <div class="col-6">
                                <maas-obj-field type="text" key="comment" label="Purpose" placeholder="IP range purpose (optional)" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                            </div>
                        </div>
                        <div class="row" data-ng-if="iprange.type === 'dynamic'">
                            <div class="p-form__group">
                                <label class="col-2 tablet-col-2 p-form__group-label" for="purpose">Purpose</label>
                                <div class="p-form__group-input col-4 tablet-col-3">
                                    <input type="text" id="purpose" value="Dynamic" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row u-no-margin--top">
                            <hr />
                        </div>
                        <div class="row u-no-margin--top">
                            <div class="col-6">
                                <maas-obj-errors></maas-obj-errors>
                            </div>
                            <div class="col-6">
                                <span class="u-float--right">
                                    <button class="p-button--base" type="button" data-ng-click="ipRangeToggleEditMode(iprange)">Cancel</button>
                                    <button class="p-button--positive u-no-margin--top" maas-obj-save>Save</button>
                                </span>
                            </div>
                        </maas-obj-form>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="subnetIPRanges.length === 0 && !newRange">
                <td class="col-12">No IP ranges have been reserved for this subnet.</td>
            </tr>
            <tr class="p-table-expanding__panel col-12" data-ng-if="newRange">
                <td class="p-form">
                    <maas-obj-form obj="newRange" manager="iprangeManager" manager-method="createItem"
                        table-form="true" save-on-blur="false" after-save="cancelAddRange">
                        <div class="u-hide u-show--small">
                            <h2 data-ng-click="staticRouteToggleEditMode(staticRoute)" class="u-float--left">&lsaquo;&nbsp;&nbsp;Reserve range</h2>
                            <i data-ng-click="staticRouteToggleEditMode(staticRoute)" class="p-icon--close u-float--right">Close</i>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <maas-obj-field type="text" key="start_ip" label="Start IP address"
                                label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                            </div>
                            <div class="col-6">
                                <maas-obj-field type="text" key="end_ip" label="End IP address"
                                label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                            </div>
                        </div>
                        <div class="row" data-ng-if="newRange.type !== 'dynamic'">
                            <div class="col-6">
                                <maas-obj-field
                                    type="text" key="comment" label="Purpose" placeholder="IP range purpose (optional)"
                                    label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                            </div>
                        </div>
                        <div class="row u-no-margin--top">
                            <hr />
                        </div>
                        <div class="row u-no-margin--top">
                            <div class="col-6">
                                <maas-obj-errors></maas-obj-errors>
                            </div>
                            <div class="col-6">
                                <div class="u-align--right">
                                    <button class="p-button--base" type="button" data-ng-click="cancelAddRange()">Cancel</button>
                                    <button class="p-button--positive u-no-margin--top" maas-obj-save>Reserve</button>
                                </div>
                            </div>
                        </div>
                    </maas-obj-form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p><a class="p-link--external" href="https://docs.maas.io/{$ MAAS_VERSION_NUMBER $}/en/installconfig-network-ipranges" target="_blank">About IP ranges</a></p>
