<header class="p-strip--light is-shallow u-no-padding--bottom page-header" data-ng-class="{'u-no-padding--bottom': currentpage === 'machines' || currentpage === 'pools'}" media-query="min-width: 769px">
    <div class="row flex-row">
        <div class="flex-item">
            <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
            <h1 class="page-header__title">{$ title $}</h1>
            <p class="page-header__status u-no-margin--top" data-ng-show="loading">
                <span class="u-text--loading"><i class="p-icon--spinner u-animation--spin"></i> Loading...</span>
            </p>
            <p class="page-header__status" data-ng-show="!loading">
                <ng-pluralize data-ng-if="currentpage === 'machines' || currentpage == 'pools'" count="machines.length" when="{'one': '{$ machines.length $} machine available', 'other': '{$ machines.length $} machines available'}"></ng-pluralize>
                <ng-pluralize data-ng-if="currentpage === 'devices'" count="devices.length" when="{'one': '{$ devices.length $} device available', 'other': '{$ devices.length $} devices available'}"></ng-pluralize>
                <ng-pluralize data-ng-if="currentpage === 'controllers'" count="controllers.length" when="{'one': '{$ controllers.length $} controller available', 'other': '{$ controllers.length $} controllers available'}"></ng-pluralize>
            </p>
        </div>
        <div class="u-align--right" data-ng-show="currentpage === 'machines'">
            <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
            <div>
                <ul class="p-inline-list u-no-margin--bottom">
                    <li class="p-inline-list__item" data-ng-show="tabs.machines.selectedItems.length">
                        <a data-ng-click="showSelected('machines')">{$ tabs.machines.selectedItems.length $} selected</a>
                    </li>
                    <li class="p-inline-list__item"
                        data-ng-class="{'u-no-margin--right': !tabs.machines.selectedItems.length}"
                        data-ng-hide="!canAddMachine()">
                        <div
                            data-maas-cta="addHardwareOptions"
                            data-ng-model="addHardwareOption"
                            data-ng-change="addHardwareOptionChanged()"
                            data-default-title="Add hardware">
                        </div>
                    </li>
                    <li class="p-inline-list__item" data-ng-show="tabs.machines.selectedItems.length">
                        <span
                            data-selected-items="tabs.machines.selectedItems.length"
                            data-maas-cta="tabs.machines.takeActionOptions"
                            data-ng-click="updateAvailableActions('machines')"
                            data-ng-model="tabs.machines.actionOption"
                            data-ng-change="actionOptionSelected('machines')">
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div data-ng-show="currentpage === 'pools'">
            <div class="page-header__controls"
                 data-ng-show="canCreateResourcePool()">
              <button class="p-button--neutral"
                      data-ng-click="tabs.pools.addPool()"
                      data-ng-hide="tabs.pools.actionOption">Add pool</button>
              <button class="p-button--neutral ng-hide"
                      data-ng-click="tabs.pools.cancelAddPool()"
                      data-ng-show="tabs.pools.actionOption">Cancel add pool</button>
            </div>
        </div>

        <div data-ng-show="currentpage === 'devices' || currentpage === 'controllers'">
            <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
            <div class="page-header__controls" data-ng-show="currentpage === 'devices'">
                <div data-ng-hide="tabs.devices.selectedItems.length">
                    <button class="p-button--neutral"
                        data-ng-click="addDevice()"
                        data-ng-hide="addDeviceScope.viewable">Add device</button>
                    <button class="p-button--neutral ng-hide"
                        data-ng-click="cancelAddDevice()"
                        data-ng-show="addDeviceScope.viewable">Cancel add device</button>
                </div>
                <ul class="p-inline-list u-no-margin--bottom" data-ng-show="tabs.devices.selectedItems.length">
                    <li class="p-inline-list__item">
                        <a data-ng-click="showSelected('devices')">{$ tabs.devices.selectedItems.length $} selected&nbsp;</a>
                    </li>
                    <li class="p-inline-list__item">
                        <span
                            data-selected-items="tabs.devices.selectedItems.length"
                            data-maas-cta="tabs.devices.takeActionOptions"
                            data-ng-click="updateAvailableActions('devices')"
                            data-ng-model="tabs.devices.actionOption"
                            data-ng-change="actionOptionSelected('devices')">
                        </span>
                    </li>
                </ul>
            </div>

            <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
            <div class="page-header__controls u-no-margin--top" data-ng-show="currentpage === 'controllers'">
                <div data-ng-if="!tabs.controllers.selectedItems.length">
                    <button class="p-button--neutral"
                        data-ng-click="tabs.controllers.addController = true"
                        data-ng-hide="tabs.controllers.addController">Add rack controller</button>
                    <button class="p-button--neutral ng-hide"
                        data-ng-click="tabs.controllers.addController = false"
                        data-ng-show="tabs.controllers.addController">Close add rack controller</button>
                </div>
                <ul class="p-inline-list u-no-margin--top" data-ng-show="tabs.controllers.selectedItems.length">
                    <li class="p-inline-list__item">
                        <a data-ng-click="showSelected('controllers')">{$ tabs.controllers.selectedItems.length $} selected&nbsp;</a>
                    </li>
                    <li class="p-inline-list__item">
                        <span
                            data-selected-items="tabs.controllers.selectedItems.length"
                            data-maas-cta="tabs.controllers.takeActionOptions"
                            data-ng-click="updateAvailableActions('controllers')"
                            data-ng-model="tabs.controllers.actionOption"
                            data-ng-change="actionOptionSelected('controllers')">
                        </span>
                    </li>
                </ul>
            </div>

            <div class="page-header__controls u-no-margin--top u-float--right ng-hide" data-ng-show="currentpage === 'switches'">
                <ul class="p-inline-list u-no-margin--top ng-hide" data-ng-show="tabs.switches.selectedItems.length">
                    <li class="p-inline-list__item">
                        <a data-ng-click="showSelected('switches')">{$ tabs.switches.selectedItems.length $} selected&nbsp;</a>
                    </li>
                    <li class="p-inline-list__item">
                        <span
                            data-selected-items="tabs.switches.selectedItems.length"
                            data-maas-cta="tabs.switches.takeActionOptions"
                            data-ng-click="updateAvailableActions('switches')"
                            data-ng-model="tabs.switches.actionOption"
                            data-ng-change="actionOptionSelected('switches')">
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-header__dropdown u-no-margin--top ng-hide" data-ng-show="tabs.pools.actionOption">
      <maas-obj-form obj="tabs.pools.newPool" manager="tabs.pools.manager" manager-method="createItem"
                     inline="false" save-on-blur="false" after-save="tabs.pools.cancelAddPool">
        <section class="page-header__section row">
          <hr>
          <div class="p-form p-form--stacked ng-scope">
            <div class="col-6">
              <maas-obj-field
                type="text" key="name" label="Name (required)" subtle="false"
                placeholder="Name (required)" label-width="2" input-width="3">
              </maas-obj-field>
              <maas-obj-field
                type="textarea" key="description" label="Description" subtle="false"
                label-width="2" input-width="3" class="u-no-margin--left field-description">
              </maas-obj-field>
            </div>
          </div>
        </section>

        <section class="page-header_section row">
          <div class="page-header__controls p-strip u-align--right u-no-padding--bottom">
            <hr>
            <button class="p-button--base u-no-margin--top" type="button" data-ng-click="tabs.pools.cancelAddPool()">
              Cancel
            </button>
            <button class="p-button--positive u-no-margin--top" maas-obj-save>Add pool</button>
          </div>
        </section>
      </maas-obj-form>
    </div>

    <div data-ng-repeat="tab in ['machines', 'switches', 'devices']" data-ng-class="{ 'u-hide': !tabs[tab].actionOption }">
        <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
        <div class="page-header__dropdown">
            <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <section class="page-header__section row u-no-margin--top" data-ng-hide="isActionError(tab) || hasActionsInProgress(tab)">
                <div class="row">
                    <div class="col-10 ng-hide" data-ng-show="tabs[tab].actionOption.name === 'commission'">
                        <form>
                            <div class="row">
                                <div class="col-5">
                                    <input id="{$ tab $}-enableSSH" type="checkbox" data-ng-model="tabs[tab].commissionOptions.enableSSH">
                                    <label for="{$ tab $}-enableSSH">Allow SSH access and prevent machine powering off</label>
                                    <input id="{$ tab $}-skipBMCConfig" type="checkbox" data-ng-model="tabs[tab].commissionOptions.skipBMCConfig">
                                    <label for="{$ tab $}-skipBMCConfig">Skip configuring supported BMC controllers with a MAAS generated username and password.</label>
                                    <input id="{$ tab $}-skipNetworking" type="checkbox" data-ng-model="tabs[tab].commissionOptions.skipNetworking">
                                    <label for="{$ tab $}-skipNetworking">Retain network configuration</label>
                                </div>
                                <div class="col-5">
                                    <input id="{$ tab $}-skipStorage" type="checkbox" data-ng-model="tabs[tab].commissionOptions.skipStorage">
                                    <label for="{$ tab $}-skipStorage">Retain storage configuration</label>
                                    <input id="{$ tab $}-updateFirmware" type="checkbox" data-ng-model="tabs[tab].commissionOptions.updateFirmware">
                                    <label for="{$ tab $}-updateFirmware">Update firmware</label>
                                    <input id="{$ tab $}-configureHBA" type="checkbox" data-ng-model="tabs[tab].commissionOptions.configureHBA">
                                    <label for="{$ tab $}-configureHBA">Configure HBA</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ng-hide" data-ng-show="tabs[tab].actionOption.name === 'test' || tabs[tab].actionOption.name === 'deploy' || tabs[tab].actionOption.name === 'release' || tabs[tab].actionOption.name === 'set-zone' || tabs[tab].actionOption.name === 'set-pool'">
                        <form class="p-form">
                            <ul class="p-inline-list--settings u-no-margin--left u-no-padding--left ng-hide" data-ng-show="tabs[tab].actionOption.name === 'test'">
                                <li class="p-inline-list__item">
                                    <input id="{$ tab $}-enableSSH" type="checkbox" data-ng-model="tabs[tab].commissionOptions.enableSSH">
                                    <label for="{$ tab $}-enableSSH">Allow SSH access and prevent machine powering off</label>
                                </li>
                            </ul>
                            <div class="p-form__group ng-hide" data-ng-show="tabs[tab].actionOption.name === 'deploy'">
                                <div class="row p-form--stacked">
                                    <div class="col-12">
                                        <div class="p-strip is-shallow u-no-padding--top">
                                            <div class="p-form__group" data-maas-os-select="osinfo" data-ng-model="tabs[tab].osSelection" style="width: 100%"></div>
                                        </div>
                                        <div class="p-strip is-shallow u-no-padding--top" data-ng-if="isSuperUser()">
                                            <div class="p-form__group">
                                                <label class="p-form__label u-no-padding--top">Additional install</label>
                                                <div class="p-form__control" style="width: 70%">
                                                    <input id="{$ tab $}-installKVM" type="checkbox" data-ng-model="tabs[tab].deployOptions.installKVM" ng-disabled="!nodesManager.isModernUbuntu(tabs['machines'].osSelection)">
                                                    <label for="{$ tab $}-installKVM" class="u-float--left" style="width:auto; margin-right: 1rem;">
                                                        Register as MAAS KVM host
                                                    </label>
                                                    <span data-ng-if="!nodesManager.isModernUbuntu(tabs['machines'].osSelection)">
                                                            <i class="p-icon--warning"></i>
                                                            <strong>Warning:</strong> Ubuntu 18.04 is the minimum required to create a KVM host. <a class="p-link--external" target="_blank" href="https://docs.maas.io/2.5/en/manage-pods-webui#add-a-kvm-host">Learn more</a>.
                                                    </span>
                                                    <span data-ng-if="nodesManager.isModernUbuntu(tabs['machines'].osSelection)">
                                                        <i class="p-icon--information">Information:</i>
                                                        <a target="_blank" class="p-link--external"
                                                        href="https://docs.maas.io/2.5/en/manage-pods-webui#add-a-kvm-host">Learn more</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ng-if="isSSHKeyWarning(tab)" class="p-strip is-shallow u-no-padding--top">
                                            <p class="u-remove-max-width">
                                                <i class="p-icon--warning">Warning:</i> Login will not be possible because no SSH keys have been added to your account. To add an SSH key, visit <a href="account/prefs/">your account page</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div data-ng-if="tabs[tab].actionOption.name === 'release'">
                                    <div data-maas-release-options="tabs[tab].releaseOptions"></div>
                                </div>
                            </div>
                            <div class="p-form__group col-5 ng-hide" data-ng-show="tabs[tab].actionOption.name === 'set-zone'">
                                <label for="{$ tab $}-zone3" class="p-form__label">Select Zone</label>
                                <div class="p-form__control u-clearfix">
                                    <select name="zone" id="{$ tab $}-zone3" data-ng-model="tabs[tab].zoneSelection" data-ng-options="zone as zone.name for zone in zones">
                                        <option value="" disabled="disabled">Choose a zone</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ng-hide" data-ng-show="tabs[tab].actionOption.name === 'set-pool'">
                                <div class="row">
                                    <ul class="p-inline-list--settings u-no-margin--left u-no-padding--left u-no-margin--top">
                                        <li class="p-inline-list__item col-3">
                                            <input type="radio" name="pool-action" id="pool-select" data-ng-model="tabs[tab].poolAction" value="select-pool" checked="checked"></input>
                                            <label for="pool-select">Select pool</label>
                                        </li>
                                        <li class="p-inline-list__item">
                                            <input type="radio" name="pool-action" id="pool-create" data-ng-model="tabs[tab].poolAction" value="create-pool"></input>
                                            <label for="pool-create">Create pool</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row ng-hide" data-ng-show="tabs[tab].poolAction === 'select-pool'">
                                    <div class="col-5 p-form__group">
                                        <label class="col-2" for="{$ tab $}-pool3">Pool</label>
                                        <select class="col-3" name="pool" id="{$ tab $}-pool3" data-ng-model="tabs[tab].poolSelection" data-ng-options="pool as pool.name for pool in pools">
                                            <option value="" disabled="disabled">Select pool</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row ng-hide" data-ng-show="tabs[tab].poolAction === 'create-pool'">
                                    <div class="col-5 p-form__group">
                                        <label class="col-2" for="{$ tab $}-pool4">Pool name</label>
                                        <input class="col-3" type="text" name="new-pool" id="{$ tab $}-pool4" data-ng-model="tabs[tab].newPool.name"></input>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ng-hide" data-ng-show="tabs[tab].actionOption.name === 'tag'">
                        <div class="row p-form--stacked">
                            <div class="col-8">
                                <div class="p-form__group u-clearfix">
                                    <label class="p-form__label col-2 mobile-col-2 tablet-col-2">Tag machines</label>
                                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3 tags--inline">
                                        <span data-ng-repeat="tag in node.tags" data-ng-hide="summary.editing">
                                            <a href="#/machines/?query=tags:({$ tag $})">{$ tag $}</a>
                                        </span>
                                        <tags-input data-ng-model="tags" allowed-tags-pattern="[\w-]+" placeholder="Enter a tag">
                                            <auto-complete source="tagsAutocomplete($query)"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row u-align--right" data-ng-if="tabs[tab].actionOption.name !== 'commission' && tabs[tab].actionOption.name !== 'test' && !tabs[tab].actionProgress.showing_confirmation">
                    <div class="col-12">
                        <div class="u-space-between page-header__controls" data-ng-if="tabs[tab].actionOption.name !== 'commission' && tabs[tab].actionOption.name !== 'test'">
                            <div class="u-align--right">
                                <button class="p-button--base" type="button" data-ng-click="actionCancel(tab)">Cancel</button>
                                <button data-ng-class="tabs[tab].actionOption.name === 'delete' ? 'p-button--negative' : 'p-button--positive'" data-ng-click="actionGo(tab)" data-ng-hide="hasActionsFailed(tab)" data-ng-disabled="tabs[tab].actionOption.name === 'tag' && tags.length <= 0">
                                    <span data-ng-if="tabs[tab].actionOption.name === 'acquire'">Acquire {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'deploy'">Deploy {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'release'">Release {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'set-zone'">Set zone for {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'set-pool'">Set pool for {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'on'">Power on {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'off'">Power off {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'abort'">Abort action for {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'rescue-mode'">Set rescue mode for {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'exit-rescue-mode'">Exit rescue mode for {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'mark-broken'">Mark {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $} as broken
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'mark-fixed'">Mark {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $} as fixed
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'override-failed-testing'">Override failed testing on {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'lock'">Lock {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'unlock'">Unlock {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'delete'">Delete {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}
                                    </span>
                                    <span data-ng-if="tabs[tab].actionOption.name === 'tag'">Tag {$ tabs[tab].selectedItems.length $} {$ pluralize(tab) $}</span>
                                </button>
                                <button class="p-button--neutral" data-ng-click="actionGo(tab)" data-ng-if="hasActionsFailed(tab)">Retry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page-header__section row" data-ng-hide="isActionError(tab) || hasActionsInProgress(tab)" data-ng-if="tabs[tab].actionOption.name === 'commission' && hasCustomCommissioningScripts()">
                <form class="p-form p-form--stacked">
                    <div class="col-8">
                        <div class="p-form__group u-vertically-center">
                            <label class="p-form__label" for="{$ tab $}-commissiong-scripts">Additional commissioning Scripts</label>
                            <div class="p-form__control">
                                <span id="{$ tab $}-commissioning-scripts" data-maas-script-select="script" data-script-type="0" data-ng-model="tabs[tab].commissioningSelection" class="tags--inline"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <section class="page-header__section row" data-ng-hide="isActionError(tab) || hasActionsInProgress(tab)" data-ng-if="tabs[tab].actionOption.name === 'commission' || tabs[tab].actionOption.name ==='test'">
                <hr />
                <form class="p-form">
                    <div class="col-8">
                        <div class="p-form__group hide-create-tag-label">
                            <label for="{$ tab $}-testing-scripts">Hardware tests</label>
                            <span id="{$ tab $}-testing-scripts" data-maas-script-select="script" data-script-type="2" data-ng-model="tabs[tab].testSelection" class="tags--inline"></span>
                        </div>
                    </div>
                </form>
            </section>
            <section class="page-header__section row" data-ng-hide="isActionError(tab) || hasActionsInProgress(tab)" data-ng-if="tabs[tab].actionOption.name === 'commission' || tabs[tab].actionOption.name === 'test' && !tabs[tab].actionProgress.showing_confirmation">
                <hr />
                <div class="page-header__controls">
                    <button class="p-button--base" type="button" data-ng-click="actionCancel(tab)">Cancel</button>
                    <button data-ng-class="tabs[tab].actionOption.name === 'delete' ? 'p-button--negative' : 'p-button--positive'" data-ng-click="actionGo(tab)" data-ng-hide="hasActionsFailed(tab)">
                        <span data-ng-if="tabs[tab].actionOption.name === 'commission'">Commission {$ tabs[tab].selectedItems.length $}
                            <span data-ng-pluralize count="tabs[tab].selectedItems.length" when="{'one': 'machine', 'other': 'machines'}"></span>
                        </span>
                        <span data-ng-if="tabs[tab].actionOption.name === 'test'">Test {$ tabs[tab].selectedItems.length $}
                            <span data-ng-pluralize count="tabs[tab].selectedItems.length" when="{'one': 'machine', 'other': 'machines'}"></span>
                        </span>
                    </button>
                    <button class="p-button--neutral" data-ng-click="actionGo(tab)" data-ng-show="hasActionsFailed(tab)">Retry</button>
                </div>
            </section>

            <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
            <section class="page-header__section row u-no-margin--top" data-ng-hide="!isActionError(tab) || hasActionsInProgress(tab)">
                <div class="col-12">
                    <div class="row">
                        <p data-ng-hide="isDeployError(tab)"
                            class="page-header__message page-header__message--error ng-hide">
                            <i class="p-icon--warning">Warning</i>
                            {$ tabs[tab].actionErrorCount $}
                            <span data-ng-pluralize count="tabs[tab].actionErrorCount" when="{'1': 'node', 'other': 'nodes'}"></span>
                            cannot be {$ tabs[tab].actionOption.sentence $}. To proceed, <a data-ng-click="unselectImpossibleNodes(tab)">update your selection</a>.
                        </p>
                        <p class="page-header__message page-header__message--error ng-hide" data-ng-show="isDeployError(tab)">
                            <i class="p-icon--warning">Warning</i>
                            {$ tabs[tab].selectedItems.length $}
                            <span data-ng-pluralize count="tabs[tab].selectedItems.length" when="{'one': 'node', 'other': 'nodes'}"></span>
                            cannot be {$ tabs[tab].actionOption.sentence $}, because the required boot images have not been imported. To import boot images, visit the <a href="#/images">images page</a>.
                        </p>
                    </div>
                </div>
            </section>
            <section class="page-header__section row u-no-margin--top ng-hide" data-ng-show="tabs[tab].actionProgress.showing_confirmation">
                <div class="col-12">
                    <p>
                        <i class="p-icon--warning" /><b>Confirm:</b> {$ tabs[tab].actionProgress.confirmation_message $}
                    </p>
                    <div data-ng-repeat="confirmation_detail in tabs[tab].actionProgress.confirmation_details">
                        <span>{$ confirmation_detail $}</span>
                    </div>
                    <div>
                        <div class="u-align--left">
                            Are you sure you want to {$ tabs[tab].actionOption.name $} <span data-ng-pluralize count="tabs[tab].selectedItems.length" when="{'one': 'this machine', 'other': 'these machines'}"></span>?
                        </div>
                        <div class="u-align--right">
                            <button class="p-button--base" data-ng-click="actionCancel(tab)">No</button>
                            <button class="p-button--negative" data-ng-click="actionGo(tab)">Yes</button>
                        </div>
                    </div>
                </div>
            </section>
            <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
            <section class="page-header__section row u-no-margin--top ng-hide" data-ng-show="hasActionsInProgress(tab) || hasActionsFailed(tab)">
                <div class="col-12">
                    <p class="page-header__message" data-ng-show="hasActionsInProgress(tab)">
                        <i class="p-icon--spinner u-animation--spin"></i>
                        {$ tabs[tab].actionProgress.completed $} of {$ tabs[tab].actionProgress.total $}
                        nodes are transitioning to {$ tabs[tab].actionOption.sentence $}.
                    </p>
                    <div data-ng-repeat="(error, machines) in tabs[tab].actionProgress.errors">
                        <span class="p-icon--error">Error: </span> The {$ tabs[tab].actionOption.title.toLowerCase() $} action for {$ nodes.length $} <span data-ng-pluralize count="nodes.length" when="{'one': 'node', 'other': 'nodes'}"></span> failed with error: {$ error $}
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
    <div class="page-header__dropdown row u-no-margin--top"
        data-ng-class="{ 'u-hide': !addHardwareScope.viewable }"
        data-ng-controller="AddHardwareController">
        <hr />
        <add-machine data-ng-show="showMachine()"></add-machine>
        <section class="page-header__section col-12 ng-hide" data-ng-show="showChassis()">
            <h4 class="page-header__dropdown-title">Add chassis</h4>
            <form action="post" class="p-form p-form--stacked">
                <div class="col-6"
                    data-maas-power-parameters="chassisPowerTypes"
                    data-ng-model="chassis.power">
                </div>
                <div class="col-6">
                    <div class="p-form__group">
                        <label for="domain2" class="p-form__label col-2">Domain</label>
                        <div class="p-form__control">
                            <select name="domain" id="domain2"
                                data-ng-model="chassis.domain"
                                data-ng-options="domain as domain.name for domain in domains">
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
        <section class="page-header__section col-12 ng-hide" data-ng-show="showChassis()">
            <p class="page-header__message page-header__message--error ng-hide" data-ng-show="error">{$ error $}</p>
            <div class="page-header__controls p-strip u-align--right u-no-padding--bottom">
                <hr />
                <button class="p-button--base" type="button" data-ng-click="cancel()">Cancel</button>
                <button class="p-button--neutral"
                    data-ng-disabled="chassisHasErrors()"
                    data-ng-click="saveChassis(true)">Save and add another</button>
                <button class="p-button--positive"
                    data-ng-disabled="chassisHasErrors()"
                    data-ng-click="saveChassis(false)">Save chassis</button>
            </div>
        </section>

        <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
        <section class="page-header__section row" data-ng-hide="architectures.length">
            <p class="page-header__message page-header__message--error">
                Cannot add {$ mode $} until boot images have been imported. To fix, visit the <a href="#/images">images page</a>.
            </p>
        </section>
    </div>

    <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
    <div class="page-header__dropdown" data-ng-class="{ 'u-hide': !addDeviceScope.viewable }" data-ng-controller="AddDeviceController">
        <section class="page-header__section row">
            <hr />
            <h4 class="page-header__dropdown-title">Add device</h4>
            <form class="p-form p-form--stacked">
                <div class="col-6 u-sv3">
                    <div class="p-form__group">
                        <label for="device-name" class="p-form__label col-2">Name</label>
                        <div class="p-form__control">
                            <div class="p-form-validation" data-ng-class="{ 'is-error': nameHasError() }">
                                <input type="text" id="device-name" placeholder="Name your device"
                                    class="p-form-validation__input"
                                    data-ng-model="device.name">
                            </div>
                        </div>
                    </div>
                    <div class="p-form__group">
                        <label for="domain3" class="p-form__label col-2">Domain</label>
                        <div class="p-form__control">
                            <select name="domain" id="domain3"
                                data-ng-model="device.domain"
                                data-ng-options="domain as domain.name for domain in domains">
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <table class="p-table-nodes-list u-no-margin--bottom">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell">MAC address</th>
                        <th class="p-table__cell">IP assignment</th>
                        <th class="p-table__cell">Subnet</th>
                        <th class="p-table__cell">IP address</th>
                        <th class="p-table__cell">Actions</th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <tr class="p-table__row" data-ng-repeat="interface in device.interfaces">
                        <td class="p-table__cell" aria-label="MAC address">
                            <div class="p-form-validation u-no-margin--top" data-ng-class="{ 'is-error': macHasError(interface) }">
                                <input type="text" id="mac-address1" placeholder="00:00:00:00:00:00"
                                    class="p-form-validation__input u-no-margin--bottom"
                                    data-ng-model="interface.mac">
                            </div>
                        </td>
                        <td class="p-table__cell" aria-label="IP assignment">
                            <select name="ip-assignment" id="ip-assignment"
                                data-ng-model="interface.ipAssignment"
                                class="u-no-margin--bottom"
                                data-ng-options="assigment.title for assigment in ipAssignments">
                                <option value="" disabled selected>Select IP assignment</option>
                            </select>
                        </td>
                        <td class="p-table__cell" aria-label="Subnet">
                            <select name="subnet" id="subnet"
                                data-ng-model="interface.subnetId"
                                data-ng-options="subnet.id as subnet.name for subnet in subnets"
                                data-ng-show="interface.ipAssignment.name === 'static'">
                                <option value="" disabled selected>Select subnet</option>
                            </select>
                        </td>
                        <td class="p-table__cell" aria-label="IP address">
                            <div class="p-form-validation u-no-margin--top" data-ng-class="{ 'is-error': ipHasError(interface) }">
                                <input type="text" id="ip-address" placeholder="000.000.000.000"
                                    class="p-form-validation__input"
                                    data-ng-model="interface.ipAddress"
                                    data-ng-show="interface.ipAssignment.name === 'external'">
                                <input type="text" id="ip-address"
                                    class="p-form-validation__input"
                                    data-ng-model="interface.ipAddress"
                                    data-ng-show="interface.ipAssignment.name === 'static'">
                            </div>
                        </td>
                        <td class="p-table__cell">
                            <a class="p-button--neutral"
                                data-ng-click="deleteInterface(interface)"
                                data-ng-hide="isPrimaryInterface(interface)">Delete</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <button class="p-button--neutral" data-ng-click="addInterface()">+ Add another interface</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <hr />
            <div class="ng-hide" data-ng-show="error">
                <span class="p-icon--error">Error:</span> {$ error $}
            </div>
            <div class="u-align--right">
                <button class="p-button--base" data-ng-click="cancel()">Cancel</button>
                <button class="p-button--neutral"
                    data-ng-class="{ disabled: deviceHasError() }"
                    data-ng-click="save(true)">Save and add another</button>
                <button class="p-button--positive"
                    data-ng-class="{ disabled: deviceHasError() }"
                    data-ng-click="save(false)">Save device</button>
            </div>
        </section>
    </div>

    <!-- XXX blake_r 2015-04-02 - Need to add e2e test. -->
    <div class="page-header__dropdown" data-ng-class="{ 'u-hide': !tabs.controllers.actionOption }">
        <!-- XXX blake_r 2015-04-02 - Need to add e2e test. -->
        <div class="page-header__section col-12 ng-hide" data-ng-hide="isActionError('controllers') || hasActionsInProgress('controllers')">
            <!-- XXX blake_r 2015-04-02 - Need to add e2e test. -->
            <div class="row" data-ng-if="tabs.controllers.actionOption.name === 'set-zone' || tabs.controllers.actionOption.name === 'test'">
                <form class="p-form p-form--inline">
                    <div class="ng-hide" data-ng-show="tabs.controllers.actionOption.name === 'set-zone'">
                        <div class="p-form__group">
                            <label for="zone2" class="p-form__label">Select Zone</label>
                            <div class="p-form__control">
                                <select name="zone" id="zone2"
                                    data-ng-model="tabs.controllers.zoneSelection"
                                    data-ng-options="zone as zone.name for zone in zones">
                                    <option value="" disabled="disabled">Choose a zone</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ng-hide" data-ng-show="tabs.controllers.actionOption.name === 'test'">
                        <div class="p-form__group">
                            <input id="enable_SSH" type="checkbox"
                                data-ng-model="tabs.controllers.commissionOptions.enableSSH">
                            <label class="p-form__label" for="enable_SSH">Allow SSH access and prevent machine from powering off</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="page-header__controls u-align--right" data-ng-if="tabs.controllers.actionOption.name !== 'test' && !tabs.controllers.actionProgress.showing_confirmation">
                    <button class="p-button--base" type="button" data-ng-click="actionCancel('controllers')">Cancel</button>
                    <button class="p-button--positive" data-ng-class="{ 'p-button--positive': tabs.controllers.actionOption.name !== 'delete', 'p-button--negative': tabs.controllers.actionOption.name === 'delete' }" data-ng-click="actionGo('controllers')">
                        <span data-ng-if="tabs.controllers.actionOption.name === 'set-zone'">Set zone for {$ tabs.controllers.selectedItems.length $}
                            <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'controller', 'other': 'controllers'}"></span>
                        </span>
                        <span data-ng-if="tabs.controllers.actionOption.name === 'on'">Power on {$ tabs.controllers.selectedItems.length $}
                            <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'controller', 'other': 'controllers'}"></span>
                        </span>
                        <span data-ng-if="tabs.controllers.actionOption.name === 'off'">Power off {$ tabs.controllers.selectedItems.length $}
                            <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'controller', 'other': 'controllers'}"></span>
                        </span>
                        <span data-ng-if="tabs.controllers.actionOption.name === 'delete'">Delete {$ tabs.controllers.selectedItems.length $}
                            <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'controller', 'other': 'controllers'}"></span>
                        </span>
                        <span data-ng-if="tabs.controllers.actionOption.name === 'import-images'">Import images for {$ tabs.controllers.selectedItems.length $}
                            <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'controller', 'other': 'controllers'}"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="page-header__section ng-hide" data-ng-hide="isActionError('controllers') || hasActionsInProgress('controllers')" data-ng-if="tabs.controllers.actionOption.name === 'test'">
            <div class="row">
                <form class="p-form">
                    <div class="col-8">
                        <div class="p-form__group hide-create-tag-label">
                            <label for="testing-scripts">Hardware Tests</label>
                            <span id="testing-scripts" data-maas-script-select="script" data-script-type="2" data-ng-model="tabs.machines.testSelection" class="tags--inline"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="page-header__section col-12" data-ng-hide="isActionError('controllers') || hasActionsInProgress('controllers')" data-ng-if="tabs.controllers.actionOption.name === 'test' && !tabs.controllers.actionProgress.showing_confirmation">
            <div class="row">
                <div class="page-header__controls p-strip u-align--right">
                    <button class="p-button--base" type="button" data-ng-click="actionCancel('controllers')">Cancel</button>
                    <button class="p-button--positive" data-ng-click="actionGo('controllers')">
                        <span>Test {$ tabs.controllers.selectedItems.length $}
                            <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'controller', 'other': 'controllers'}"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- XXX blake_r 2015-04-02 - Need to add e2e test. -->
        <div class="page-header__section col-12 ng-hide" data-ng-show="isActionError('controllers')">
            <div class="row">
                <div class="p-form p-form--inline">
                    <p class="page-header__message page-header__message--error">
                        <i class="p-icon--error">Error: </i>
                        {$ tabs.controllers.actionErrorCount $}
                        <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'controller', 'other': 'controllers'}"></span>
                        cannot be {$ tabs.controllers.actionOption.sentence $}. To proceed, update your selection.
                    </p>
                </div>
            </div>
        </div>

        <section class="page-header__section row u-no-margin--top ng-hide" data-ng-show="tabs.controllers.actionProgress.showing_confirmation">
            <div class="row">
                <div class="col-12">
                    <p>
                        <i class="p-icon--warning" /><b>Confirm:</b> {$ tabs.controllers.actionProgress.confirmation_message $}
                    </p>
                    <div data-ng-repeat="confirmation_detail in tabs.controllers.actionProgress.confirmation_details">
                        <span>{$ confirmation_detail $}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    Are you sure you want to {$ tabs.controllers.actionOption.name $} <span data-ng-pluralize count="tabs.controllers.selectedItems.length" when="{'one': 'this controller', 'other': 'these controllers'}"></span>?
                </div>
                <div class="col-4 u-align--right">
                    <button class="p-button--base" data-ng-click="actionCancel('controllers')">No</button>
                    <button class="p-button--negative" data-ng-click="actionGo('controllers')">Yes</button>
                </div>
            </div>
        </section>

        <!-- XXX blake_r 2015-05-07 - Need to add e2e test. -->
        <div class="page-header__section col-12 ng-hide" data-ng-show="hasActionsInProgress('controllers') || hasActionsFailed('controllers')">
            <div class="row">
                <form class="p-form p-form--inline">
                    <p class="page-header__message" data-ng-show="hasActionsInProgress('controllers')">
                        <i class="p-icon--spinner u-animation--spin u-margin--right-small"></i>
                        {$ tabs.controllers.actionProgress.completed $} of {$ tabs.controllers.actionProgress.total $}
                        controllers have been {$ tabs.controllers.actionOption.sentence $}.
                    </p>
                    <div data-ng-repeat="(error, controllers) in tabs.controllers.actionProgress.errors">
                        <span class="p-icon--error">Error:</span> The {$ tabs.controllers.actionOption.title.toLowerCase() $} action for {$ controllers.length $} <span data-ng-pluralize count="controllers.length" when="{'one': 'controller', 'other': 'controllers'}"></span> failed with error: {$ error $}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="page-header__dropdown row u-no-margin--top" data-ng-class="{ 'u-hide': !tabs.controllers.addController }">
        <!-- XXX blake_r 2015-05-07 - Need to add e2e test. -->
        <div class="page-header__section col-12 ng-hide" data-ng-show="tabs.controllers.addController">
            <hr />
            <h4 class="page-header__dropdown-title">Add rack controller</h4>
            <pre><code># To add a new rack controller, SSH into the rack controller.
# Install the maas-rack-controller package.
sudo apt install maas-rack-controller
# Register the rack controller with this MAAS. If the rack controller (and machines)
# don't have access to the URL, use a different IP address to allow connection.
sudo maas-rack register --url {$ tabs.controllers.registerUrl $} --secret {$ tabs.controllers.registerSecret $}</code></pre>
        </div>
        <div class="u-align--right ng-hide" data-ng-show="tabs.controllers.addController">
                <a href="" class="p-button--neutral"
                    data-ng-click="tabs.controllers.addController = false">Close</a>
        </div>
    </div>
    <nav class="p-tabs u-hr--fixed-width" data-ng-if="currentpage === 'machines' || currentpage === 'pools'">
        <div class="row">
            <ul class="p-tabs__list" role="tablist">
                <li class="p-tabs__item" role="presentation">
                    <a href="#/machines" class="p-tabs__link" role="tab"
                        data-ng-class="{ 'is-active': currentpage === 'machines'}">
                        <ng-pluralize count="machines.length" when="{'one': '{$ machines.length $} Machine', 'other': '{$ machines.length $} Machines'}"></ng-pluralize>
                    </a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a href="#/pools" class="p-tabs__link" role="tab"
                        data-ng-class="{ 'is-active': currentpage === 'pools'}">
                        <ng-pluralize count="pools.length" when="{'one': '{$ pools.length $} Resource pool', 'other': '{$ pools.length $} Resource pools'}"></ng-pluralize>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="p-strip is-shallow u-no-padding--bottom">
    <div class="row">
        <maas-notifications></maas-notifications>
    </div>
</div>
<div class="p-strip is-shallow">
    <div class="row" ng-if="currentpage === 'machines' || currentpage === 'devices'">
        <aside class="p-filter">
            <div class="maas-accordion p-filter__dropdown col-3 mobile-col-2 ng-hide" data-ng-show="currentpage === 'machines'" data-ng-class="{ 'is-disabled': tabs.machines.actionOption }">
                <button class="p-filter__dropdown-button maas-accordion-tab">Filters</button>
                <div class="p-accordion">
                    <ul class="p-accordion__list">
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.status.length">
                            <button class="maas-accordion-tab p-accordion__tab">Status</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="status in tabs.machines.metadata.status | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('status', status.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('status', status.name, 'machines') }">
                                            {$ status.name $} ({$ status.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.owner.length">
                            <button class="maas-accordion-tab p-accordion__tab">Owner</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="owner in tabs.machines.metadata.owner | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('owner', owner.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('owner', owner.name, 'machines') }">
                                            {$ owner.name $} ({$ owner.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.pool.length">
                            <button class="maas-accordion-tab p-accordion__tab">Resource pools</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="pool in tabs.machines.metadata.pool | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('pool', pool.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('pool', pool.name, 'machines') }">
                                            {$ pool.name $} ({$ pool.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.architecture.length">
                            <button class="maas-accordion-tab p-accordion__tab">Architectures</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="architecture in tabs.machines.metadata.architecture | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('architecture', architecture.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('architecture', architecture.name, 'machines') }">
                                            {$ architecture.name $} ({$ architecture.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.release.length">
                            <button class="maas-accordion-tab p-accordion__tab">OS/Release</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="release in tabs.machines.metadata.release | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('release', release.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('release', release.name, 'machines') }">
                                            {$ release.name $} ({$ release.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.tags.length">
                            <button class="maas-accordion-tab p-accordion__tab">Tags</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="tag in tabs.machines.metadata.tags | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('tags', tag.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('tags', tag.name, 'machines') }">
                                            {$ tag.name $} ({$ tag.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.storage_tags.length">
                            <button class="maas-accordion-tab p-accordion__tab">Storage tags</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="tag in tabs.machines.metadata.storage_tags | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('storage_tags', tag.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('storage_tags', tag.name, 'machines') }">
                                            {$ tag.name $} ({$ tag.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.pod.length">
                            <button class="maas-accordion-tab p-accordion__tab">Pods</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="pod in tabs.machines.metadata.pod | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('pod', pod.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('pod', pod.name, 'machines') }">
                                            {$ pod.name $} ({$ pod.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.subnets.length">
                            <button class="maas-accordion-tab p-accordion__tab">Subnets</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="subnet in tabs.machines.metadata.subnets | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('subnets', subnet.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('subnets', subnet.name, 'machines') }">
                                            {$ subnet.name $} ({$ subnet.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.fabrics.length">
                            <button class="maas-accordion-tab p-accordion__tab">Fabrics</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="fabric in tabs.machines.metadata.fabrics | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('fabrics', fabric.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('fabrics', fabric.name, 'machines') }">
                                            {$ fabric.name $} ({$ fabric.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.spaces.length">
                            <button class="maas-accordion-tab p-accordion__tab">Spaces</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="space in tabs.machines.metadata.spaces | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('spaces', space.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('spaces', space.name, 'machines') }">
                                            {$ space.name $} ({$ space.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.machines.metadata.zone.length">
                            <button class="maas-accordion-tab p-accordion__tab">Zones</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="zone in tabs.machines.metadata.zone | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('zone', zone.name, 'machines')" data-ng-class="{ 'is-active': isFilterActive('zone', zone.name, 'machines') }">
                                            {$ zone.name $} ({$ zone.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="maas-accordion p-filter__dropdown col-3 mobile-col-2 u-no-margin--left ng-hide" data-ng-show="currentpage === 'devices'" data-ng-class="{ 'is-disabled': tabs.devices.actionOption }">
                <button class="p-filter__dropdown-button maas-accordion-tab">Filters</button>
                <div class="p-accordion">
                    <ul class="p-accordion__list">
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.devices.metadata.owner.length">
                            <button class="maas-accordion-tab p-accordion__tab">Owner</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="owner in tabs.devices.metadata.owner | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('owner', owner.name, 'devices')" data-ng-class="{ 'is-active': isFilterActive('owner', owner.name, 'devices') }">
                                            {$ owner.name $} ({$ owner.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.devices.metadata.tags.length">
                            <button class="maas-accordion-tab p-accordion__tab">Tags</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="tag in tabs.devices.metadata.tags | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('tags', tag.name, 'devices')" data-ng-class="{ 'is-active': isFilterActive('tags', tag.name, 'devices') }">
                                            {$ tag.name $} ({$ tag.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-accordion__group ng-hide" data-ng-show="tabs.devices.metadata.zone.length">
                            <button class="maas-accordion-tab p-accordion__tab">Zones</button>
                            <div class="p-accordion__panel">
                                <ul class="p-list">
                                    <li class="p-list__item"  data-ng-repeat="zone in tabs.devices.metadata.zone | orderBy:['name', '-count']">
                                        <a class="p-button--base" href="javascript:;" data-ng-click="toggleFilter('zone', zone.name, 'devices')" data-ng-class="{ 'is-active': isFilterActive('zone', zone.name, 'devices') }">
                                            {$ zone.name $} ({$ zone.count $})
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
        <div class="col-12 ng-hide" data-ng-show="currentpage === 'machines'">
            <form class="p-space-between">
                <div id="search-bar" class="p-search-box prefix-3 mobile-prefix-2">
                    <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
                    <input
                        type="search" placeholder="Search" class="p-search-box__input"
                        data-ng-model="tabs.machines.search" data-ng-change="updateFilters('machines')"
                        data-ng-class="{ error: !tabs.machines.searchValid }"
                        data-ng-disabled="tabs.machines.actionOption" />
                    <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"
                        data-ng-click="clearSearch('machines')"
                        data-ng-show="tabs.machines.search.length > 0"><i class="p-icon--close"></i></button>
                    <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
                </div>
                <div>
                    <select data-ng-model="tabs.machines.groupByLabel" ng-init="tabs.machines.groupByLabel='status'">
                        <option value="status" selected="selected">Group by status</option>
                        <option value="owner">Group by owner</option>
                        <option value="none">No Grouping</option>
                    </select>
                </div>
                <div>
                    <maas-machines-table id="machines-listing"
                        loading="loading"
                        search="tabs.machines.search"
                        group-by-label="tabs.machines.groupByLabel"
                        action-option="tabs.machines.actionOption"
                        ng-disabled="hasActionsInProgress('machines')"
                        machine-has-error="!supportsAction($machine, 'machines')"
                        on-listing-change="onNodeListingChanged($machines, 'machines')"
                        on-check-all="toggleCheckAll('machines')"
                        on-check="toggleChecked($machine, 'machines')"
                        pools="pools"
                        zones="zones">
                    </maas-machines-table>
                </div>
            </form>
        </div>
        <div class="col-12" class="ng-hide" data-ng-show="currentpage === 'devices'">
            <form data-ng-class="{ 'is-error': !tabs.devices.searchValid }">
                <div id="search-bar" class="p-search-box prefix-3 mobile-prefix-2">
                    <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
                    <input
                        type="search" placeholder="Search" class="p-search-box__input"
                        data-ng-model="tabs.devices.search" data-ng-change="updateFilters('devices')"
                        data-ng-class="{ error: !tabs.devices.searchValid }"
                        data-ng-disabled="tabs.devices.actionOption" />
                    <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"
                        data-ng-click="clearSearch('devices')"
                        data-ng-show="tabs.devices.search.length > 0"><i class="p-icon--close"></i></button>
                    <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
                </div>
            </form>
            <table class="p-table-expanding p-table--sortable p-table--devices">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell">
                            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                            <span class="u-float--left">
                                <input type="checkbox" class="u-float--none" data-ng-click="toggleCheckAll('devices')" data-ng-checked="tabs.devices.allViewableChecked" id="check-all-devices" data-ng-disabled="hasActionsInProgress('devices')" />
                                <label for="check-all-devices" class="p-form__label"></label>
                            </span>
                            <span role="columnheader" data-ng-click="sortTable('fqdn', 'devices')" data-ng-class="{'is-sorted': tabs.devices.predicate === 'fqdn', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}">
                                <abbr>FQDN</abbr>
                            </span>
                        </th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('primary_mac', 'devices')" data-ng-class="{'is-sorted': tabs.devices.predicate === 'primary_mac', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}">MAC</th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('ip_assignment', 'devices')" data-ng-class="{'is-sorted': tabs.devices.predicate === 'ip_assignment', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}" media-query="min-width: 1000px">IP Assignment</th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('ip_address', 'devices')" data-ng-class="{'is-sorted': tabs.devices.predicate === 'ip_address', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}">IP Address</th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('owner', 'devices')" data-ng-class="{'is-sorted': tabs.devices.predicate === 'owner', 'sort-asc': tabs.devices.reverse === false, 'sort-desc': tabs.devices.reverse === true}">
                            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                            Owner
                        </th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <!-- XXX rvba 2015-02-25 - Need to add e2e test. This really needs lots of tests. -->
                    <tr class="p-table__row"
                        data-ng-repeat="device in tabs.devices.filtered_items = (devices | nodesFilter:tabs.devices.search | orderBy:tabs.devices.predicate:tabs.devices.reverse) track by device.system_id"
                        data-ng-class="{ 'table--error': !supportsAction(device, 'devices'), 'is-active': device.$selected }">
                        <td class="p-table__cell" aria-label="FQDN">
                            <span class="u-float--left">
                                <input type="checkbox" class="u-float--none" data-ng-click="toggleChecked(device, 'devices')" data-ng-checked="device.$selected" id="{$ device.fqdn $}" data-ng-disabled="hasActionsInProgress('devices')"/>
                                <label for="{$ device.fqdn $}" class="p-form__label"></label>
                            </span>
                            <a class="p-domain-name" href="#/{$ device.link_type $}/{$ device.system_id $}" title="{$ device.fqdn $}">
                                <span class="p-domain-name__host">{$ device.hostname $}</span><span class="p-domain-name__tld">.{$ device.domain.name $}</span>
                            </a>
                        </td>
                        <td class="p-table__cell" aria-label="MAC" title="{$ device.primary_mac $}">
                            {$ device.primary_mac $}
                            <span class="extra-macs" data-ng-show="device.extra_macs.length">(+{$ device.extra_macs.length $})</span>
                        </td>
                        <td class="p-table__cell" aria-label="IP Assignment" title="{$ getDeviceIPAssignment(device.ip_assignment) $}">{$ getDeviceIPAssignment(device.ip_assignment) $}</td>
                        <td class="p-table__cell" aria-label="IP Address" title="{$ device.ip_address $}">{$ device.ip_address $}</td>
                        <td class="p-table__cell" aria-label="Owner" title="{$ device.owner $}">{$ device.owner $}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row ng-hide"  data-ng-show="currentpage === 'pools'">
        <div class="p-table__wrapper row">
          <maas-obj-form obj="tabs.pools.editingPool" manager="tabs.pools.manager"
                         manager-method="updateItem" after-save="tabs.pools.actionConfirmEditPool"
                         inline="false" save-on-blur="false">
            <table class="p-table--sortable p-table-expanding p-table--pools">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell col-3" role="columnheader" data-ng-click="sortTable('name', 'pools')" data-ng-class="{'is-sorted': tabs.pools.predicate === 'name', 'sort-asc': tabs.pools.reverse === false, 'sort-desc': tabs.pools.reverse === true}">Name</th>
                        <th class="p-table__cell col-2" role="columnheader" data-ng-click="sortTable('machine_total_count', 'pools')" data-ng-class="{'is-sorted': tabs.pools.predicate === 'name', 'sort-asc': tabs.pools.reverse === false, 'sort-desc': tabs.pools.reverse === true}">Machines</th>
                        <th class="p-table__cell col-5" role="columnheader" data-ng-click="sortTable('description', 'pools')" data-ng-class="{'is-sorted': tabs.pools.predicate === 'description', 'sort-asc': tabs.pools.reverse === false, 'sort-desc': tabs.pools.reverse === true}">Description</th>
                        <th class="p-table__cell col-2 u-align--right" data-ng-show="showResourcePoolActions()">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-table__row"
                        data-ng-repeat="pool in tabs.pools.filtered_items = (pools | orderBy:tabs.pools.predicate:tabs.pools.reverse) track by pool.name"
                        data-ng-class="{'is-active': tabs.pools.isPoolAction(pool)}">
                        <td class="p-table__cell col-3" aria-label="Name">
                          <span ng-if="!tabs.pools.isPoolAction(pool, 'edit')">
                            {$ pool.name $} <span ng-if="pool.is_default">(default)</span>
                          </span>
                          <maas-obj-field
                            ng-if="tabs.pools.isPoolAction(pool, 'edit')"
                            type="text" key="name" disable-label="true" subtle="false"
                            placeholder="Name (required)">
                        </td>
                        <td data-ng-switch on="pool.machine_total_count" class="p-table__cell col-2" aria-label="Machine count">
                        <span data-ng-switch-when="0"> Empty pool</span>
                        <a data-ng-switch-default data-ng-click="tabs.pools.goToPoolMachines(pool)">
                          {$ pool.machine_ready_count == 0 ? 'Zero' : pool.machine_ready_count $} of {$ pool.machine_total_count $} ready
                        </a>
                        </td>
                        <td class="p-table__cell col-5" aria-label="Description">
                          <span ng-if="!tabs.pools.isPoolAction(pool, 'edit')">{$ pool.description $}</span>
                        </td>
                        <td class="p-table__cell col-2 u-align--right" aria-label="Actions" data-ng-show="showResourcePoolActions()">
                          <span data-ng-hide="tabs.pools.isPoolAction(pool)">
                            <button class="p-button--base is-small u-no-margin--right" data-ng-if="canEditResourcePool(pool)" data-ng-click="tabs.pools.initiatePoolAction(pool, 'edit')">
                              <i class="p-icon--edit">Edit</i>
                            </button>
                            <button class="p-button--base is-small" data-ng-hide="tabs.pools.isDefaultPool(pool)" data-ng-if="canDeleteResourcePool()" data-ng-click="tabs.pools.initiatePoolAction(pool, 'delete')">
                              <i class="p-icon--delete">Delete</i>
                            </button>
                          </span>
                        </td>
                        <td class="is-active p-table-expanding__panel col-12" col-span="4"
                            data-ng-if="tabs.pools.isPoolAction(pool)">
                          <div class="row" data-ng-if="tabs.pools.isPoolAction(pool, 'edit')">
                            <div class="col-6">
                              <div class="p-form-group">
                                <maas-obj-field
                                  type="textarea" key="description" label="Description" inline="true"
                                  subtle="false" input-width="12" class="u-no-margin--left field-description">
                                </maas-obj-field>
                              </div>
                            </div>
                          </div>
                          <hr />
                          <div class="row u-no-margin--top">
                            <div class="col-6">
                              <p data-ng-if="tabs.pools.actionErrorMessage">
                                <span class="p-icon--warning">Warning:</span> {$ tabs.pools.actionErrorMessage $}
                              </p>
                              <p data-ng-if="!tabs.pools.actionErrorMessage && tabs.pools.isPoolAction(pool, 'delete')">
                                Are you sure you want to remove this resource pool?
                              </p>
                            </div>
                            <div class="col-6">
                              <span class="u-float--right">
                                <button class="p-button--base" type="button"
                                        data-ng-click="tabs.pools.cancelPoolAction()">
                                  Cancel
                                </button>
                                <button class="p-button--positive" type="button"
                                        data-ng-if="tabs.pools.isPoolAction(pool, 'edit')"
                                        maas-obj-save>
                                  Save
                                </button>
                                <button class="p-button--negative" type="button"
                                        data-ng-if="tabs.pools.isPoolAction(pool, 'delete')"
                                        data-ng-click="tabs.pools.actionConfirmDeletePool()">
                                  Remove
                                </button>
                              </span>
                            </div>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
          </maas-obj-form>
        </div>
    </div>
    <div class="row ng-hide"  data-ng-show="currentpage === 'controllers'">
        <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
        <div class="p-form-validation" data-ng-class="{ 'is-error': !tabs.controllers.searchValid }">
                <div class="p-search-box">
                <input
                    type="search" placeholder="Search controllers" class="p-search-box__input p-form-validation__input"
                    data-ng-model="tabs.controllers.search" data-ng-change="updateFilters('controllers')"
                    data-ng-disabled="tabs.controllers.actionOption" />
                <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"
                    data-ng-show="tabs.controllers.search.length > 0"
                    data-ng-click="clearSearch('controllers')">
                    <i class="p-icon--close">Reset</i>
                </button>
                <button type="submit" class="p-search-box__button" alt="search">
                    <i class="p-icon--search">Search</i>
                </button>
            </div>
        </div>
        <div class="p-table__wrapper">
            <table class="p-table--sortable p-table--controllers">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell">
                            <span class="u-float--left">
                                <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                                <input type="checkbox" class="u-float--none" data-ng-click="toggleCheckAll('controllers')" data-ng-checked="tabs.controllers.allViewableChecked" id="check-all-controllers" data-ng-disabled="hasActionsInProgress('controllers')" />
                                <label for="check-all-controllers" class="p-form__label"></label>
                            </span>
                            <span role="columnheader" data-ng-click="sortTable('fqdn', 'controllers')" data-ng-class="{'is-sorted': tabs.controllers.predicate === 'fqdn', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}">
                                Name
                            </span>
                        </th>
                        <th class="p-table__cell u-align--center">
                            <span title="Status">Status</span>
                        </th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('node_type_display', 'controllers')" data-ng-class="{'is-sorted': tabs.controllers.predicate === 'node_type_display', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}">Type</th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('node_type_display', 'controllers')" data-ng-class="{'is-sorted': tabs.controllers.predicate === 'version', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}">Version</th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('updated', 'controllers')" data-ng-class="{'is-sorted': tabs.controllers.predicate === 'updated', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}">Last Image Sync</th>
                        <th class="p-table__cell" role="columnheader" data-ng-click="sortTable('updated', 'controllers')" data-ng-class="{'is-sorted': tabs.controllers.predicate === 'updated', 'sort-asc': tabs.controllers.reverse === false, 'sort-desc': tabs.controllers.reverse === true}">Images Status</th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <!-- XXX rvba 2015-02-25 - Need to add e2e test. This really needs lots of tests. -->
                    <tr class="p-table__row"
                        data-ng-repeat="controller in tabs.controllers.filtered_items = (controllers | nodesFilter:tabs.controllers.search | orderBy:tabs.controllers.predicate:tabs.controllers.reverse) track by controller.system_id"
                        data-ng-class="{ 'table--error': !supportsAction(controller, 'controllers'), 'is-active': controller.$selected }">
                        <td class="p-table__cell" aria-label="FQDN">
                            <span class="u-float--left">
                                <input type="checkbox" class="u-float--none" data-ng-click="toggleChecked(controller, 'controllers')" data-ng-checked="controller.$selected" id="{$ controller.fqdn $}" data-ng-disabled="hasActionsInProgress('controllers')"/>
                                <label for="{$ controller.fqdn $}" class="p-form__label"></label>
                            </span>
                            <a class="p-domain-name" href="#/{$ controller.link_type $}/{$ controller.system_id $}" title="{$ controller.fqdn $}">
                                <span class="p-domain-name__host">{$ controller.hostname $}</span><span class="p-domain-name__tld">.{$ controller.domain.name $}</span>
                            </a>
                        </td>
                        <td class="p-table__cell u-align--center" data-maas-controller-status="controller" data-maas-services="services" aria-label="Status"></td>
                        <td class="p-table__cell" aria-label="Type" title="{$ controller.node_type_display $}">{$ controller.node_type_display $}</td>
                        <td class="p-table__cell" aria-label="Version">
                            <div data-ng-show="controller.version" title="{$ controller.version__short $}">
                                {$ controller.version__short $}
                            </div>
                            <div data-ng-show="!controller.version" class="u-no-margin--top" title="Unknown">
                                Unknown
                                <span class="p-tooltip p-tooltip--top-center">
                                    <i class="p-icon--information"></i>
                                    <span class="p-tooltip__message" role="tooltip">Less than 2.3.0</span>
                                </span>
                            </div>
                        </td>
                        <td class="p-table__cell" aria-label="Last image sync" title="{$ controller.last_image_sync || 'Never' $}">{$ controller.last_image_sync || 'Never' $}</td>
                        <td class="p-table__cell" aria-label="Image status">
                            <maas-controller-image-status system-id="controller.system_id"></maas-controller-image-status>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row ng-hide" data-ng-show="currentpage === 'switches'">
        <form class="p-search-box">
            <div class="p-form-validation"
                data-ng-class="{ 'is-error': !tabs.switches.searchValid }">
            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
            <input
                type="search" placeholder="Search switches"
                class="p-search-box__input p-form-validation__input"
                data-ng-model="tabs.switches.search"
                data-ng-change="updateFilters('switches')"
                data-ng-disabled="tabs.switches.actionOption" />
            <button type="reset" class="p-search-box__reset u-no-margin--right" alt="reset"
                data-ng-show="tabs.switches.search.length > 0"
                data-ng-click="clearSearch('switches')">
                <i class="p-icon--close"></i>
            </button>
            <button type="submit" class="p-search-box__button" alt="search">
                <i class="p-icon--search"></i>
            </button>
        </form>
        <maas-switches-table id="switches-listing" search="tabs.switches.search" ng-disabled="hasActionsInProgress('switches')"
            switch-has-error="!supportsAction($switch_, 'switches')" on-listing-change="onNodeListingChanged($switches, 'switches')"
            on-check-all="toggleCheckAll('switches')" on-check="toggleChecked($switch_, 'switches')"></maas-switches-table>
    </div>
</div>
