<div data-ng-hide="loaded">
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide" data-ng-show="loaded" style="position: relative;" data-window-width>
    <header class="p-strip--light is-shallow page-header u-no-padding--bottom" data-ng-class="{'is-not-sticky': action.option.name === 'compose'}" media-query="min-width: 769px">
        <div class="row">
            <div class="tablet-col-4 col-8">
                <h1 class="page-header__title">
                    <span contenteditable="true"
                        data-ng-class="{ editable: canEdit(), 'is-error': editNameInvalid(), editmode: name.editing }"
                        data-ng-model="name.value"
                        data-ng-disabled="!canEdit()"
                        data-ng-keydown="$event.keyCode == 13 && $event.preventDefault()"
                        data-ng-keyup="$event.keyCode == 13 && saveEditName()"
                        data-ng-click="editName()"></span>
                </h1>
                <button class="p-button--base u-no-margin--top ng-hide"
                    data-ng-show="name.editing"
                    data-ng-click="cancelEditName()">Cancel</button>
                <button class="p-button--positive ng-hide"
                    data-ng-show="name.editing"
                    data-ng-disabled="editNameInvalid()"
                    data-ng-click="saveEditName()">Save</button>
            </div>
            <div class="tablet-col-2 col-4">
                <div class="page-header__controls" data-ng-if="canEdit()">
                    <div data-maas-cta="action.options"
                        data-ng-click="updateAvailableActions('pods')"
                        data-ng-model="action.option"
                        data-ng-change="actionOptionChanged()">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header__dropdown" data-ng-if="action.option.name === 'compose'">
            <maas-obj-form obj="compose.obj" manager="podManager" manager-method="compose"
            table-form="true" save-on-blur="false" pre-process="composePreProcess" after-save="cancelCompose">
                <div class="row">
                    <div class="col-12">
                        <hr />
                        <h3 class="p-heading--four">Compose machine</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <maas-obj-field type="text" key="hostname" label="Hostname" subtle="false" placeholder="Hostname (optional)" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="options" key="domain" label="Domain" subtle="false" placeholder="Choose a domain"
                            options="domain.id as domain.name for domain in domains" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="options" key="zone"
                            label="Zone" subtle="false" placeholder="Choose a zone"
                            options="zone.id as zone.name for zone in zones"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4" disabled></maas-obj-field>
                        <maas-obj-field type="options" key="pool" label="Pool" subtle="false" placeholder="Choose a pool"
                            options="pool.id as pool.name for pool in pools" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                    </div>
                    <div class="col-6">
                        <maas-obj-field type="options" key="architecture" label="Architecture" subtle="false" placeholder="Any architecture" placeholder-enabled="true"
                            options="arch for arch in pod.architectures" data-ng-if="pod.architectures.length > 1" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="cores" label="Minimum Cores" subtle="false" placeholder="Number of cores (optional)" subtle-text="{$ availableWithOvercommit(pod.total.cores, pod.used.cores, pod.cpu_over_commit_ratio, 1) $} cores available" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="cpu_speed" label="Minimum Speed (MHz)" subtle="false" placeholder="CPU speed (optional)" subtle-text="{$ pod.hints.cpu_speed $}MHz maximum" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="memory" label="Minimum RAM (GB)" subtle="false" placeholder="Memory amount (optional)" subtle-text="{$ availableWithOvercommit(pod.total.memory_gb, pod.used.memory_gb, pod.memory_over_commit_ratio, 1) $}GB available" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                    </div>
                </div>
                <div class="p-strip">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="p-heading--four">Interfaces</h3>
                            <div class="p-table--pod-networking-config--message" data-ng-if="spaces.length == 0">
                                <small>
                                    You have not defined any networking spaces.
                                    <a href="/MAAS/#/networks?by=space"
                                        title="Spaces">More about spaces</a>
                                </small>
                            </div>
                            <table class="p-table--pod-networking-config">
                                <thead>
                                    <tr class="p-table__row">
                                        <th></th>
                                        <th>Name</th>
                                        <th>IP Address</th>
                                        <th>Space</th>
                                        <th>Subnet</th>
                                        <th>Fabric</th>
                                        <th>VLAN</th>
                                        <th>PXE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p-table__row" data-ng-repeat="iface in compose.obj.interfaces track by $index">
                                        <td class="u-valign--middle">
                                            <button
                                                class="p-button--base u-td-outdent-focusable--left p-button--narrow"
                                                data-ng-click="composeRemoveInterface(iface)"
                                                data-ng-if="iface.name !== 'default'"
                                            >
                                                <i class="p-icon--close"></i>
                                                <span class="u-off-screen">Remove</span>
                                            </button>
                                        </td>
                                        <td>
                                            <div ng-switch on="iface.name">
                                                <div ng-switch-when="default">
                                                    default
                                                </div>
                                                <div ng-switch-default>
                                                    <div class="form__group-input">
                                                        <input
                                                            type="text"
                                                            placeholder="Enter name"
                                                            data-ng-model="iface.name"
                                                            data-ng-model-options="{updateOn: 'blur'}"
                                                            data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-table--action-cell">
                                            <div ng-switch on="iface.name">
                                                <div ng-switch-when="default">
                                                    <span><small>Created by hypervisor at compose time.</small></span>
                                                </div>
                                                <div ng-switch-default>
                                                    <div class="form__group-input">
                                                        <input
                                                            type="text"
                                                            data-ng-if="iface.space || iface.subnet && !iface.ipaddress"
                                                            value="(auto-assigned)" disabled>
                                                        <input
                                                            type="text"
                                                            placeholder="Manual IP Address (optional)"
                                                            data-ng-if="!iface.space && !iface.subnet || iface.ipaddress"
                                                            data-ng-model="iface.ipaddress"
                                                            data-ng-blur="selectSubnetByIP(iface)"
                                                            data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-table--action-cell">
                                            <div data-ng-if="iface.name !== 'default'">
                                                <div data-ng-if="spaces.length == 0">
                                                    (undefined)
                                                </div>
                                                <select
                                                    data-ng-model="iface.selectedSpace"
                                                    data-ng-change="resetSubnetList(iface)"
                                                    data-ng-if="spaces.length > 0"
                                                    data-ng-disabled="iface.ipaddress.length > 0"
                                                    data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                    <option value="">Select a space (optional)</option>
                                                    <option data-ng-repeat="space in spaces">{$ space.name $}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="p-table--action-cell">
                                            <div data-ng-if="iface.name !== 'default'" class="form__group-input">
                                                <div class="form__group-input">
                                                    <div class="p-option-selector" tabindex="0"
                                                        ng-keyup="$event.keyCode === 27 && closeOptions(iface)">
                                                        <input type="text"
                                                            class="p-option-selector__input u-no-margin--bottom"
                                                            readonly="readonly"
                                                            placeholder="Select a subnet"
                                                            data-ng-model="iface.subnet.displayName"
                                                            data-ng-focus="openSubnetOptions(iface)"
                                                            data-ng-disabled="iface.ipaddress.length > 0"
                                                            data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                        <div class="p-option-selector__options p-option-selector-subnets__options u-no-padding--top"
                                                            ng-if="iface.showOptions">
                                                            <div class="p-option-selector__header">
                                                                <button class="p-button--close" ng-click="closeOptions(iface)">
                                                                    <i class="p-icon--close">Close</i>
                                                                </button>
                                                                <hr class="u-no-margin--bottom">
                                                            </div>
                                                            <div data-ng-repeat="space in spaces | filter:{ name: iface.selectedSpace }">
                                                                <div
                                                                    class="p-option-selector__title p-muted-text"
                                                                    data-ng-if="!iface.selectedSpace">
                                                                    Space: {$ space.name $}
                                                                </div>
                                                                <div
                                                                    class="p-option-selector__option u-no-padding"
                                                                    tabindex="0"
                                                                    data-ng-click="selectSubnet(subnet, iface)"
                                                                    data-ng-keyup="$event.keyCode == 13 && selectSubnet(subnet, iface)"
                                                                    data-ng-repeat="subnet in availableSubnets | filter:bySpace(space.name) | orderBy:['version', 'cidr']">
                                                                    <div class="p-option-selector-subnets__option-cell">
                                                                        <div>
                                                                            <strong>{$ subnet.displayName $}</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="p-option-selector-subnets__option-cell">
                                                                        <div>{$ subnet.fabric.name $}</div>
                                                                    </div>
                                                                    <div class="p-option-selector-subnets__option-cell">
                                                                        <div ng-switch on="subnet.vlan.vid">
                                                                            <div ng-switch-when="0">untagged</div>
                                                                            <div ng-switch-default>
                                                                                <span>{$ subnet.vlan.vid $}</span>
                                                                                <span data-ng-if="subnet.vlan.name">({$ subnet.vlan.name $})</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-ng-if="!iface.selectedSpace && hasSpacelessSubnets()">
                                                                <div class="p-option-selector__title p-muted-text">Space: (unassigned)</div>
                                                                <div
                                                                    class="p-option-selector__option u-no-padding"
                                                                    tabindex="0"
                                                                    data-ng-click="selectSubnet(subnet, iface)"
                                                                    data-ng-keyup="$event.keyCode == 13 && selectSubnet(subnet, iface)"
                                                                    data-ng-repeat="subnet in availableSubnets | filter:bySpace() | orderBy:['version', 'cidr']">
                                                                    <div class="p-option-selector-subnets__option-cell">
                                                                        <div>
                                                                            <strong>{$ subnet.displayName $}</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="p-option-selector-subnets__option-cell">
                                                                        <div>{$ subnet.fabric.name $}</div>
                                                                    </div>
                                                                    <div class="p-option-selector-subnets__option-cell">
                                                                        <div ng-switch on="subnet.vlan.vid">
                                                                            <div ng-switch-when="0">untagged</div>
                                                                            <div ng-switch-default>
                                                                                <span>{$ subnet.vlan.vid $}</span>
                                                                                <span data-ng-if="subnet.vlan.name">({$ subnet.vlan.name $})</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="u-min-margin--bottom" data-ng-if="iface.name !== 'default'">
                                                {$ iface.fabric.name $}
                                            </p>
                                        </td>
                                        <td>
                                            <p class="u-min-margin--bottom" ng-switch on="iface.vlan.vid" data-ng-if="iface.name !== 'default'">
                                                <span ng-switch-when="0">untagged</span>
                                                <span ng-switch-default>
                                                    <span>{$ iface.vlan.vid $}</span>
                                                    <span data-ng-if="iface.vlan.name">({$ iface.vlan.name $})</span>
                                                </span>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="u-min-margin--bottom" data-ng-if="iface.name !== 'default'" ng-switch on="iface.pxe">
                                                <span ng-switch-when="true">
                                                    <i class="p-icon--success"></i>
                                                </span>
                                                <span ng-switch-when="false">
                                                    <i class="p-icon--error"></i>
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr data-ng-show="availableSubnets.length > 0">
                                        <td colspan="8">
                                            <button class="p-button--base u-td-outdent-focusable--left p-button--narrow" data-ng-click="composeAddInterface()">
                                                <i class="p-icon--plus"></i>
                                                <span class="u-off-screen">Add another interface</span>
                                            </button>
                                            <span ng-if="compose.obj.interfaces[0].name == 'default'">Define (optional)</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="p-heading--four">Storage configuration</h3>
                        <table class="p-table--pod-storage-config">
                            <thead>
                                <tr class="p-table__row">
                                    <th></th>
                                    <th>Capacity (GB)</th>
                                    <th>Location</th>
                                    <th>Tags</th>
                                    <th>
                                        <div class="u-align--center">Boot</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="p-table__row" data-ng-repeat="storage in compose.obj.storage">
                                    <td>
                                        <div data-ng-if="!storage.boot">
                                            <button class="p-button--base u-td-outdent-focusable--left p-button--narrow" data-ng-click="composeRemoveDisk(storage)">
                                                <i class="p-icon--close"></i>
                                                <span class="u-off-screen">Remove</span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="p-table--action-cell">
                                        <div class="form__group-input" style="position: relative">
                                            <input type="number" min="0" class="u-no-margin--bottom" placeholder="Enter capacity" ng-keypress="numberOnly($event)"
                                                data-ng-model="storage.size"
                                                data-ng-change="updateRequests(storage)"
                                                ng-class="{'in-warning': !storage.size || storage.size < 8}">
                                            <span class="p-tooltip p-tooltip--top-left u-float--right"
                                                style="position: absolute; top: 8px; right: 8px;"
                                                aria-describedby="storage-size-warning"
                                                data-ng-if="(storage.size > 0 && storage.size < 8) || storage.size == 0">
                                                <i class="p-icon--warning">Warning</i>
                                                <span class="p-tooltip__message" role="tooltip" id="storage-size-warning">Ubuntu typically requires 8GB minimum. Lower allocations may fail.</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="p-table--action-cell">
                                        <select data-ng-model="storage.type" ng-if="pod.type === 'rsd'">
                                            <option value="local">Local</option>
                                            <option value="iscsi"
                                                data-ng-if="pod.capabilities.indexOf('iscsi_storage') >= 0"
                                                data-ng-disabled="storage.boot">iSCSI</option>
                                        </select>
                                        <div class="form__group-input" ng-if="pod.type === 'virsh'">
                                            <div class="p-option-selector" tabindex="0">
                                                <input class="p-option-selector__input u-no-margin--bottom" readonly type="text" ng-keyup="$event.keyCode == 27 ? closeOptions(storage) : null" data-ng-model="storage.pool.name" ng-focus="openOptions(storage)"
                                                    ng-class="{'in-warning': poolOverCapacity(storage)}">

                                                <small class="p-p-small--align-with-p" ng-if="poolOverCapacity(storage)">
                                                    <strong>Warning</strong>: Not enough space in {$ storage.pool.name $}, only {$ storage.pool.available | formatBytes $} free.
                                                </small>
                                                <div class="p-option-selector__options" ng-if="storage.showOptions" ng-keyup="$event.keyCode == 27 ? closeOptions(storage) : null">
                                                    <div class="p-option-selector__header">
                                                        <button class="p-button--close u-float--left" ng-click="closeOptions(storage)">
                                                            <i class="p-icon--close">Close</i>
                                                        </button>
                                                        <ul class="p-key-list u-no-margin--bottom u-float--right">
                                                            <li class="p-key-list__item--used">
                                                                <p class="p-p-compact">Used</p>
                                                            </li>
                                                            <li class="p-key-list__item--other-requests" data-ng-if="compose.obj.storage.length > 1">
                                                                <p class="p-p-compact">+</p>
                                                            </li>
                                                            <li class="p-key-list__item--requests">
                                                                <p class="p-p-compact">
                                                                    Request<span data-ng-if="compose.obj.storage.length > 1">s</span>
                                                                </p>
                                                            </li>
                                                            <li class="p-key-list__item--free">
                                                                <p class="p-p-compact">
                                                                    Free
                                                                </p>
                                                            </li>
                                                        </ul>
                                                        <hr class="u-float--left u-no-margin--bottom">
                                                    </div>
                                                    <div class="p-option-selector__option"
                                                        tabindex="0"
                                                        ng-repeat="storage_pool in pod.storage_pools"
                                                        ng-click="selectStoragePool(storage_pool, storage, totalStoragePercentage(storage_pool, (storage.size + getOtherRequests(storage_pool, storage)) | convertGigabyteToBytes) >= 100)"
                                                        ng-keyup="$event.keyCode == 13 ? selectStoragePool(storage_pool, storage) : null"
                                                        ng-class="{'is-selected': storage.pool === storage_pool, 'is-over': totalStoragePercentage(storage_pool, (storage.size + getOtherRequests(storage_pool, storage)) | convertGigabyteToBytes) >= 100}">
                                                        <div class="p-option-selector__option-cell">
                                                            <p class="p-p-compact">
                                                                <strong>{$ storage_pool.name $} <span data-ng-if="pod.default_storage_pool == storage_pool.id">(default)</span></strong>
                                                                <br>
                                                                <span class="u-text--light">{$ storage_pool.path $}</span>
                                                            </p>
                                                        </div>
                                                        <div class="p-option-selector__option-cell">
                                                            <p class="p-p-compact u-align--right">
                                                                <span>{$ storage_pool.type | formatStorageType $}</span>
                                                                <br>
                                                                <span>{$ storage_pool.total | formatBytes $}</span>
                                                            </p>
                                                        </div>
                                                        <div class="p-option-selector__option-cell">
                                                            <div class="p-chart__container">
                                                                <div class="p-chart">
                                                                    <div class="p-chart__bar--requests" data-ng-class="{'is-selected': storage.pool === storage_pool, 'is-over': totalStoragePercentage(storage_pool, (storage.size + getOtherRequests(storage_pool, storage)) | convertGigabyteToBytes) >= 100 }" style="width: {$ totalStoragePercentage(storage_pool, (storage.size + getOtherRequests(storage_pool, storage)) | convertGigabyteToBytes) $}%"></div>
                                                                    <div class="p-chart__bar--other" style="width: {$ totalStoragePercentage(storage_pool, getOtherRequests(storage_pool, storage) | convertGigabyteToBytes) $}%"></div>
                                                                    <div class="p-chart__bar--used" style="width: {$ storage_pool.used / storage_pool.total * 100 $}%"></div>
                                                                </div>
                                                            </div>
                                                            <ul class="p-inline-list u-no-margin--bottom u-flex--no-wrap"
                                                                ng-if="totalStoragePercentage(storage_pool, (storage.size + getOtherRequests(storage_pool, storage)) | convertGigabyteToBytes) < 100">
                                                                <li class="p-inline-list__item p-key-list__item--used u-no-padding--right">
                                                                    <p class="p-p-compact">
                                                                        {$ storage_pool.used | formatBytes $}
                                                                    </p>
                                                                </li>
                                                                <li data-ng-if="compose.obj.storage.length > 1 && getOtherRequests(storage_pool, storage) > 0"
                                                                    class="p-inline-list__item p-key-list__item--other-requests u-no-padding--right">
                                                                    <p class="p-p-compact">
                                                                        {$ getOtherRequests(storage_pool, storage) $} GB
                                                                    </p>
                                                                </li>
                                                                <li ng-if="storage.pool === storage_pool"
                                                                    class="p-inline-list__item p-key-list__item--requests u-no-padding--right">
                                                                    <p class="p-p-compact">
                                                                        {$ storage.size $} GB
                                                                    </p>
                                                                </li>
                                                                <li class="p-inline-list__item p-key-list__item--free u-no-padding--right">
                                                                    <p class="p-p-compact">
                                                                        {$ storage_pool.available | formatBytes $}
                                                                    </p>
                                                                </li>
                                                            </ul>

                                                            <small class="p-p-small--align-with-p" ng-if="totalStoragePercentage(storage_pool, (storage.size + getOtherRequests(storage_pool, storage)) | convertGigabyteToBytes) >= 100">
                                                                <i class="p-icon--warning">Warning</i> Not enough space. {$ storage_pool.available | formatBytes $} free.
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form__group-input">
                                            <tags-input data-ng-model="storage.tags" data-ng-focus="closeStorageOptions()" class="u-no-margin--bottom" allow-tags-pattern="[\\w-]+"></tags-input>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="u-align--center">
                                            <input type="radio" id="{$ $index $}-boot" class="u-no-margin--right"
                                                data-ng-click="composeSetBootDisk(storage)"
                                                data-ng-checked="storage.boot"
                                                data-ng-if="storage.type === 'local'">
                                            <label for="{$ $index $}-boot"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="p-table__row">
                                    <td colspan="5">
                                        <button class="p-button--base u-td-outdent-focusable--left p-button--narrow" data-ng-click="composeAddStorage()">
                                            <i class="p-icon--plus"></i>
                                            <span class="u-off-screen">Add another device</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <p maas-obj-hide-saving><maas-obj-errors></maas-obj-errors></p>
                        <p maas-obj-show-saving><maas-obj-saving>Composing machine</maas-obj-saving></p>
                        <div class="u-align--right u-no-margin--top" maas-obj-hide-saving>
                            <button class="p-button--base" type="button" data-ng-click="cancelCompose()">Cancel</button>
                            <button class="p-button--positive u-no-margin--top" maas-obj-save ng-disabled="!validateMachineCompose()">Compose machine</button>
                        </div>
                    </div>
                </div>
            </maas-obj-form>
        </div>

        <div class="page-header__dropdown u-hide" data-ng-class="{ 'u-show': action.option && action.option.name !== 'compose' }">
            <div class="row" data-ng-if="action.inProgress">
                <div class="col-12">
                    <p>
                        <i class="p-icon--spinner u-animation--spin"></i>
                        Performing {$ action.option.sentence $}.
                    </p>
                </div>
            </div>
            <div class="row u-equal-height" data-ng-if="action.option && !action.inProgress">
                <form class="p-form p-form--inline u-align--right">
                    <div class="col-8 u-vertically-center">
                        <div data-ng-if="action.error">
                            <p class="u-remove-max-width">
                                <i class="p-icon--error">Error:</i> Performing {$ action.option.sentence $} failed: {$ action.error $}
                            </p>
                        </div>
                        <div data-ng-if="action.option.name === 'refresh'">
                            <p class="u-remove-max-width u-align--left">
                                Refreshing this pod will cause MAAS to recalculate usage metrics, update information about storage pools,
                                and commission any machines present in the pod that are not yet known to MAAS.
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="u-align--right">
                            <button class="p-button--base" type="button" data-ng-click="actionCancel()">Cancel</button>
                            <button class="u-no-margin--top u-no-margin--top" data-ng-class="action.option.name === 'delete' ? 'p-button--negative' : 'p-button--positive'" data-ng-click="actionGo()" data-ng-if="!action.error">
                                <span data-ng-if="action.option.name === 'refresh'">Refresh pod</span>
                                <span data-ng-if="action.option.name === 'delete'">Delete pod</span>
                            </button>
                            <button class="p-button--neutral u-no-margin--top" data-ng-click="actionGo()" data-ng-if="action.error">Retry</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-strip is-shallow u-no-padding--bottom" media-query="min-width: 769px" offset="89">
            <nav class="p-tabs u-hr--fixed-width">
                <div class="row">
                    <ul class="p-tabs__list" role="tablist" data-ng-class="{ 'u-hide': action.option }">
                        <li class="p-tabs__item" role="presentation">
                            <a href="" role="tab" class="p-tabs__link" data-ng-class="{ 'is-active': section.area === 'summary'}" data-ng-click="section.area = 'summary'">{$ pod.composed_machines_count $} composed machines</a>
                        </li>
                        <li class="p-tabs__item" role="presentation">
                            <a href="" role="tab" class="p-tabs__link" data-ng-if="canEdit()" data-ng-class="{ 'is-active': section.area === 'configuration'}" data-ng-click="section.area= 'configuration'">Configuration</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section data-ng-if="section.area === 'summary'">
        <div class="row">
            <section class="p-strip" ng-if="canEdit()">
                <div class="p-pod-edit">
                    <label class="p-pod-edit__label" for="virsh">Virsh:</label>
                    <div class="p-code-snippet-wrapper">
                        <div class="p-code-snippet">
                            <input class="p-code-snippet__input" value="{$ pod.power_address $}" readonly="readonly">
                            <button class="p-code-snippet__action" data-ng-click="copyToClipboard($event)">Copy to clipboard</button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="p-card--highlighted">
                <div class="p-pod-summary">

                    <div class="p-pod-summary__aside">
                        <div class="p-pod-summary__cpu">
                            <div class="row">
                                <h4>
                                    CPU cores: {$ pod.total.cores $}
                                    <span data-ng-if="pod.cpu_over_commit_ratio > 1">x {$ pod.cpu_over_commit_ratio $}</span>
                                </h4>
                            </div>
                            <div class="p-meter--cpu-cores">
                                <div class="p-meter--cpu-cores__container">
                                    <span class="p-meter--cpu-cores__core--used" ng-repeat="i in pod.used.cores | range"></span>
                                    <span class="p-meter--cpu-cores__core--available" ng-repeat="i in availableWithOvercommit(pod.total.cores, pod.used.cores, pod.cpu_over_commit_ratio) | range"></span>
                                </div>
                            </div>
                            <p class="u-no-max-width">
                                <span>{$ pod.used.cores $} used</span>
                                <span class="u-float--right">{$ availableWithOvercommit(pod.total.cores, pod.used.cores, pod.cpu_over_commit_ratio, 1) $} available</span>
                            </p>
                        </div>
                        <div class="p-pod-summary__ram">
                            <div class="row">
                                <h4>
                                    RAM: {$ pod.total.memory_gb $} (GiB)
                                    <span data-ng-if="pod.memory_over_commit_ratio > 1">x {$ pod.memory_over_commit_ratio $}</span>
                                </h4>
                            </div>
                            <div class="p-meter__container">
                                <meter class="p-meter" max="{$ pod.total.memory * pod.memory_over_commit_ratio $}" value="{$ pod.used.memory $}"></meter>
                            </div>
                            <p class="u-no-max-width">
                                <span>{$ stripTrailingZero(pod.used.memory_gb) $} GiB used</span>
                                <span class="u-float--right">{$ availableWithOvercommit(pod.total.memory_gb, pod.used.memory_gb, pod.memory_over_commit_ratio, 1) $} GiB available</span>
                            </p>
                        </div>
                    </div>
                    <div class="p-pod-summary__storage">
                        <div class="row u-hide--large">
                            <hr>
                        </div>
                        <div class="row">
                            <div class="mobile-col-2 tablet-col-3 col-4">
                                <h3 class="p-heading--four">Storage</h3>
                            </div>
                        </div>
                        <ul class="p-list--divided">
                            <li class="p-list__item u-no-padding" data-ng-repeat="storage in pod.storage_pools">
                                <div class="p-storage row u-no-padding--top">
                                    <div class="p-storage__name tablet-col-3 col-4 u-clearfix">
                                        <p class="p-storage__disk-name">
                                        <strong>{$ storage.name $}</strong>
                                        <span class="p-storage__path">
                                            {$ storage.path $}
                                        </span>
                                        </p>
                                        <div class="p-storage__info">
                                            <p class="p-storage__type">{$ storage.type | formatStorageType $}<br>
                                                <span class="p-storage__size">{$ storage.total | formatBytes $}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="p-storage__meter tablet-col-3 col-4">
                                        <div class="p-meter__container">
                                            <meter class="p-meter p-meter--kvm" max="{$ storage.total $}" value="{$ storage.used $}"
                                                ng-class="{'is-over': storage.used > storage.total}">
                                            <div class="p-meter__graph">
                                                <span class="p-meter__graph-content" style="width: {$ storage.used / storage.total * 100 $}%">Disk Usage - {$ storage.used $} out of {$ storage.total $}</span>
                                            </div>
                                            </meter>
                                        </div>
                                        <p class="p-p-compact u-clearfix">
                                            <span class="u-float--left">
                                                {$ storage.used | formatBytes $}
                                            </span>
                                            <span class="u-float--right">
                                                {$ storage.available | formatBytes $}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="row">
                            <ul class="p-legend mobile-col-2 tablet-col-3 col-4 push-4">
                                <li class="p-legend__item p-legend__item--used">
                                    <span class="p-legend__text default-text">
                                        Used
                                    </span>
                                </li>
                                <li class="p-legend__item p-legend__item--free">
                                    <span class="p-legend__text default-text">
                                        Free
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6"
                        data-ng-if="pod.capabilities.indexOf('iscsi_storage') >= 0">
                        <h3 class="p-heading--four">iSCSI storage ({$ pod.total.iscsi_storage_gb $}&nbsp;GiB)</h3>
                        <div class="p-meter__container">
                            <meter class="p-meter" max="{$ pod.total.iscsi_storage $}" value="{$ pod.used.iscsi_storage $}"></meter>
                        </div>
                        <p class="u-no-max-width">
                            <span>{$ pod.used.iscsi_storage_gb $} GiB used</span>
                            <span class="u-float--right">{$ pod.available.iscsi_storage_gb $} GiB available</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="p-strip">
            <div class="row">
                <div class="col-12" data-ng-if="pod.composed_machines_count">
                    <maas-machines-table search="machinesSearch" hide-actions="true" pools="pools" zones="zones"></maas-machines-table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 u-align--center" data-ng-if="!pod.composed_machines_count">
                    <i class="p-icon--compose-machine u-no-margin" style="width: 128px; height: 128px;"></i>
                    <h3 class="p-heading--four u-no-max-width">You have not composed any machines yet.</h3>
                    <button class="p-button--positive is-inline u-no-margin" data-ng-if="canCompose()" data-ng-click="composeMachine()">Compose machine</button>
                </div>
            </div>
        </section>
    </section>
    <section class="p-strip" data-ng-if="pod && section.area === 'configuration'">
        <div class="row">
            <div class="col-10">
                <h2 class="p-heading--four">Pod configuration</h2>
            </div>
            <div class="col-2">
                <button class="p-button--neutral u-float--right"
                    data-ng-if="canEdit() && !editing"
                    data-ng-click="editPodConfiguration()">Edit</button>
            </div>
        </div>
        <div class="row">
            <maas-obj-form obj="pod" manager="podManager" manager-method="updateItem"
                table-form="true" save-on-blur="false" after-save="exitEditPodConfiguration" data-ng-disabled="!editing">
                <div class="col-6">
                    <div class="p-form__group">
                        <label for="type" class="p-form__label col-2 tablet-col-2">Type</label>
                        <div class="p-form__control u-no-margin--top col-4 tablet-col-3">
                            <input type="text" id="type" disabled="disabled" value="{$ getPodTypeTitle() $}" />
                        </div>
                    </div>
                    <maas-obj-field type="options" key="zone" label="Zone"
                        subtle="false" placeholder="Choose a zone"
                        options="zone.id as zone.name for zone in zones" label-width="2" label-width-tablet="2" input-width="4" input-width-tablet="3"></maas-obj-field>
                    <maas-obj-field type="options" key="pool"
                        label="Resource pool" subtle="false"
                        placeholder="Choose a pool"
                        options="pool.id as pool.name for pool in pools" label-width="2" label-width-tablet="2" input-width="4" input-width-tablet="3"></maas-obj-field>
                    <maas-obj-field type="tags" key="tags" label="Tags"
                        disable-label="false" placeholder="Add a tag" label-width="2" label-width-tablet="2" input-width="4" input-width-tablet="3"></maas-obj-field>
                </div>
                <div class="col-6">
                    <maas-pod-parameters hide-type="true"></maas-pod-parameters>
                </div>
                <div class="p-strip">
                    <div class="row">
                        <div class="col-8" data-ng-if="editing">
                            <p maas-obj-hide-saving><maas-obj-errors></maas-obj-errors></p>
                            <p maas-obj-show-saving><maas-obj-saving><i class="p-icon--spinner u-animation--spin">Loading:</i> Trying to connect and discover pod</maas-obj-saving></p>
                        </div>
                        <div class="col-4 u-align--right" data-ng-if="editing">
                            <button class="p-button--base" data-ng-click="exitEditPodConfiguration()">Cancel</button>
                            <button class="p-button--positive" maas-obj-save>Save changes</button>
                        </div>
                    </div>
                </div>
            </maas-obj-form>
        </div>
    </section>
    <section class="row u-padding--top" data-ng-if="section.area === 'storage'">
        <div class="wrapper--inner">
            <div class="col-6">
                <h3 class="p-heading--four">Total storage ({$ pod.total.local_storage_gb $} GiB)</h3>
                <div class="action-card u-margin--none">
                  Graph goes here
                </div>
            </div>
            <div class="col-6">
              <h3 class="p-heading--four">Total local storage ({$ pod.total.local_storage_gb $} GiB)</h3>
              <div class="action-card u-margin--bottom">
                  <h3 class="p-heading--four">0 drives</h3>
                  <div class="p-meter__container">
                    <meter max="{$ pod.total.local_storage $}" value="{$ pod.used.local_storage $}">{$ pod.used.local_storage $} Mb</meter>
                  </div>
                  <p>
                      <span>0 GiB used</span>
                      <span class="u-float--right">{$ pod.total.local_storage_gb $} GiB available</span>
                  </p>
              </div>
              <h3 class="p-heading--four">Remote storage</h3>
              <p>No remote storage systems haven't been connected yet.</p>
              <p>When you connect a remote system to your pod it will be automatically detacted and displayed here.</p>
            </div>
            <div class="col-12">
                <h3 class="p-heading--four">Available volumes (2000 GiB)</h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <a href="#">Name</a>
                            </th>
                            <th>
                                <a href="#">Storage system</a>
                            </th>
                            <th>
                                <a href="#">Capacity (GiB)</a>
                            </th>
                            <th>
                                <a href="#">Location</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#">sda</a>
                            </td>
                            <td>
                                lorem ipsum
                            </td>
                            <td>
                                500
                            </td>
                            <td>
                                Local
                            </td>
                            <td>
                                <button class="p-icon--delete"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

