<div data-ng-controller="NodeResultsController">
    <div class="row" data-ng-if="!resultsLoaded">
        <div class="col-12">
            <p class="u-text--loading"><i class="p-icon--spinner u-animation--spin"></i>&nbsp;&nbsp;Loading...</p>
        </div>
    </div>
    <div class="row" data-ng-if="resultsLoaded && hasSuppressedTests()">
        <div class="p-notification--caution">
            <p class="p-notification__response">
                <span class="p-notification__status">
                    {$ getSuppressedCount() $} test failure{$ getSuppressedCount() === 1 ? "" : "s" $} suppressed:
                </span>
                <span>suppressed results are not shown on the <em>Machine list</em>, but are always shown here.</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="hardware_type in results">
            <div data-ng-if="resultsLoaded && (hardware_type.results | json) != '{}'">
                <h2 class="p-heading--four" data-ng-if="hardware_type.title !== 'null'">{$ hardware_type.title $}</h2>
                <div data-ng-repeat="(title, results) in hardware_type.results">
                    <h3 class="p-heading--five" data-ng-if="title !== 'null'">{$ title $}</h3>
                    <table class="p-table-expanding p-table--controllers-commissioning">
                        <thead>
                            <tr>
                                <th style="width: 80px">Suppress</th>
                                <th class="col-3">Name</th>
                                <th class="col-2">Tags</th>
                                <th class="col-1">Runtime</th>
                                <th class="col-3">Date</th>
                                <th class="col-2">Result</th>
                                <th><div class="u-align--right">Actions</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                data-ng-repeat="result in results"
                                data-ng-class="{
                                    'is-active': result.results.length > 0 && result.showing_results || result.showing_history,
                                    'is-suppressed': result.suppressed
                                }"
                            >
                                <td style="width: 80px; overflow: visible" aria-label="Suppress"">
                                    <div class="p-tooltip">
                                        <input
                                            id="{$ result.id $}"
                                            type="checkbox"
                                            data-ng-if="isSuppressible(result)"
                                            data-ng-checked="result.suppressed"
                                            data-ng-click="toggleSuppressed(result)"
                                            data-ng-disabled="!isSuperUser()"
                                        >
                                        <label style="height: 2rem" for="{$ result.id $}" data-ng-if="result.exit_status !== 0"></label>
                                        <span style="left: -1rem" data-ng-if="!isSuperUser()" class="p-tooltip__message">Only admins can suppress failed tests.</span>
                                    </div>
                                </td>
                                <td class="col-3" data-ng-click="result.showing_results = !result.showing_results" aria-label="Name" title="{$ result.name $}">
                                    <span data-maas-script-status="script-status" data-script-status="result.status"></span>
                                    {$ result.name $}
                                    <button class="p-button--base u-float-right" data-ng-if="result.results.length > 0">
                                        <i class="p-icon--chevron"></i>
                                    </button>
                                </td>
                                <td class="col-2" aria-label="Tags"><span data-ng-hide="result.showing_history" title="{$ result.tags $}">{$ result.tags $}</span></td>
                                <td class="col-1 p-table--action-cell u-wrap" aria-label="Runtime"><span data-ng-hide="result.showing_history" data-maas-script-run-time="script-runtime" data-start-time="result.starttime" data-run-time="{{result.runtime}}" data-estimated-run-time="{{result.estimated_runtime}}" data-script-status="result.status"></span></td>
                                <td class="col-3" aria-label="Date"><span data-ng-hide="result.showing_history" title="{$ result.updated $}">{$ result.updated $}</span></td>
                                <td class="col-2 p-table--action-cell u-wrap" aria-label="Result">
                                    <span data-ng-hide="result.showing_history">
                                        <!-- Only link to the testing result when we've received it. This is indicated with status 2(passed), 3(failed), 4(timedout), 6(degraded), 8(failed installing), 9(skipped)-->
                                        {$ result.status_name $} <a data-ng-if="result.status === 2 || result.status === 3 || result.status === 4 || result.status === 6 || result.status === 8 || result.status === 9" href="#/{$ type_name $}/{$ node.system_id $}/{$ section.area $}/{$ result.id $}">View log</a>
                                    </span>
                                </td>
                                <td class="p-table--action-cell">
                                    <div class="u-align--right">
                                        <div class="p-contextual-menu" toggle-ctrl data-ng-hide="isShowingAdd() || isEditing(interface) || isShowingDeleteConfirm() || isShowingAdd()">
                                            <button class="p-button--base is-small p-contextual-menu__toggle" data-ng-click="toggleMenu()">
                                                <i class="p-icon--contextual-menu u-no-margin--right">Actions</i>
                                            </button>
                                            <div class="p-contextual-menu__dropdown" role="menu" data-ng-show="isToggled" style="width: auto">
                                                <button class="p-contextual-menu__link" aria-label="View metrics" data-ng-if="!result.showing_results && result.results.length !== 0" data-ng-click="toggleMenu(); result.showing_history = false; result.showing_results = true">View metrics</button>
                                                <button class="p-contextual-menu__link" aria-label="Hide metrics" data-ng-if="result.showing_results" data-ng-click="toggleMenu(); result.showing_history = false; result.showing_results = false">Hide metrics</button>
                                                <button class="p-contextual-menu__link" aria-label="View previous {$ result.result_section $}" data-ng-if="!result.showing_history" data-ng-click="toggleMenu(); loadHistory(result)">View previous {$ result.result_section $}</button>
                                                <button class="p-contextual-menu__link" aria-label="Hide previous {$ result.result_section $}" data-ng-if="result.showing_history" data-ng-click="toggleMenu(); result.showing_results = false; result.showing_history = false">Hide previous {$ result.result_section $}</button>
                                                <button class="p-contextual-menu__link" aria-label="Toggle this test in machine list" data-ng-if="isSuperUser() && isSuppressible(result)" data-ng-click="toggleSuppressed(result)">{$ result.suppressed ? "Show" : "Suppress" $} test in machine list</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-table-expanding__panel col-12" aria-label="results" data-ng-if="result.showing_results && !result.showing_history && result.results.length > 0">
                                    <div class="col-12">
                                        <table data-ng-if="result.results.length !== 0">
                                            <tbody>
                                                <tr class="u-equal-height u-margin--none">
                                                    <td class="col-6 p-tooltip p-tooltip--top-center" style="padding-left:0;box-sizing:content-box" data-ng-repeat="item in result.results">
                                                        <strong class="col-3 tooltip">{$ item.title $}</strong>
                                                        <span class="col-3 last-col">{$ item.value $}</span>
                                                        <span class="p-tooltip__message" role="tooltip">{$ item.description $}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td class="p-table-expanding__panel col-12" aria-label="loading history" data-ng-if="result.loading_history">
                                    <div class="col-12">
                                        <p class="u-text--loading"><i class="p-icon--spinner u-animation--spin"></i>&nbsp;&nbsp;Loading...</p>
                                    </div>
                                </div>
                                <td class="p-table-expanding__panel col-12" aria-label="history" data-ng-if="result.showing_history">
                                    <div class="row">
                                        <div class="col-12">
                                            <table>
                                                <tbody>
                                                    <tr data-ng-repeat="item in result.history_list">
                                                        <td class="col-3" aria-label="Name">
                                                            <span data-maas-script-status="script-status" data-script-status="item.status"></span>
                                                            {$ result.name $}
                                                        </td>
                                                        <td class="col-2" aria-label="Tags">{$ result.tags $}</td>
                                                        <td class="col-1" aria-label="Runtime"><span data-maas-script-run-time="script-runtime" data-start-time="item.starttime" data-run-time="{{item.runtime}}" data-estimated-run-time="{{item.estimated_runtime}}" data-script-status="item.status"></span></td>
                                                        <td class="col-3" aria-label="Date">{$ item.updated $}</td>
                                                        <td class="col-2" aria-label="Status">
                                                            <!-- Only link to the testing result when we've received it. This is indicated with status 2(passed), 3(failed), 4(timedout), 6(degraded), 8(failed installing), 9(skipped)-->
                                                            {$ item.status_name $} <a data-ng-if="item.status === 2 || item.status === 3 || item.status === 4 || item.status === 6 || item.status === 8 || item.status === 9" href="#/{$ type_name $}/{$ node.system_id $}/{$ section.area $}/{$ item.id $}">View log</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="u-align--center">
                                                <button class="p-button--neutral" data-ng-click="result.showing_history = false">Hide previous {$ result.result_section $}</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
