<div data-ng-hide="loaded">
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide u-no-margin--top" data-ng-show="loaded" window-width>
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <div class="tablet-col-4 col-8">
                <h1 class="page-header__title">{$ subnet.cidr $}</h1>
            </div>
            <div class="tablet-col-2 col-4">
                <!-- "Take action" dropdown -->
                <div class="page-header__controls u-float--right ng-hide" data-ng-show="isSuperUser() && !isDefaultSubnet() && !loading && actionOptions.length">
                    <div data-maas-cta="actionOptions"
                        data-default-title="Take action"
                        data-ng-model="actionOption"
                        data-ng-change="actionChanged()">
                    </div>
                </div>
            </div>
        </div>
        <div class="u-no-margin--top" data-ng-class="{ 'is-open': actionOption.name }">
            <section class="ng-hide" data-ng-show="!actionError && actionOption.name === 'map_subnet'">
                <hr />
                <div class="row">
                    <div class="col-8">
                        <p>You will start mapping your subnet. Go to the <a href="#/dashboard">dashboard</a> to see the discovered items.</p>
                    </div>
                    <div class="col-4">
                        <div class="u-align--right">
                            <button class="p-button--base" type="button" data-ng-click="cancelAction()">Cancel</button>
                            <button class="p-button--positive" data-ng-click="actionGo()">Map subnet</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ng-hide" data-ng-show="!actionError && actionOption.name == 'delete'">
                <hr />
                <div class="row u-equal-height">
                    <div class="col-8 u-vertically-center">
                        <span><span class="p-icon--warning">Warning:</span> Are you sure you want to delete this subnet and release all IP addresses assigned within its range?</span>
                    </div>
                    <div class="col-4">
                        <div class="u-align--right">
                            <button class="p-button--base" type="button" data-ng-click="cancelAction()">Cancel</button>
                            <button class="p-button--negative" data-ng-click="actionGo()">Delete subnet</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ng-hide" data-ng-show="actionError">
                <hr />
                <div class="row">
                    <div class="col-8">
                        <p>{$ actionError $}</p>
                    </div>
                    <div class="col-4">
                        <div class="u-align--right">
                            <button class="p-button--base" type="button" data-ng-click="cancelAction()">Cancel</button>
                            <button class="p-button--neutral" data-ng-click="actionRetry()">Retry</button>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of "Take action" dropdown -->
        </div>
    </header>
    <section class="p-strip">
        <div class="row">
            <div class="col-12">
                <div class="col-8">
                    <h2 class="u-float--left p-heading--four">Subnet summary</h2>
                </div>
                <div class="col-4">
                    <div class="u-align--right" data-ng-if="isSuperUser()">
                        <button type="button" name="button" class="p-button--neutral" data-ng-click="enterEditSummary()" data-ng-if="editSummary != true">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form p-form--stacked row" data-ng-if="editSummary != true">
            <div class="col-6">
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>Name</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p>{$ subnet.name $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>CIDR</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p>{$ subnet.cidr $}</span>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>Gateway IP</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p data-ng-if="subnet.gateway_ip">{$ subnet.gateway_ip $}</p>
                        <p data-ng-if="!subnet.gateway_ip">&nbsp;</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>DNS</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p data-ng-if="subnet.dns_servers">{$ subnet.dns_servers $}</p>
                        <p data-ng-if="!subnet.dns_servers">&nbsp;</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>Description</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p data-ng-if="subnet.description">{$ subnet.description $}</p>
                        <p data-ng-if="!subnet.description">&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>
                            Managed allocation
                            <span data-ng-if="subnet.managed == false" class="p-tooltip p-tooltip--btm-right">
                                <i class="p-icon--information">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">MAAS allocates IP addresses only from&#xa;the reserved ranges on this subnet.</span>
                            </span>

                            <span data-ng-if="subnet.managed == true" class="p-tooltip p-tooltip--btm-right">
                                <i class="p-icon--information">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">MAAS allocates IP addresses from&#xa;this subnet, excluding the reserved&#xa;and dynamic ranges.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <span data-ng-if="subnet.managed == false">Disabled</span>
                        <span data-ng-if="subnet.managed == true">Enabled</span>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>
                            Active discovery
                            <span data-ng-if="subnet.managed == true" class="p-tooltip p-tooltip--btm-right">
                                <i class="p-icon--information u-no-margin--right">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">When enabled, MAAS will scan this subnet {$ active_discovery_interval | lowercase $}&#xa;to discover hosts that have not been discovered passively.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <span data-ng-if="subnet.active_discovery == false">Disabled</span>
                        <span data-ng-if="subnet.active_discovery == true">Enabled</span>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>
                            Proxy access
                            <span data-ng-if="subnet.allow_proxy == false" class="p-tooltip p-tooltip--btm-right">
                                <i class="p-icon--information">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">MAAS will not allow clients from this&#xa;subnet to access the MAAS proxy.</span>
                            </span>

                            <span data-ng-if="subnet.allow_proxy == true" class="p-tooltip p-tooltip--btm-right">
                                <i class="p-icon--information">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">MAAS will allow clients from this&#xa;subnet to access the MAAS proxy.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <span data-ng-if="subnet.allow_proxy == false">Disallowed</span>
                        <span data-ng-if="subnet.allow_proxy == true">Allowed</span>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>
                            Allow DNS resolution
                            <span data-ng-if="subnet.allow_dns == false" class="p-tooltip p-tooltip--btm-right">
                                <i class="p-icon--information">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">MAAS will not allow clients from this&#xa;subnet to use MAAS for DNS resolution.</span>
                            </span>

                            <span data-ng-if="subnet.allow_dns == true" class="p-tooltip p-tooltip--btm-right">
                                <i class="p-icon--information">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">MAAS will allow clients from this&#xa;subnet to use MAAS for DNS resolution.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <span data-ng-if="subnet.allow_dns == false">Disallowed</span>
                        <span data-ng-if="subnet.allow_dns == true">Allowed</span>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>Fabric</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p>{$ subnet.fabric_name $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>VLAN</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p>{$ subnet.vlan_name $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 tablet-col-2">
                        <p>Space</p>
                    </div>
                    <div class="p-form__control col-4 tablet-col-3">
                        <p>
                            <a data-ng-if="space !== null" href="#/space/{$ space.id $}">{$ space.name $}</a>
                            <span data-ng-if="space === null">
                                (undefined)
                                <span class="p-tooltip p-tooltip--top-center">
                                    <i class="p-icon--warning">Warning:</i>
                                    <span class="p-tooltip__message" role="tooltip">This subnet does not belong to a space.&#xa;MAAS integrations require a space in order to determine the purpose of a network.</span>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <maas-obj-form data-ng-if="editSummary == true" obj="subnet" manager="subnetManager" table-form="true" save-on-blur="false" after-save="exitEditSummary" data-ng-disabled="!isSuperUser()">
                <div class="row">
                    <div class="col-6">
                        <maas-obj-field type="text" key="name" label="Name" placeholder="Subnet name"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="cidr" label="CIDR" placeholder="Subnet CIDR"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="gateway_ip" label="Gateway IP" placeholder="Gateway IP"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="dns_servers" label="DNS" placeholder="DNS nameservers for subnet"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="textarea" key="description" label="Description" placeholder="Subnet description"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                    </div>
                    <div class="col-6">
                        <maas-obj-field type="onoffswitch" key="managed" label="Managed allocation"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"
                            label-info="When enabled, MAAS will assume it may take full control of DHCP and&#xa;IP address management on this subnet. When disabled, MAAS will only&#xa;allocate addresses from reserved IP ranges on this subnet, and will not&#xa;include this subnet's dynamic ranges in the DHCP configuration.">
                        </maas-obj-field>
                        <p class="row" data-ng-if="subnet.$maasForm.getValue('managed') != subnet.managed">
                            <div class="p-notification--caution" data-ng-if="subnet.$maasForm.getValue('managed') == false">
                                <p class="p-notification__response">
                                    <span class="p-notification__status">Warning:</span> MAAS will now start allocating IP addresses from reserved ranges. If a reserved range has been defined to prevent MAAS from allocating IP addresses, this behavior will change.
                                </p>
                            </div>
                            <div class="p-notification--caution" data-ng-if="subnet.$maasForm.getValue('managed') == true">
                                <p class="p-notification__response">
                                    <span class="p-notification__status">Warning:</span> MAAS will now allocate IP addresses from the entire subnet, excluding any reserved ranges.
                                </p>
                            </div>
                        </p>
                        <maas-obj-field data-ng-if="subnet.version === 4" type="onoffswitch" key="active_discovery" label="Active mapping"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"
                            input-width-tablet="4" label-info="When enabled, MAAS will scan this subnet {$ active_discovery_interval | lowercase $}&#xa;to discover hosts that have not been discovered passively."></maas-obj-field>
                        <maas-obj-field type="onoffswitch" key="allow_proxy" label="Proxy access"
                            llabel-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"
			                label-info="When enabled, MAAS will allow clients from this subnet to access&#xa;the MAAS proxy.">
                        </maas-obj-field>
                        <maas-obj-field type="onoffswitch" key="allow_dns" label="Allow DNS resolution"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"
			                label-info="When enabled, MAAS will allow clients from this subnet to use&#xa;MAAS for DNS resolution.">
                        </maas-obj-field>
                        <maas-obj-field type="options" key="fabric" label="Fabric" placeholder="Choose fabric"
                            options="fabric.id as fabric.name for fabric in fabrics | orderBy:'name'"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="options" key="vlan" class="u-margin--bottom" label="VLAN" placeholder="Choose VLAN"
                            options="v.id as getVLANName(v) for v in vlans | filterByFabric:subnet.$maasForm.getValue('fabric')"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <div class="p-form__group">
                            <div class="p-form__label is-disabled col-2 tablet-col-2">
                                <p>Space</p>
                            </div>
                            <div class="p-form__control col-4 tablet-col-3">
                                <p>
                                    <a data-ng-if="space !== null" href="#/space/{$ space.id $}">{$ space.name $}</a>
                                    <span data-ng-if="space === null">
                                        (undefined)
                                        <span class="p-tooltip p-tooltip--top-center">
                                            <i class="p-icon--warning">Warning:</i>
                                            <span class="p-tooltip__message" role="tooltip">This subnet does not belong to a space.&#xa;MAAS integrations require a space in order to determine the purpose of a network.</span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <maas-obj-errors></maas-obj-errors>
                    </div>
                    <div class="col-6">
                        <div class="u-align--right">
                            <button class="p-button--base" type="button"
                            data-ng-click="exitEditSummary()">Cancel</button>
                            <button class="p-button--positive" maas-obj-save>Save summary</button>
                        </div>
                    </div>
                </div>
            </maas-obj-form>
        </div>
    </section>
    <section class="p-strip" window-width>
        <div class="row">
            <div class="col-12">
                <h2 class="p-heading--four">Static Routes</h2>
            </div>
        </div>
        <div class="row">
            <table class="p-table-expanding">
                <thead>
                    <tr>
                        <th class="col-3">Gateway IP</th>
                        <th class="col-4">Destination</th>
                        <th class="col-2">Metric</th>
                        <th class="col-3"><div class="u-align--right">Actions</div></th>
                        <th class="u-hide"><!-- empty cell required for validation --></th>
                        <th class="u-hide"><!-- empty cell required for validation --></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="staticRoute in (subnetStaticRoutes = staticRoutes | filterBySubnet:subnet:'source' | orderBy:'gateway_ip')"
                    data-ng-class="{'is-active': isStaticRouteInEditMode(staticRoute) || isStaticRouteInDeleteMode(staticRoute)}">
                        <td class="col-3" aria-label="Gateway IP" data-ng-if="!isStaticRouteInEditMode(staticRoute)">
                            <span>{$ staticRoute.gateway_ip $}</span>
                        </td>
                        <td class="col-4" aria-label="Destination" data-ng-if="!isStaticRouteInEditMode(staticRoute)">{$ getSubnetCIDR(staticRoute.destination) $}</td>
                        <td class="col-2" aria-label="Metric" data-ng-if="!isStaticRouteInEditMode(staticRoute)">{$ staticRoute.metric $}</td>
                        <td class="col-3" data-ng-if="!isStaticRouteInEditMode(staticRoute)">
                            <div class="u-align--right">
                                <button class="p-button--base is-small" aria-label="Edit static route"
                                    data-ng-click="toggleMenu(); staticRouteToggleEditMode(staticRoute)"
                                    data-ng-if="!isStaticRouteInDeleteMode(staticRoute) && !isStaticRouteInEditMode(staticRoute)">
                                    <i class="p-icon--edit">Edit</i>
                                </button>
                                <button class="p-button--base is-small" aria-label="Remove static route"
                                    data-ng-click="toggleMenu(); staticRouteEnterDeleteMode(staticRoute)"
                                    data-ng-if="!isStaticRouteInDeleteMode(staticRoute) && !isStaticRouteInEditMode(staticRoute)">
                                    <i class="p-icon--delete">Remove</i>
                                </button>
                            </div>
                        </td>
                        <td class="p-table-expanding__panel col-12" data-ng-if="isStaticRouteInDeleteMode(staticRoute)">
                            <div class="u-clearfix" data-ng-if="windowWidth <= 768">
                                <h2 data-ng-click="staticRouteCancelDelete()" class="u-float--left p-heading--four">Remove {$ staticRoute.gateway_ip $}</h2>
                                <button class="p-button--base is-small u-float--right" style="width: auto;" data-ng-click="staticRouteCancelDelete()">
                                    <i class="p-icon--close u-float--right"></i>
                                </button>
                            </div>
                            <hr />
                            <div class="row u-equal-height">
                                <div class="col-6 u-vertically-center">
                                    <p><i class="p-icon--warning">Warning:</i> Are you sure you want to remove this static route?</p>
                                </div>
                                <div class="col-6">
                                    <div class="u-align--right">
                                        <button class="p-button--base" type="button" data-ng-click="staticRouteCancelDelete()">Cancel</button>
                                        <button class="p-button--negative" data-ng-click="staticRouteConfirmDelete()">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="p-table-expanding__panel col-12" data-ng-if="isStaticRouteInEditMode(staticRoute)">
                            <maas-obj-form obj="staticRoute" manager="staticRoutesManager" table-form="true"
                                save-on-blur="false" after-save="ipRangeClearEditMode">
                                <div class="u-clearfix" data-ng-if="windowWidth <= 768">
                                    <h2 data-ng-click="staticRouteToggleEditMode(staticRoute)" class="u-float--left p-heading--four">Editing {$ staticRoute.gateway_ip $}</h2>
                                    <button class="p-button--base is-small u-float--right" style="width: auto;" data-ng-click="staticRouteToggleEditMode(staticRoute)">
                                        <i class="p-icon--close"></i>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <maas-obj-field type="text" key="gateway_ip" placeholder="Gateway IP"
                                            disable-label="true" input-class="table__input u-margin--none"
                                            data-ng-if="isStaticRouteInEditMode(staticRoute)"></maas-obj-field>
                                    </div>
                                    <div class="col-4">
                                        <maas-obj-field type="options" key="destination" disable-label="true"
                                            label-width="2" input-width="3" placeholder="Choose destination"
                                            options="dest.id as dest.cidr for dest in subnets | filterSource:subnet"></maas-obj-field>
                                    </div>
                                    <div class="col-2">
                                        <maas-obj-field type="text" key="metric" disable-label="true"
                                            label-width="2" input-width="3"></maas-obj-field>
                                    </div>
                                </div>
                                <hr />
                                <div class="row u-no-margin--top">
                                    <div class="col-6">
                                        <maas-obj-errors></maas-obj-errors>
                                    </div>
                                    <div class="col-6">
                                        <div class="u-align--right">
                                            <button class="p-button--base" type="button" data-ng-click="staticRouteToggleEditMode(staticRoute)">Cancel</button>
                                            <button class="p-button--positive u-no-margin--top" maas-obj-save>Save static route</button>
                                        </div>
                                    </div>
                                </div>
                            </maas-obj-form>
                        </td>
                    </tr>
                    <tr data-ng-if="subnetStaticRoutes.length === 0 && !newStaticRoute">
                        <td col-span="6">No static routes have been added to this subnet.</td>
                    </tr>
                    <tr class="is-active" data-ng-if="newStaticRoute">
                        <td class="p-table-expanding__panel col-12">
                            <maas-obj-form obj="newStaticRoute" manager="staticRoutesManager" manager-method="createItem"
                                table-form="true" save-on-blur="false" after-save="cancelAddStaticRoute">
                                <div data-ng-if="windowWidth <= 768">
                                    <h2 data-ng-click="cancelAddStaticRoute()" class="u-float--left p-heading--four">Adding static route</h2>
                                    <i data-ng-click="cancelAddStaticRoute()" class="p-icon--close u-float--right"></i>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <maas-obj-field type="text" key="gateway_ip" placeholder="Gateway IP" disable-label="true"></maas-obj-field>
                                    </div>
                                    <div class="col-4">
                                        <div data-ng-if="windowWidth <= 768">
                                            <maas-obj-field type="text" key="gateway_ip" label="Gateway IP" label-width="2" input-width="3" placeholder="Gateway IP"></maas-obj-field>
                                        </div>
                                        <maas-obj-field type="options" key="destination" disable-label="true"
                                            label-width="2" input-width="3" placeholder="Choose destination"
                                            options="dest.id as dest.cidr for dest in subnets | filterSource:subnet"></maas-obj-field>
                                    </div>
                                    <div class="col-2">
                                        <maas-obj-field type="text" key="metric" disable-label="true"
                                            label-width="2" input-width="3"></maas-obj-field>
                                    </div>
                                </div>
                                <hr />
                                <div class="row u-no-margin--top">
                                    <div class="col-6">
                                        <maas-obj-errors></maas-obj-errors>
                                    </div>
                                    <div class="col-6">
                                        <div class="u-align--right">
                                            <button class="p-button--base" type="button" data-ng-click="cancelAddStaticRoute()">Cancel</button>
                                            <button class="p-button--positive u-no-margin--top" maas-obj-save>Save static route</button>
                                        </div>
                                    </div>
                                </div>
                            </maas-obj-form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="isSuperUser() && !newStaticRoute">
            <button class="p-button--secondary" data-ng-click="addStaticRoute()">Add static route</button>
        </div>
    </section>
    <section class="p-strip">
        <div class="row">
            <div class="col-12">
                <h2 class="p-heading--four">Utilisation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <p class="p-form__label is-disabled">Subnet addresses</p>
                    </div>
                    <div class="col-4">
                        <p>{$ subnet.statistics.total_addresses $}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <p class="p-form__label is-disabled">Availability</p>
                    </div>
                    <div class="col-4">
                        <p>{$ subnet.statistics.num_available $} ({$ subnet.statistics.available_string $})</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <!-- XXX mpontillo we don't have data for "Reserved" yet. -->
                    <!-- <dt class="u-hide ng-hide">Reserved</dt>
                        <dd class="u-hide ng-hide">10%</dd> -->
                    <div class="col-2">
                        <p class="p-form__label is-disabled">Used</p>
                    </div>
                    <div class="col-4">
                        <p>{$ subnet.statistics.usage_string $}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-strip">
        <div class="row">
            <maas-ip-ranges subnet="subnet"></maas-ip-ranges>
        </div>
    </section>
    <section class="p-strip">
        <div class="row">
            <div class="col-6">
                <h2 class="p-heading--four">Used</h2>
            </div>
            <div class="col-6">
                <div class="search ng-hide">
                    <input placeholder="Search IP addresses" class="search__input" type="search">
                    <input class="search__submit" type="submit">
                </div>
            </div>
        </div>
        <div class="row">
            <table class="p-table">
                <thead>
                    <tr>
                        <th>
                            <a href="" data-ng-click="sortIPTable(ipSort)" data-ng-class="{'is-sorted': predicate === ipSort, 'sort-asc': reverse === false, 'sort-desc': reverse === true}">IP Address</a>
                        </th>
                        <th>
                            <a href="" data-ng-click="sortIPTable(allocTypeSort)" data-ng-class="{'is-sorted': predicate === allocTypeSort, 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Type</a>
                        </th>
                        <th>
                            <a href="" data-ng-click="sortIPTable('node_summary.hostname')" data-ng-class="{'is-sorted': predicate === 'node_summary.hostname', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Node</a>
                        </th>
                        <th>
                            <a href="" data-ng-click="sortIPTable('node_summary.via')" data-ng-class="{'is-sorted': predicate === 'node_summary.via', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Interface</a>
                        </th>
                        <th>
                            <a href="" data-ng-click="sortIPTable(nodeTypeSort)" data-ng-class="{'is-sorted': predicate === nodeTypeSort, 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Usage</a>
                        </th>
                        <th>
                            <a href="" data-ng-click="sortIPTable(ownerSort)" data-ng-class="{'is-sorted': predicate === ownerSort, 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Owner</a>
                        </th>
                        <th>
                            <a href="" data-ng-click="sortIPTable('updated')" data-ng-class="{'is-sorted': predicate === 'updated', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Last seen</a>
                        </th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <tr data-ng-repeat="ip in subnet.ip_addresses | orderBy:predicate:reverse track by ip.ip">
                        <td aria-label="IP Address">{$ ip.ip $}</td>
                        <td aria-label="Type">{$ getAllocType(ip.alloc_type) $}</td>
                        <td aria-label="Node" data-ng-switch="ip.node_summary.node_type">
                            <span data-ng-switch-when="0"><a href="#/machine/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                            <span data-ng-switch-when="1">{$ ip.node_summary.hostname $}</span>
                            <span data-ng-switch-when="2"><a href="#/controller/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                            <span data-ng-switch-when="3"><a href="#/controller/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                            <span data-ng-switch-when="4"><a href="#/controller/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                            <span data-ng-switch-default>{$ ip.node_summary.hostname $}</span>
                        </td>
                        <td aria-label="Interface" data-ng-switch="ip.node_summary.node_type">
                            <span data-ng-switch-when="0">{$ ip.node_summary.via $}</span>
                            <span data-ng-switch-when="1">{$ ip.node_summary.via $}</span>
                            <span data-ng-switch-when="2">{$ ip.node_summary.via $}</span>
                            <span data-ng-switch-when="3">{$ ip.node_summary.via $}</span>
                            <span data-ng-switch-when="4">{$ ip.node_summary.via $}</span>
                            <span data-ng-switch-default>Unknown</span>
                        </td>
                        <td aria-label="Usage">{$ getUsageForIP(ip) $}</td>
                        <td aria-label="Owner">{$ ip.user ? ip.user : "MAAS" $}</td>
                        <td aria-label="Last seen">
                            <time>{$ ip.updated $}</time>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
