<div data-ng-if="!vlanDetails.loaded">
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div data-ng-if="vlanDetails.loaded">
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <div class="tablet-col-4 col-8">
                <h1 class="page-header__title">{$ vlanDetails.title $}</h1>
            </div>
            <div class="tablet-col-2 col-4">
                <!-- "Take action" dropdown -->
                <div class="page-header__controls" data-ng-if="vlanDetails.actionOptions.length">
                    <button class="p-button--neutral" data-ng-click="vlanDetails.deleteVLAN()">Delete VLAN</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="page-header__dropdown" data-ng-class="{ 'is-open': vlanDetails.actionOption }" data-ng-if="vlanDetails.actionOption">
                <div class="row u-no-margin--top">
                    <section class="page-header__section col-12" data-ng-if="!vlanDetails.isActionError()">
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'disable_dhcp' && vlanDetails.vlan.dhcp_on">
                            <i class="p-icon--warning">Warning:</i> Are you sure you want to disable DHCP on this VLAN? All subnets on this VLAN will be affected.
                        </p>
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'disable_dhcp' && vlanDetails.vlan.relay_vlan">
                            <i class="p-icon--warning">Warning:</i> Are you sure you want to disable DHCP relay on this VLAN? All subnets on this VLAN will be affected.
                        </p>
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'enable_dhcp' && vlanDetails.relatedSubnets.length === 0">
                            <i class="p-icon--error">Error:</i> No subnets are available on this VLAN. DHCP cannot be enabled.
                        </p>
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'delete'">
                            <i class="p-icon--warning">Warning:</i> Are you sure you want to delete this VLAN?
                        </p>
                        <div class="page-header__controls u-no-margin--top">
                            <button class="p-button--base" type="button" data-ng-click="vlanDetails.actionCancel()">Cancel</button>
                            <button data-ng-class="vlanDetails.actionOption.name === 'delete' ? 'p-button--negative' : 'button--positive'"  data-ng-click="vlanDetails.actionGo()" data-ng-disabled="!vlanDetails.canPerformAction()">{$ vlanDetails.actionOption.title $}</button>
                        </div>
                    </section>
                </div>
                <div class="row" data-ng-if="vlanDetails.isActionError()">
                    <section class="page-header__section col-12">
                        <p class="page-header__message page-header__message--error">{$ vlanDetails.actionError $}</p>
                        <div class="page-header__controls">
                            <button class="button--base button--inline u-margin--right" type="button" data-ng-click="vlanDetails.actionCancel()">Cancel</button>
                            <button class="button--secondary button--inline" data-ng-click="vlanDetails.actionRetry()">Retry</button>
                        </div>
                    </section>
                </div>
            </div>
            <!-- End of "Take action" dropdown -->
        </div>
    </header>
    <section class="p-strip is-bordered" data-ng-if="!vlanDetails.showDHCPPanel">
        <div class="row">
            <div class="col-6">
                <h2 class="p-heading--four">VLAN Summary</h2>
            </div>
            <div class="col-6">
                <button type="button" name="button" class="p-button--neutral u-float--right" data-ng-click="vlanDetails.enterEditSummary()" data-ng-if="!vlanDetails.editSummary && vlanDetails.isSuperUser()">Edit</button>
            </div>
        </div>
        <div class="p-form p-form--stacked row" data-ng-if="!vlanDetails.editSummary">
            <div class="col-6">
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                        <p>VID</p>
                    </div>
                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                        <p>{$ vlanDetails.vlan.vid $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                        <p>Name</p>
                    </div>
                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                        <p>{$ vlanDetails.vlan.name $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                        <p>MTU</p>
                    </div>
                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                        <p>{$ vlanDetails.vlan.mtu $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                        <p>Space</p>
                    </div>
                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                        <p>{$ vlanDetails.getSpaceName() $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                        <p>Description</p>
                    </div>
                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                        <p data-ng-if="vlanDetails.vlan.description">{$ vlanDetails.vlan.description $}</p>
                        <p data-ng-if="!vlanDetails.vlan.description">-</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-form__group">
                    <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                        <p>Fabric</p>
                    </div>
                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                        <p><a href="#/fabric/{$ vlanDetails.fabric.id $}">{$ vlanDetails.fabric.name $}</a></p>
                    </div>
                </div>
                <div class="p-form__group" data-ng-if="vlanDetails.relatedControllers">
                    <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                        <p>{$ vlanDetails.relatedControllers.length === 1 ? 'Rack controller' : 'Rack controllers' $}
                        <span class="p-tooltip p-tooltip--top-center">
                            <i class="p-icon--information">Help:</i>
                            <span class="p-tooltip__message" role="tooltip">A rack controller controls hosts and images and runs network services&#xa;like DHCP for connected VLANs.</span>
                        </span></p>
                    </div>
                    <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                        <span data-ng-repeat="rack in vlanDetails.relatedControllers">
                            <a href="#/controller/{$ rack.system_id $}">{$ rack.hostname $}</a><span ng-show="!$last">,</span>
                        </span>
                        <span data-ng-if="!vlanDetails.relatedControllers.length">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <maas-obj-form obj="vlanDetails.vlan" manager="vlanDetails.vlanManager" data-ng-disabled="!vlanDetails.isSuperUser()" data-ng-if="vlanDetails.editSummary"
            table-form="true" save-on-blur="false" after-save="vlanDetails.exitEditSummary" class="p-form--stacked">
                <div class="row">
                    <div class="col-6">
                        <maas-obj-field type="text" key="vid" label="VID" placeholder="VLAN VID"
                            blur-on-enter="true" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="name" label="Name" placeholder="VLAN name"
                            blur-on-enter="true" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="mtu" label="MTU" placeholder="VLAN MTU"
                            blur-on-enter="true" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="options" key="space" label="Space" placeholder="(undefined)" placeholder-enabled="true"
                            options="space.id as space.name for space in vlanDetails.spaces" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"
                            ></maas-obj-field>
                        <maas-obj-field type="textarea" key="description" label="Description" placeholder="VLAN description"
                            blur-on-enter="true" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                    </div>
                    <div class="col-6">
                        <maas-obj-field type="options" key="fabric" label="Fabric"
                                        options="fabric.id as fabric.name for fabric in vlanDetails.fabrics" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <div class="p-form__group" data-ng-if="vlanDetails.relatedControllers">
                            <div class="p-form__label is-disabled col-2 mobile-col-2 tablet-col-2">
                                <p>Rack controllers
                                <span class="p-tooltip p-tooltip--top-center">
                                    <i class="p-icon--information">Help:</i>
                                    <span class="p-tooltip__message" role="tooltip">A rack controller controls hosts and images and runs network services&#xa;like DHCP for connected VLANs.</span>
                                </span></p>
                            </div>
                            <div class="p-form__control col-3 mobile-col-2 tablet-col-3">
                                <p>
                                    <span data-ng-repeat="rack in vlanDetails.relatedControllers">
                                        <a href="#/controller/{$ rack.system_id $}">{$ rack.hostname $}</a><span ng-show="!$last">,</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row u-no-margin--top">
                    <div class="col-8 u-vertically-center">
                        <maas-obj-errors></maas-obj-errors>
                    </div>
                    <div class="row u-align--right">
                        <button class="p-button--base" type="button"
                        data-ng-click="vlanDetails.exitEditSummary()">Cancel</button>
                        <button class="p-button--positive" maas-obj-save>Save summary</button>
                    </div>
                </div>
            </maas-obj-form>
        </div>
    </section>

    <section class="p-strip" data-ng-if="vlanDetails.showDHCPPanel">
        <div class="row">
            <div class="p-card">
                <h2 class="p-heading--four">{$ vlanDetails.getDHCPPanelTitle(); $}</h2>

                <div class="row" data-ng-if="vlanDetails.DHCPError">
                    <div class="col-8">
                        <div class="p-notification--negative">
                            <p class="p-notification__response">
                                <span class="p-notification__status">Error:</span>
                                {$ vlanDetails.DHCPError $}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row" data-ng-if="vlanDetails.vlan.external_dhcp">
                    <div class="col-8">
                        <div class="p-notification--caution">
                            <p class="p-notification__response">
                                <span class="p-notification__status">Warning:</span>
                                DHCP is already provided by {$ vlanDetails.vlan.external_dhcp $} (an external server to MAAS). Additionally enabling MAAS-provided DHCP may cause failures. Proceed with caution.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="p-form__group">
                            <div class="p-form__label col-2 mobile-col-2 tablet-col-2">
                                <label for="MAASProvidesDHCP">MAAS provides DHCP</label>
                            </div>
                            <div class="p-form__control col-4 mobile-col-4 tablet-col-4">
                                <input type="checkbox" name="MAASProvidesDHCP" id="MAASProvidesDHCP" data-ng-checked="vlanDetails.MAASProvidesDHCP" data-ng-click="vlanDetails.toggleMAASProvidesDHCP()">
                                <label for="MAASProvidesDHCP" class="u-no-margin--top">&nbsp;</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-if="!vlanDetails.MAASProvidesDHCP">
                    <div class="col-8">
                        <div class="p-notification--caution">
                            <p class="p-notification__response">
                                <span class="p-notification__status">Warning:</span>
                                Are you sure you want to disable DHCP relay on this VLAN? All subnets on this VLAN will be affected.
                            </p>
                        </div>
                    </div>
                </div>
                <div data-ng-class="{ 'u-disable': !vlanDetails.MAASProvidesDHCP }">
                    <div class="row">
                        <div class="col-6">
                            <div class="p-form__group">
                                <div class="p-form__label col-2 mobile-col-2 tablet-col-2">
                                    Type
                                </div>
                                <div class="p-form__control col-4 mobile-col-4 tablet-col-4">
                                    <p>
                                        <input type="radio" name="provideDHCP" id="provideDHCP" data-ng-checked="vlanDetails.provideDHCP" data-ng-click="vlanDetails.setDHCPAction('provideDHCP')">
                                        <label for="provideDHCP">Provide DHCP from rack controller</label>
                                    </p>
                                    <p>
                                        <input type="radio" name="relayVLAN" id="relayVLAN" data-ng-checked="vlanDetails.relayVLAN" data-ng-click="vlanDetails.setDHCPAction('relayVLAN')">
                                        <label for="relayVLAN">Relay to another VLAN</label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-strip is-shallow">
                        <div class="row">
                            <div class="col-6" data-ng-if="vlanDetails.provideDHCP">
                                <div class="p-form__group" data-ng-hide="vlanDetails.relatedSubnets.length === 0">
                                    <label for="primary-rack" class="p-form__group-label col-2 mobile-col-2 tablet-col-2">
                                        {$ vlanDetails.relatedControllers.length <= 1 ? "Rack controller" : "Primary controller" $}
                                    </label>
                                    <div class="p-form__group-input col-4 mobile-col-4 tablet-col-4">
                                        <p data-ng-if="vlanDetails.relatedControllers.length === 1">{$ vlanDetails.relatedControllers[0].hostname $}</p>
                                        <select
                                            name="primary-rack"
                                            data-ng-model="vlanDetails.provideDHCPAction.primaryRack"
                                            data-ng-change="vlanDetails.updatePrimaryRack()"
                                            data-ng-options="rack.system_id as rack.hostname for rack in vlanDetails.relatedControllers"
                                            data-ng-if="vlanDetails.relatedControllers.length > 1"
                                        >at
                                            <option
                                                value=""
                                                disabled="disabled"
                                                selected="selected"
                                                data-ng-if="vlanDetails.provideDHCPAction.primaryRack === ''"
                                            >
                                                Choose primary controller
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-form__group" data-ng-hide="vlanDetails.relatedSubnets.length === 0 || vlanDetails.relatedControllers.length <= 1">
                                    <label for="secondary-rack" class="p-form__group-label col-2 mobile-col-2 tablet-col-2">Secondary controller</label>
                                    <div class="p-form__group-input col-4 mobile-col-4 tablet-col-4">
                                        <select
                                            name="secondary-rack"
                                            data-ng-if="vlanDetails.relatedControllers.length > 1"
                                            data-ng-disabled="!vlanDetails.provideDHCPAction.primaryRack && vlanDetails.relatedControllers.length > 1"
                                            data-ng-model="vlanDetails.provideDHCPAction.secondaryRack"
                                            data-ng-change="vlanDetails.updateSecondaryRack()"
                                            data-ng-options="rack.system_id as rack.hostname for rack in vlanDetails.relatedControllers | filter:vlanDetails.filterPrimaryRack"
                                        >
                                            <option
                                                value=""
                                                selected="selected"
                                                data-ng-if="vlanDetails.relatedControllers.length >= 2"
                                            >
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8" data-ng-if="vlanDetails.relayVLAN">
                                <div class="p-form__group">
                                    <label for="relay_vlan" class="p-form__group-label col-2 mobile-col-2 tablet-col-2">Relay to another VLAN</label>
                                    <div class="p-form__group-input col-4 mobile-col-4 tablet-col-4">
                                        <select name="relay_vlan" data-ng-model="vlanDetails.provideDHCPAction.relayVLAN"
                                            data-ng-options="vlan as vlanDetails.getFullVLANName(vlan.id) for vlan in vlanDetails.vlans | ignoreSelf:vlanDetails.vlan | removeNoDHCP:vlanDetails.vlan">
                                            <option value="" disabled="disabled" selected="selected">Select target VLAN</option>
                                        </select>
                                        <p class="p-form-help-text">You are responsible for forwarding the DHCP traffic from this VLAN (the source) to the relay VLAN (the destination).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="p-heading--four">Reserved dynamic range</h2>
                        <table class="p-table">
                            <thead>
                                <tr>
                                    <th>Subnet</th>
                                    <th>Start IP address</th>
                                    <th>End IP address</th>
                                    <th data-ng-if="vlanDetails.showGatewayCol()">Gateway IP</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="iprange in vlanDetails.iprangesInVLAN | orderBy:ipRangeSort">
                                    <td aria-label="Subnet">{$ iprange.subnet $}</td>
                                    <td aria-label="Start IP address">{$ iprange.start_ip $}</td>
                                    <td aria-label="End IP address">{$ iprange.end_ip $}</td>
                                    <td aria-label="Gateway IP" data-ng-if="vlanDetails.showGatewayCol()">{$ iprange.gateway_ip $}</td>
                                    <td aria-label="Comment">Dynamic</td>
                                </tr>
                                <tr data-ng-if="vlanDetails.iprangesInVLAN.length === 0">
                                    <td aria-label="Subnet">
                                        <select
                                            name="subnet"
                                            data-ng-model="vlanDetails.provideDHCPAction.subnet"
                                            data-ng-change="vlanDetails.updateSubnet(false)"
                                            data-ng-options="row.subnet.id as row.subnet.cidr for row in vlanDetails.relatedSubnets"
                                        >
                                            <option value="" disabled="disabled" selected="selected">Choose subnet</option>
                                        </select>
                                    </td>
                                    <td aria-label="Start IP address">
                                        <input
                                            type="text"
                                            name="start-ip"
                                            id="start-ip"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.startPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.startIP"
                                        >
                                    </td>
                                    <td aria-label="End IP address">
                                        <input
                                            type="text"
                                            name="end-ip"
                                            id="end-ip"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.endPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.endIP"
                                        >
                                    </td>
                                    <td aria-label="Gateway IP" data-ng-if="vlanDetails.showGatewayCol()">
                                        <input
                                            type="text"
                                            name="range-gateway-ip"
                                            id="range-gateway-ip"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.gatewayPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.gatewayIP"
                                        >
                                    </td>
                                    <td aria-label="Comment">
                                        <input type="text" name="range-comment" id="range-comment" data-ng-model="vlanDetails.suggestedRange.comment">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 u-align--right">
                        <button class="p-button--base u-no-margin--bottom" data-ng-click="vlanDetails.closeDHCPPanel()">Cancel</button>
                        <button class="p-button--positive u-no-margin--bottom" data-ng-click="vlanDetails.enableDHCP()" data-ng-if="vlanDetails.provideDHCP && vlanDetails.MAASProvidesDHCP">
                            <span data-ng-if="vlanDetails.isProvidingDHCP">
                                <span class="p-icon--spinner u-animation--spin is-light"></span>&nbsp;
                            </span>
                            {$ vlanDetails.getDHCPPanelTitle() $}
                        </button>
                        <span class="p-tooltip p-tooltip--top-right" aria-describedby="dhcp-tooltip">
                            <button class="p-button--positive u-no-margin--bottom" data-ng-click="vlanDetails.relayDHCP()" data-ng-if="vlanDetails.relayVLAN && vlanDetails.MAASProvidesDHCP" data-ng-disabled="!vlanDetails.provideDHCPAction.relayVLAN">
                                <span data-ng-if="vlanDetails.isProvidingDHCP">
                                    <span class="p-icon--spinner u-animation--spin is-light"></span>&nbsp;
                                </span>
                                Relay DHCP
                            </button>
                            <span class="p-tooltip__message" id="dhcp-tooltip" data-ng-if="!vlanDetails.provideDHCPAction.relayVLAN && vlanDetails.getAvailableVLANS()">You must select a target VLAN to enable DHCP relay</span>
                            <span class="p-tooltip__message" id="dhcp-tooltip" data-ng-if="!vlanDetais.provideDHCPAction.relayVLAN && !vlanDetails.getAvailableVLANS()">No DHCP enabled on any VLAN</span>
                        </span>
                        <button class="p-button--positive u-no-margin--bottom" data-ng-click="vlanDetails.disableDHCP()" data-ng-if="!vlanDetails.MAASProvidesDHCP">
                            <span data-ng-if="vlanDetails.isProvidingDHCP">
                                <span class="p-icon--spinner u-animation--spin is-light"></span>&nbsp;
                            </span>
                            {$ vlanDetails.getDHCPPanelTitle() $}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-strip" data-ng-if="!vlanDetails.showDHCPPanel">
        <div class="row">
            <div class="col-6">
                <h2 class="p-heading--four">DHCP</h2>
                <h4 data-ng-if="vlanDetails.primaryRack && vlanDetails.secondaryRack" class="u-off-screen p-heading--five"> High availability</h4>
            </div>
            <div class="col-6 u-align--right">
                <button class="p-button--neutral" data-ng-if="vlanDetails.relatedSubnets.length" data-ng-click="vlanDetails.openDHCPPanel()">
                    {$ vlanDetails.getDHCPButtonText() $}
                </button>
                <button class="p-button--neutral p-tooltip p-tooltip--top-right" data-ng-if="!vlanDetails.relatedSubnets.length" disabled>
                    Enable DHCP
                    <span class="p-tooltip__message">No subnets are available on this VLAN. DHCP cannot be enabled.</span>
                </button>
            </div>
        </div>
        <div class="p-form p-form--stacked row">
            <div class="col-8">
                <div class="p-form__group" data-ng-if="vlanDetails.primaryRack && vlanDetails.secondaryRack && vlanDetails.getDHCPStatus() !== 'Disabled'">
                    <div class="p-form__label">
                        <p>High availability&nbsp;<span class="p-icon--success"></span></p>
                    </div>
                </div>

                <div class="p-form__group">
                    <div class="p-form__label is-disabled">
                        <p>Status</p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.getDHCPStatus() $}</p>
                    </div>
                </div>

                <div class="p-form__group" data-ng-if="vlanDetails.vlan.external_dhcp && vlanDetails.getDHCPStatus() !== 'Disabled'">
                    <div class="p-form__label is-disabled">
                        <p>External DHCP</p>
                    </div>
                    <div class="p-form__control">
                        <p>
                            {$ vlanDetails.vlan.external_dhcp $}
                            <span class="p-tooltip p-tooltip--top-center">
                                <i class="p-icon--warning">Warning:</i>
                                <span class="p-tooltip__message" role="tooltip">Another DHCP server has been discovered on this VLAN. Enabling DHCP is not recommended.</span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="p-form__group" data-ng-if="vlanDetails.primaryRack && vlanDetails.getDHCPStatus() !== 'Disabled'">
                    <div class="p-form__label is-disabled">
                        <p>
                            {$ vlanDetails.secondaryRack ? 'Primary controller' : 'Rack controller' $}
                            <span class="p-tooltip p-tooltip--top-center">
                                <i class="p-icon--help">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">The rack controller on which the DHCP service runs.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.primaryRack.hostname $}</p>
                    </div>
                </div>
                <div class="p-form__group" data-ng-if="vlanDetails.secondaryRack && vlanDetails.getDHCPStatus() !== 'Disabled'">
                    <div class="p-form__label is-disabled">
                        <p>
                            Secondary controller
                            <span class="p-tooltip p-tooltip--top-center">
                                <i class="p-icon--help">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">The rack controller that will take over DHCP services if the primary fails.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.secondaryRack.hostname $}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-strip" data-ng-if="!vlanDetails.showDHCPPanel">
        <div class="row">
            <maas-ip-ranges vlan="vlanDetails.vlan"></maas-ip-ranges>
        </div>
    </section>
    <section class="p-strip" data-ng-if="!vlanDetails.showDHCPPanel">
        <div class="row">
            <div class="col-12">
                <h2 class="p-heading--four">Subnets on this VLAN</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="col-6">Subnet</th>
                        <th class="col-2">Used</th>
                        <th class="col-4">Space</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in vlanDetails.relatedSubnets">
                        <td class="col-6" aria-label="Subnet"><a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet.cidr $}</a></td>
                        <td class="col-2" aria-label="Used">{$ row.subnet.statistics.usage_string $}</td>
                        <td class="col-4" aria-label="Space"><a href="#space/{$ row.space.id $}">{$ row.space.name $}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>
